## 학급 분위기

### 공동체 의식 채점

In [1]:
import pandas as pd

df = pd.read_excel('AC000120255019FA1_학생_자기보고_응답.xlsx')
print(df)

   학생 이름  학번 성별                                                응답값
0    김하윤   1  여  {"questionChoiceList":[{"questionNo":1,"choice...
1    이준서   2  남  {"questionChoiceList":[{"questionNo":1,"choice...
2    박서연   3  여  {"questionChoiceList":[{"questionNo":1,"choice...
3    최민준   4  남  {"questionChoiceList":[{"questionNo":1,"choice...
4    정예은   5  여  {"questionChoiceList":[{"questionNo":1,"choice...
5    강도윤   6  남  {"questionChoiceList":[{"questionNo":1,"choice...
6    오서준   7  남  {"questionChoiceList":[{"questionNo":1,"choice...
7    윤지우   8  여  {"questionChoiceList":[{"questionNo":1,"choice...
8    한예진   9  여  {"questionChoiceList":[{"questionNo":1,"choice...
9    장하람  10  여  {"questionChoiceList":[{"questionNo":1,"choice...
10   조하린  11  여  {"questionChoiceList":[{"questionNo":1,"choice...
11   배수아  12  여  {"questionChoiceList":[{"questionNo":1,"choice...
12   남윤후  13  남  {"questionChoiceList":[{"questionNo":1,"choice...
13   서채은  14  여  {"questionChoiceList":[{"questionNo":1,"choice...
14   문지아  16  여  {"questionChoiceList":[{"questionNo":1,"choice...
15   류하진  17  남  {"questionChoiceList":[{"questionNo":1,"choice...
16   신도현  18  남  {"questionChoiceList":[{"questionNo":1,"choice...
17   홍지우  19  남  {"questionChoiceList":[{"questionNo":1,"choice...
18   유하늘  20  남  {"questionChoiceList":[{"questionNo":1,"choice...
19   노지아  21  여  {"questionChoiceList":[{"questionNo":1,"choice...
20   권민서  22  여  {"questionChoiceList":[{"questionNo":1,"choice...

In [2]:
import json
json_data = df['응답값'][0]
json_data = json.loads(json_data)
print(json_data)
response_json_data = json_data['questionChoiceList']
print(response_json_data)

for item in response_json_data:
    if item['questionNo'] in [31,32,33,34] :
        print(item['choiceScore'])

{'questionChoiceList': [{'questionNo': 1, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 2, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 3, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 4, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 5, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 6, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 7, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 8, 'choiceNo': '5', 'choiceScore': '1'}, {'questionNo': 9, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 10, 'choiceNo': '5', 'choiceScore': '1'}, {'questionNo': 11, 'choiceNo': '2', 'choiceScore': '4'}, {'questionNo': 12, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 13, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 14, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 15, 'choiceNo': '5', 'choiceScore': '1'}, {'questionNo': 16, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 17, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 18, 'choiceNo': '1', 'choiceScore': '5'}, {'questionNo': 19, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 20, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 21, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 22, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 23, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 24, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 25, 'choiceNo': '1', 'choiceScore': '5'}, {'questionNo': 26, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 27, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 28, 'choiceNo': '5', 'choiceScore': '1'}, {'questionNo': 29, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 30, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 31, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 32, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 33, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 34, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 35, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 36, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 37, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 38, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 39, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 40, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 41, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 42, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 43, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 44, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 45, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 46, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 47, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 48, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 49, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 50, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 51, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 52, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 53, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 54, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 55, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 56, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 57, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 58, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 59, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 60, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 61, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 62, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 63, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 64, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 65, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 66, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 67, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 68, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 69, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 70, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 71, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 72, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 73, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 74, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 75, 'choiceNo': '1', 'choiceScore': '1'}]}
[{'questionNo': 1, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 2, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 3, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 4, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 5, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 6, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 7, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 8, 'choiceNo': '5', 'choiceScore': '1'}, {'questionNo': 9, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 10, 'choiceNo': '5', 'choiceScore': '1'}, {'questionNo': 11, 'choiceNo': '2', 'choiceScore': '4'}, {'questionNo': 12, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 13, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 14, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 15, 'choiceNo': '5', 'choiceScore': '1'}, {'questionNo': 16, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 17, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 18, 'choiceNo': '1', 'choiceScore': '5'}, {'questionNo': 19, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 20, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 21, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 22, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 23, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 24, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 25, 'choiceNo': '1', 'choiceScore': '5'}, {'questionNo': 26, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 27, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 28, 'choiceNo': '5', 'choiceScore': '1'}, {'questionNo': 29, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 30, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 31, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 32, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 33, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 34, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 35, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 36, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 37, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 38, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 39, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 40, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 41, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 42, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 43, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 44, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 45, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 46, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 47, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 48, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 49, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 50, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 51, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 52, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 53, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 54, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 55, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 56, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 57, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 58, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 59, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 60, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 61, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 62, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 63, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 64, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 65, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 66, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 67, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 68, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 69, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 70, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 71, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 72, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 73, 'choiceNo': '5', 'choiceScore': '5'}, {'questionNo': 74, 'choiceNo': '1', 'choiceScore': '1'}, {'questionNo': 75, 'choiceNo': '1', 'choiceScore': '1'}]
3
2
1
1

In [3]:
import numpy as np

response_arr = None
for i in range(len(df['응답값'])) :
    print(i+1)
    json_data = df['응답값'][i]
    json_data = json.loads(json_data)
    response_json_data = json_data['questionChoiceList']
    response_data = []

    for item in response_json_data:
        response_data.append(item['choiceScore'])
    if response_arr is None:
        response_arr = np.array(response_data)
    else:
        response_arr = np.vstack([response_arr, response_data])
        
print(response_arr)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
[['1' '1' '1' ... '5' '1' '1']
 ['5' '2' '4' ... '3' '5' '4']
 ['4' '2' '1' ... '5' '4' '5']
 ...
 ['4' '4' '4' ... '4' '5' '5']
 ['2' '1' '1' ... '1' '3' '5']
 ['1' '5' '2' ... '4' '4' '5']]

In [4]:
df = pd.concat([df[['학생 이름', '학번', '성별']], pd.DataFrame(response_arr)], axis=1)
test = df[[31, 32, 33, 34]].mean(axis=1)
print(test)
# ??? 값이 문자열로 되어있나 ???

0      528.75
1      1388.5
2     1027.75
3      303.75
4       528.5
5      363.25
6     1107.75
7      886.25
8       278.0
9      838.75
10    1083.75
11      381.0
12      885.5
13     627.75
14    1386.25
15     887.75
16      278.5
17      278.0
18      388.5
19     1136.0
20     386.25
dtype: object

In [5]:
print(df[[31, 32, 33, 34]].dtypes)

31    object
32    object
33    object
34    object
dtype: object

In [6]:
df[[i for i in range(0, 75)]] = df[[i for i in range(0, 75)]].apply(pd.to_numeric, errors='coerce')

In [7]:
print(df[[31, 32, 33, 34]].dtypes)

31    int64
32    int64
33    int64
34    int64
dtype: object

In [8]:
df['공동체_의식'] = df[[30, 31, 32, 33]].mean(axis=1)
print(df)

sense_of_community = round(df['공동체_의식'].mean(axis=0),2)
print(f'학급 분위기_공동체 의식 : {sense_of_community}')

   학생 이름  학번 성별  0  1  2  3  4  5  6  ...  66  67  68  69  70  71  72  73  74  \
0    김하윤   1  여  1  1  1  1  5  1  1  ...   5   4   4   1   4   5   5   1   1
1    이준서   2  남  5  2  4  5  4  2  1  ...   3   4   4   5   2   4   3   5   4
2    박서연   3  여  4  2  1  1  1  5  5  ...   1   5   4   3   5   5   5   4   5
3    최민준   4  남  4  5  4  5  5  5  1  ...   5   5   5   5   3   4   4   4   4
4    정예은   5  여  2  2  4  5  5  5  4  ...   2   4   1   1   4   2   1   2   2
5    강도윤   6  남  3  5  4  1  4  5  5  ...   5   4   3   1   3   1   5   4   5
6    오서준   7  남  1  2  5  1  5  5  4  ...   2   5   1   4   5   5   5   5   5
7    윤지우   8  여  5  1  4  5  4  1  5  ...   5   3   1   1   2   1   5   1   1
8    한예진   9  여  5  5  5  4  2  5  5  ...   4   4   4   3   1   4   1   3   4
9    장하람  10  여  3  1  5  5  4  4  4  ...   4   1   1   1   3   1   1   3   1
10   조하린  11  여  1  3  5  5  1  5  4  ...   3   4   3   5   5   4   4   5   5
11   배수아  12  여  5  5  5  1  1  5  1  ...   4   3   4   4   4   5   4   4   5
12   남윤후  13  남  5  5  3  4  3  4  3  ...   5   1   2   1   2   1   1   1   1
13   서채은  14  여  1  2  1  1  4  1  1  ...   1   5   5   5   5   1   1   5   5
14   문지아  16  여  3  2  4  5  4  4  5  ...   2   2   4   1   1   4   5   1   4
15   류하진  17  남  3  5  4  3  5  5  1  ...   5   4   5   1   2   2   1   2   1
16   신도현  18  남  1  1  1  1  3  5  1  ...   2   1   1   1   4   4   3   5   5
17   홍지우  19  남  4  3  5  3  4  1  5  ...   4   3   3   3   5   3   3   3   3
18   유하늘  20  남  4  4  4  4  5  4  1  ...   2   1   3   5   5   4   4   5   5
19   노지아  21  여  2  1  1  5  4  4  1  ...   5   4   5   3   4   5   1   3   5
20   권민서  22  여  1  5  2  4  1  1  4  ...   4   5   5   4   1   4   4   4   5

    공동체_의식
0     1.75
1     5.00
2     2.00
3     1.25
4     1.25
5     2.75
6     3.00
7     3.75
8     1.00
9     3.25
10    2.75
11    3.00
12    3.50
13    2.50
14    4.75
15    4.00
16    1.00
17    2.00
18    4.00
19    4.50
20    3.00

[21 rows x 79 columns]
학급 분위기_공동체 의식 : 2.86

In [169]:
'''
--- !!! ---
25.06.30 오후 2시
공동체 의식은 학생 개별 응답과 산출값 간 불일치로 인해
학급 분위기 결과 역시 정확한 검증이 어려움.
이에 따라 해당 항목의 결과값 검수는 보류함.

25.06.30 오후 2시 20분
문항값을 잘못가지고 와서 수정 반영함.
확인해보니 일치함.
'''

'\n--- !!! ---\n25.06.30 오후 2시\n공동체 의식은 학생 개별 응답과 산출값 간 불일치로 인해\n학급 분위기 결과 역시 정확한 검증이 어려움.\n이에 따라 해당 항목의 결과값 검수는 보류함.\n\n25.06.30 오후 2시 20분\n문항값을 잘못가지고 와서 수정 반영함.\n확인해보니 일치함.\n'

### 공격성 규범

In [9]:
import pandas as pd

df = pd.read_excel('5학년_1반_전수(AC000120255019FA1)/AC000120255019FA1_또래지명_응답.xlsx')
print(df)

    지명한 학생  학번 성별  문항번호 지명받은 학생
0      이준서   2  남     6     김하윤
1      박서연   3  여     8     김하윤
2      최민준   4  남     3     김하윤
3      강도윤   6  남     3     김하윤
4      강도윤   6  남     4     김하윤
..     ...  .. ..   ...     ...
614    유하늘  20  남    10     권민서
615    유하늘  20  남    16     권민서
616    노지아  21  여     6     권민서
617    노지아  21  여    10     권민서
618    노지아  21  여    11     권민서

[619 rows x 5 columns]

In [11]:
# 학생 명단 먼저 확보

student_df = pd.read_excel('5학년_1반_전수(AC000120255019FA1)/AC000120255019FA1_학생 명단.xlsx')
student_list = student_df['학생 이름'].to_list()
print(student_list)

['김하윤', '이준서', '박서연', '최민준', '정예은', '강도윤', '오서준', '윤지우', '한예진', '장하람', '조하린', '배수아', '남윤후', '서채은', '이아린', '문지아', '류하진', '신도현', '홍지우', '유하늘', '노지아', '권민서']

In [12]:
df.dtypes

지명한 학생     object
학번          int64
성별         object
문항번호        int64
지명받은 학생    object
dtype: object

In [13]:
df['문항번호'].isin([4,5,6,7])

0       True
1      False
2      False
3      False
4       True
       ...
614    False
615    False
616     True
617    False
618    False
Name: 문항번호, Length: 619, dtype: bool

In [14]:
aggression_item_no = [4,5,6,7]
temp_df=df[df['문항번호'].isin(aggression_item_no)]
print(temp_df)

    지명한 학생  학번 성별  문항번호 지명받은 학생
0      이준서   2  남     6     김하윤
4      강도윤   6  남     4     김하윤
6      오서준   7  남     4     김하윤
7      한예진   9  여     7     김하윤
8      장하람  10  여     5     김하윤
..     ...  .. ..   ...     ...
572    유하늘  20  남     4     노지아
576    김하윤   1  여     5     권민서
580    박서연   3  여     5     권민서
589    오서준   7  남     6     권민서
616    노지아  21  여     6     권민서

[145 rows x 5 columns]

In [15]:
# 지명수 구하는 함수
def count_point(df, student_list, item_no) :
    temp_df = df[df['문항번호'].isin(item_no)]
    count_list = []
    for student in student_list :
        if len(temp_df[temp_df['지명받은 학생']==student]) >= 1 :
            freq = len(temp_df[temp_df['지명받은 학생']==student])
        elif len(temp_df[temp_df['지명받은 학생']==student]) == 0 :
            freq = 0
        count_list.append(freq)
    count_point_df = pd.DataFrame({'학생 이름': student_list, '지명수': count_list})
    return count_point_df

In [16]:
count_point_df = count_point(df, student_list, aggression_item_no)
print(count_point_df)

   학생 이름  지명수
0    김하윤   11
1    이준서    3
2    박서연    7
3    최민준    1
4    정예은    9
5    강도윤   11
6    오서준    5
7    윤지우    7
8    한예진    4
9    장하람    4
10   조하린    7
11   배수아    9
12   남윤후    4
13   서채은    8
14   이아린    8
15   문지아    2
16   류하진   10
17   신도현    9
18   홍지우    9
19   유하늘    5
20   노지아    8
21   권민서    4

In [17]:
'''
--- !!! ---
25.06.30 오후 3시 37분
공격성 규범은 학생(윤지후, 양지호, 조수아, 조서윤) 개별 응답과 산출값 간 불일치로 인해
학급 분위기 결과 역시 정확한 검증이 어려움.
이에 따라 해당 항목의 결과값 검수는 보류함.
'''

'\n--- !!! ---\n25.06.30 오후 3시 37분\n공격성 규범은 학생(윤지후, 양지호, 조수아, 조서윤) 개별 응답과 산출값 간 불일치로 인해\n학급 분위기 결과 역시 정확한 검증이 어려움.\n이에 따라 해당 항목의 결과값 검수는 보류함.\n'

In [27]:
# 함수는 만들어 놓고
aggression_item_no = [4,5,6,7]
item_no14 = [14]
aggression_count_point_df = count_point(df, student_list, aggression_item_no)
no14_count_point_df = count_point(df, student_list, item_no14)
print(aggression_count_point_df)
print(no14_count_point_df)
multiply_df = aggression_count_point_df.merge(no14_count_point_df, on='학생 이름')
multiply_df.columns = ['학생 이름', '공격지명수', '친구지명수']
multiply_df['공격지명*친구 지명'] = multiply_df['공격지명수'] * multiply_df['친구지명수']
print(multiply_df)
multiply_df.sort_values(by='공격지명*친구 지명', ascending=False, inplace=True)
print(multiply_df)
top5_df = multiply_df.head(5)
top5_mean = top5_df['공격지명*친구 지명'].mean()
total_mean = multiply_df['공격지명*친구 지명'].mean()
weighted_mean = 0.4 * (top5_mean) + 0.6 * (total_mean)
print(weighted_mean)
weighted_mean = 4 * ((min(max(weighted_mean, 0), 67)-0)/67)+1
print(top5_mean, total_mean)
print(f'공격성 규범 : {weighted_mean}')

   학생 이름  지명수
0    김하윤   11
1    이준서    3
2    박서연    7
3    최민준    1
4    정예은    9
5    강도윤   11
6    오서준    5
7    윤지우    7
8    한예진    4
9    장하람    4
10   조하린    7
11   배수아    9
12   남윤후    4
13   서채은    8
14   이아린    8
15   문지아    2
16   류하진   10
17   신도현    9
18   홍지우    9
19   유하늘    5
20   노지아    8
21   권민서    4
   학생 이름  지명수
0    김하윤    3
1    이준서    2
2    박서연    2
3    최민준    2
4    정예은    2
5    강도윤    0
6    오서준    1
7    윤지우    3
8    한예진    1
9    장하람    2
10   조하린    4
11   배수아    3
12   남윤후    0
13   서채은    3
14   이아린    0
15   문지아    2
16   류하진    3
17   신도현    1
18   홍지우    0
19   유하늘    1
20   노지아    1
21   권민서    1
   학생 이름  공격지명수  친구지명수  공격지명*친구 지명
0    김하윤     11      3          33
1    이준서      3      2           6
2    박서연      7      2          14
3    최민준      1      2           2
4    정예은      9      2          18
5    강도윤     11      0           0
6    오서준      5      1           5
7    윤지우      7      3          21
8    한예진      4      1           4
9    장하람      4      2           8
10   조하린      7      4          28
11   배수아      9      3          27
12   남윤후      4      0           0
13   서채은      8      3          24
14   이아린      8      0           0
15   문지아      2      2           4
16   류하진     10      3          30
17   신도현      9      1           9
18   홍지우      9      0           0
19   유하늘      5      1           5
20   노지아      8      1           8
21   권민서      4      1           4
   학생 이름  공격지명수  친구지명수  공격지명*친구 지명
0    김하윤     11      3          33
16   류하진     10      3          30
10   조하린      7      4          28
11   배수아      9      3          27
13   서채은      8      3          24
7    윤지우      7      3          21
4    정예은      9      2          18
2    박서연      7      2          14
17   신도현      9      1           9
9    장하람      4      2           8
20   노지아      8      1           8
1    이준서      3      2           6
6    오서준      5      1           5
19   유하늘      5      1           5
8    한예진      4      1           4
15   문지아      2      2           4
21   권민서      4      1           4
3    최민준      1      2           2
12   남윤후      4      0           0
5    강도윤     11      0           0
14   이아린      8      0           0
18   홍지우      9      0           0
18.178181818181816
28.4 11.363636363636363
공격성 규범 : 2.0852645861601085

In [ ]:
'''
--- !!! ---
25.06.30 오후 5시 00분
공격성 규범은 학생(윤지후, 양지호, 조수아, 조서윤) 개별 응답과 산출값 간 불일치인데
학급 분위기 결과는 일치함.
'''
# ! 가중평균의 파라미터 설정을 다시 해야할 수 있음. 5학년 1반_전수(AC000120255019FA1)에서 공격성 규범이 충분히 커보이는데 낮게 결과값이 낮게 나타남

'\n--- !!! ---\n25.06.30 오후 5시 00분\n공격성 규범은 학생(윤지후, 양지호, 조수아, 조서윤) 개별 응답과 산출값 간 불일치인데\n학급 분위기 결과는 일치함.\n'

### 사회성 규범

In [29]:
import pandas as pd

df = pd.read_excel('5학년_1반_전수(AC000120255019FA1)/AC000120255019FA1_또래지명_응답.xlsx')
print(df)

    지명한 학생  학번 성별  문항번호 지명받은 학생
0      이준서   2  남     6     김하윤
1      박서연   3  여     8     김하윤
2      최민준   4  남     3     김하윤
3      강도윤   6  남     3     김하윤
4      강도윤   6  남     4     김하윤
..     ...  .. ..   ...     ...
614    유하늘  20  남    10     권민서
615    유하늘  20  남    16     권민서
616    노지아  21  여     6     권민서
617    노지아  21  여    10     권민서
618    노지아  21  여    11     권민서

[619 rows x 5 columns]

In [30]:
# 학생 명단 먼저 확보

student_df = pd.read_excel('5학년_1반_전수(AC000120255019FA1)/AC000120255019FA1_학생 명단.xlsx')
student_list = student_df['학생 이름'].to_list()
print(student_list)

['김하윤', '이준서', '박서연', '최민준', '정예은', '강도윤', '오서준', '윤지우', '한예진', '장하람', '조하린', '배수아', '남윤후', '서채은', '이아린', '문지아', '류하진', '신도현', '홍지우', '유하늘', '노지아', '권민서']

In [31]:
df.dtypes

지명한 학생     object
학번          int64
성별         object
문항번호        int64
지명받은 학생    object
dtype: object

In [32]:
item_no = [8,9]
temp_df=df[df['문항번호'].isin(item_no)]
print(temp_df)

    지명한 학생  학번 성별  문항번호 지명받은 학생
1      박서연   3  여     8     김하윤
14     신도현  18  남     9     김하윤
26     오서준   7  남     8     이준서
27     윤지우   8  여     8     이준서
37     류하진  17  남     8     이준서
43     김하윤   1  여     8     박서연
46     이준서   2  남     8     박서연
47     이준서   2  남     9     박서연
56     장하람  10  여     8     박서연
58     남윤후  13  남     8     박서연
59     서채은  14  여     9     박서연
61     문지아  16  여     8     박서연
68     유하늘  20  남     9     박서연
75     윤지우   8  여     9     최민준
76     장하람  10  여     8     최민준
81     문지아  16  여     8     최민준
95     박서연   3  여     8     정예은
117    류하진  17  남     9     정예은
148    유하늘  20  남     8     강도윤
149    유하늘  20  남     9     강도윤
156    윤지우   8  여     8     오서준
165    류하진  17  남     8     오서준
169    신도현  18  남     9     오서준
189    정예은   5  여     8     윤지우
196    장하람  10  여     9     윤지우
199    배수아  12  여     8     윤지우
215    장하람  10  여     9     한예진
221    배수아  12  여     9     한예진
238    권민서  22  여     9     한예진
272    정예은   5  여     8     조하린
283    이아린  15  여     9     조하린
327    한예진   9  여     8     남윤후
344    권민서  22  여     9     남윤후
359    배수아  12  여     8     서채은
379    조하린  11  여     9     이아린
387    권민서  22  여     9     이아린
406    남윤후  13  남     8     문지아
413    신도현  18  남     8     문지아
420    이준서   2  남     9     류하진
432    윤지우   8  여     8     류하진
433    장하람  10  여     8     류하진
442    노지아  21  여     8     류하진
443    노지아  21  여     9     류하진
451    최민준   4  남     9     신도현
458    윤지우   8  여     9     신도현
465    배수아  12  여     9     신도현
475    권민서  22  여     8     신도현
478    이준서   2  남     8     홍지우
479    박서연   3  여     8     홍지우
489    윤지우   8  여     9     홍지우
493    조하린  11  여     8     홍지우
494    조하린  11  여     9     홍지우
498    배수아  12  여     9     홍지우
500    남윤후  13  남     8     홍지우
513    최민준   4  남     9     유하늘
530    서채은  14  여     9     유하늘
536    문지아  16  여     8     유하늘
590    오서준   7  남     8     권민서
601    조하린  11  여     8     권민서
602    배수아  12  여     8     권민서

In [33]:
# 지명수 구하는 함수
def count_point(df, student_list, item_no) :
    temp_df = df[df['문항번호'].isin(item_no)]
    count_list = []
    for student in student_list :
        if len(temp_df[temp_df['지명받은 학생']==student]) >= 1 :
            freq = len(temp_df[temp_df['지명받은 학생']==student])
        elif len(temp_df[temp_df['지명받은 학생']==student]) == 0 :
            freq = 0
        count_list.append(freq)
    count_point_df = pd.DataFrame({'학생 이름': student_list, '지명수': count_list})
    return count_point_df

In [34]:
count_point_df = count_point(df, student_list, item_no)
print(count_point_df)

   학생 이름  지명수
0    김하윤    2
1    이준서    3
2    박서연    8
3    최민준    3
4    정예은    2
5    강도윤    2
6    오서준    3
7    윤지우    3
8    한예진    3
9    장하람    0
10   조하린    2
11   배수아    0
12   남윤후    2
13   서채은    1
14   이아린    2
15   문지아    2
16   류하진    5
17   신도현    4
18   홍지우    7
19   유하늘    3
20   노지아    0
21   권민서    3

In [35]:
'''
--- !!! ---
25.06.30 오후 3시 41분
사회성 규범은 학생(윤지후, 이민준, 오채원, 조수아, 임유나, 장예린) 개별 응답과 산출값 간 불일치로 인해
학급 분위기 결과 역시 정확한 검증이 어려움.
이에 따라 해당 항목의 결과값 검수는 보류함.
'''

'\n--- !!! ---\n25.06.30 오후 3시 41분\n사회성 규범은 학생(윤지후, 이민준, 오채원, 조수아, 임유나, 장예린) 개별 응답과 산출값 간 불일치로 인해\n학급 분위기 결과 역시 정확한 검증이 어려움.\n이에 따라 해당 항목의 결과값 검수는 보류함.\n'

In [50]:
# 함수는 만들어 놓고
community_item_no = [8,9]
item_no14 = [14]
community_count_point_df = count_point(df, student_list, community_item_no)
no14_count_point_df = count_point(df, student_list, item_no14)
print(community_count_point_df)
print(no14_count_point_df)
multiply_df = community_count_point_df.merge(no14_count_point_df, on='학생 이름')
multiply_df.columns = ['학생 이름', '사회성지명수', '친구지명수']
multiply_df['사회성지명수*친구지명수'] = multiply_df['사회성지명수'] * multiply_df['친구지명수']
print(multiply_df)
multiply_df.sort_values(by='사회성지명수*친구지명수', ascending=False, inplace=True)
print(multiply_df)
top5_df = multiply_df.head(5)
top5_mean = top5_df['사회성지명수*친구지명수'].mean()
total_mean = multiply_df['사회성지명수*친구지명수'].mean()
print(top5_mean, total_mean)
weighted_mean = 0.4 * (top5_mean) + 0.6 * (total_mean)
print(weighted_mean)
weighted_mean = 4 * ((min(max(weighted_mean, 0), 67)-0)/67)+1
print(f'사회성 규범 : {weighted_mean}')

   학생 이름  지명수
0    김하윤    2
1    이준서    3
2    박서연    8
3    최민준    3
4    정예은    2
5    강도윤    2
6    오서준    3
7    윤지우    3
8    한예진    3
9    장하람    0
10   조하린    2
11   배수아    0
12   남윤후    2
13   서채은    1
14   이아린    2
15   문지아    2
16   류하진    5
17   신도현    4
18   홍지우    7
19   유하늘    3
20   노지아    0
21   권민서    3
   학생 이름  지명수
0    김하윤    3
1    이준서    2
2    박서연    2
3    최민준    2
4    정예은    2
5    강도윤    0
6    오서준    1
7    윤지우    3
8    한예진    1
9    장하람    2
10   조하린    4
11   배수아    3
12   남윤후    0
13   서채은    3
14   이아린    0
15   문지아    2
16   류하진    3
17   신도현    1
18   홍지우    0
19   유하늘    1
20   노지아    1
21   권민서    1
   학생 이름  사회성지명수  친구지명수  사회성지명수*친구지명수
0    김하윤       2      3             6
1    이준서       3      2             6
2    박서연       8      2            16
3    최민준       3      2             6
4    정예은       2      2             4
5    강도윤       2      0             0
6    오서준       3      1             3
7    윤지우       3      3             9
8    한예진       3      1             3
9    장하람       0      2             0
10   조하린       2      4             8
11   배수아       0      3             0
12   남윤후       2      0             0
13   서채은       1      3             3
14   이아린       2      0             0
15   문지아       2      2             4
16   류하진       5      3            15
17   신도현       4      1             4
18   홍지우       7      0             0
19   유하늘       3      1             3
20   노지아       0      1             0
21   권민서       3      1             3
   학생 이름  사회성지명수  친구지명수  사회성지명수*친구지명수
2    박서연       8      2            16
16   류하진       5      3            15
7    윤지우       3      3             9
10   조하린       2      4             8
0    김하윤       2      3             6
3    최민준       3      2             6
1    이준서       3      2             6
4    정예은       2      2             4
17   신도현       4      1             4
15   문지아       2      2             4
13   서채은       1      3             3
19   유하늘       3      1             3
21   권민서       3      1             3
8    한예진       3      1             3
6    오서준       3      1             3
12   남윤후       2      0             0
14   이아린       2      0             0
9    장하람       0      2             0
18   홍지우       7      0             0
5    강도윤       2      0             0
20   노지아       0      1             0
11   배수아       0      3             0
10.8 4.2272727272727275
6.856363636363637
사회성 규범 : 1.409335142469471

In [ ]:
'''
--- !!! ---
25.06.30 오후 5시 00분
사회성 규범은 학생(윤지후, 이민준, 오채원, 조수아, 임유나, 장예린) 개별 응답과 산출값 간 불일치인데
학급 분위기 결과는 일치함.
'''
# ! 가중평균의 파라미터 설정을 다시 해야할 수 있음. 5학년 1반_전수(AC000120255019FA1)에서 사회성 규범이 충분히 커보이는데 낮게 결과값이 낮게 나타남

'\n--- !!! ---\n25.06.30 오후 5시 00분\n사회성 규범은 학생(윤지후, 이민준, 오채원, 조수아, 임유나, 장예린) 개별 응답과 산출값 간 불일치인데\n학급 분위기 결과는 일치함.\n'

### 지위위계

In [37]:
import pandas as pd

df = pd.read_excel('5학년_1반_전수(AC000120255019FA1)/AC000120255019FA1_또래지명_응답.xlsx')
print(df)

    지명한 학생  학번 성별  문항번호 지명받은 학생
0      이준서   2  남     6     김하윤
1      박서연   3  여     8     김하윤
2      최민준   4  남     3     김하윤
3      강도윤   6  남     3     김하윤
4      강도윤   6  남     4     김하윤
..     ...  .. ..   ...     ...
614    유하늘  20  남    10     권민서
615    유하늘  20  남    16     권민서
616    노지아  21  여     6     권민서
617    노지아  21  여    10     권민서
618    노지아  21  여    11     권민서

[619 rows x 5 columns]

In [38]:
# 학생 명단 먼저 확보

student_df = pd.read_excel('5학년_1반_전수(AC000120255019FA1)/AC000120255019FA1_학생 명단.xlsx')
student_list = student_df['학생 이름'].to_list()
print(student_list)

['김하윤', '이준서', '박서연', '최민준', '정예은', '강도윤', '오서준', '윤지우', '한예진', '장하람', '조하린', '배수아', '남윤후', '서채은', '이아린', '문지아', '류하진', '신도현', '홍지우', '유하늘', '노지아', '권민서']

In [39]:
df.dtypes

지명한 학생     object
학번          int64
성별         object
문항번호        int64
지명받은 학생    object
dtype: object

In [40]:
item_no = [1]
temp_df=df[df['문항번호'].isin(item_no)]
print(temp_df)

    지명한 학생  학번 성별  문항번호 지명받은 학생
5      오서준   7  남     1     김하윤
12     류하진  17  남     1     김하윤
17     유하늘  20  남     1     김하윤
34     조하린  11  여     1     이준서
44     이준서   2  남     1     박서연
54     장하람  10  여     1     박서연
71     박서연   3  여     1     최민준
85     노지아  21  여     1     최민준
89     권민서  22  여     1     최민준
90     김하윤   1  여     1     정예은
93     이준서   2  남     1     정예은
98     강도윤   6  남     1     정예은
110    조하린  11  여     1     정예은
112    배수아  12  여     1     정예은
122    유하늘  20  남     1     정예은
182    박서연   3  여     1     윤지우
208    류하진  17  남     1     윤지우
235    노지아  21  여     1     한예진
250    남윤후  13  남     1     장하람
252    이아린  15  여     1     장하람
311    류하진  17  남     1     배수아
364    홍지우  19  남     1     서채은
372    오서준   7  남     1     이아린
391    이준서   2  남     1     문지아
393    박서연   3  여     1     문지아
402    장하람  10  여     1     문지아
408    이아린  15  여     1     문지아
412    신도현  18  남     1     문지아
416    홍지우  19  남     1     문지아
418    노지아  21  여     1     문지아
425    정예은   5  여     1     류하진
444    권민서  22  여     1     류하진
476    김하윤   1  여     1     홍지우
571    유하늘  20  남     1     노지아
574    권민서  22  여     1     노지아
588    오서준   7  남     1     권민서
600    조하린  11  여     1     권민서
603    남윤후  13  남     1     권민서
609    문지아  16  여     1     권민서

In [41]:
# 지명수 구하는 함수
def count_point(df, student_list, item_no) :
    temp_df = df[df['문항번호'].isin(item_no)]
    count_list = []
    for student in student_list :
        if len(temp_df[temp_df['지명받은 학생']==student]) >= 1 :
            freq = len(temp_df[temp_df['지명받은 학생']==student])
        elif len(temp_df[temp_df['지명받은 학생']==student]) == 0 :
            freq = 0
        count_list.append(freq)
    count_point_df = pd.DataFrame({'학생 이름': student_list, '지명수': count_list})
    return count_point_df

In [42]:
count_point_df = count_point(df, student_list, item_no)
print(count_point_df)

   학생 이름  지명수
0    김하윤    3
1    이준서    1
2    박서연    2
3    최민준    3
4    정예은    6
5    강도윤    0
6    오서준    0
7    윤지우    2
8    한예진    1
9    장하람    2
10   조하린    0
11   배수아    1
12   남윤후    0
13   서채은    1
14   이아린    1
15   문지아    7
16   류하진    2
17   신도현    0
18   홍지우    1
19   유하늘    0
20   노지아    2
21   권민서    4

In [43]:
'''
--- !!! ---
25.06.30 오후 3시 41분
지위위계는 학생 개별 응답과 산출값 일치하여
학급 분위기 결과 검증 진행중.
'''

'\n--- !!! ---\n25.06.30 오후 3시 41분\n지위위계는 학생 개별 응답과 산출값 일치하여\n학급 분위기 결과 검증 진행중.\n'

In [48]:
def gini(count_point_df) :
    point_mean = count_point_df['지명수'].mean()
    print(f'지명수 평균 : {point_mean}')
    n = len(count_point_df)
    print(f'학생 수 : {n}')
    abs_diff_list = []
    for point in count_point_df['지명수'] :
        abs_diff = abs(point - point_mean)
        abs_diff_list.append(abs_diff)
    abs_diff_sum = sum(abs_diff_list)
    print(f'절대차 합계 : {abs_diff_sum}')
    gini = abs_diff_sum / (2 * n * point_mean)
    print(f'지위위계 Gini 계수 : {gini}')
    gini_normalization = 4 * ((min(max(gini, 0), 0.6) - 0)/ 0.6) +1
    return gini_normalization

gini_normalization = gini(count_point_df)
print(f'학급 분위기_지위위계 : {gini_normalization}')

지명수 평균 : 1.7727272727272727
학생 수 : 22
절대차 합계 : 30.545454545454547
지위위계 Gini 계수 : 0.3916083916083916
학급 분위기_지위위계 : 3.6107226107226107

In [52]:
def gini(count_point_df) :
    point_mean = count_point_df['지명수'].mean()
    print(f'지명수 평균 : {point_mean}')
    n = len(count_point_df)
    print(f'학생 수 : {n}')
    abs_diff_list = []
    for i in count_point_df['지명수'] :
        for j in count_point_df['지명수'] :
            if i != j:
                abs_diff = abs(i - j)
                abs_diff_list.append(abs_diff)
            else :
                pass
    abs_diff_sum = sum(abs_diff_list)
    print(f'절대차 합계 : {abs_diff_sum}')
    gini = abs_diff_sum / (2 * n * n * point_mean)
    print(f'지위위계 Gini 계수 : {gini}')
    gini_normalization = 4 * ((min(max(gini, 0), 0.6) - 0)/ 0.6) +1
    return gini_normalization

gini_normalization = gini(count_point_df)
print(f'학급 분위기_지위위계 : {gini_normalization}')

지명수 평균 : 1.7727272727272727
학생 수 : 22
절대차 합계 : 918
지위위계 Gini 계수 : 0.534965034965035
학급 분위기_지위위계 : 4.566433566433567

In [ ]:
'''
--- !!! ---
25.06.30 오후 4시 08분
학급 분위기 결과 검증 완료.
'''
# ! 지니계수 클리핑 파라미터 값 수정이 필요할 수 있음.

'\n--- !!! ---\n25.06.30 오후 4시 08분\n학급 분위기 결과 검증 완료.\n'