# 생각과 마음 들여다 보기

## 개인 특성

In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
student_df = pd.read_excel('AC000120255019FA1_학생 명단.xlsx')
student_list = student_df['학생 이름'].to_list()
self_df = pd.read_excel('AC000120255019FA1_학생_자기보고_응답.xlsx')

In [4]:
def extract_detail_features(self_df):
    # 자기보고 JSON 전처리
    response_arr = None
    for i in range(len(self_df['응답값'])):
        json_data = self_df['응답값'][i]
        json_data = json.loads(json_data)
        response_json_data = json_data['questionChoiceList']
        response_data = []

        for item in response_json_data:
            response_data.append(item['choiceScore'])
        if response_arr is None:
            response_arr = np.array(response_data)
        else:
            response_arr = np.vstack([response_arr, response_data])
    self_df = pd.concat([self_df[['학생 이름', '학번', '성별']], pd.DataFrame(response_arr)], axis=1)
    self_df.columns = ['학생 이름', '학번', '성별'] + [i for i in range(1, 76)]
    self_df[[i for i in range(1,76)]] = self_df[[i for i in range(1,76)]].apply(pd.to_numeric, errors='coerce')

    # 인지적 공감
    cognitive_empathy_item_no = [7,8,9,10,11,12,13]
    self_df['인지적공감'] = self_df.loc[:, cognitive_empathy_item_no].mean(axis=1)
    cognitive_empathy_mean = self_df['인지적공감'].mean()  # 인지적공감 학급평균
    # 정서적 공감
    emotional_empathy_item_no = [14,15,16,17,18,19,20]
    self_df['정서적공감'] = self_df.loc[:, emotional_empathy_item_no].mean(axis=1)
    emotional_empathy_mean = self_df['정서적공감'].mean()  # 정서적곰감 학급평균
    # 행동적 수업참여
    academic_participation_item_no = [35,36,37,38,39]
    self_df['행동적수업참여'] = self_df.loc[:, academic_participation_item_no].mean(axis=1)
    academic_participation_mean = self_df['행동적수업참여'].mean()  # 행동적 수업참여 학급평균
    # 정서적 수업참여
    academic_emotional_participation_item_no = [40,41,42,43,44]
    self_df['정서적수업참여'] = self_df.loc[:, academic_emotional_participation_item_no].mean(axis=1)
    academic_emotional_participation_mean = self_df['정서적수업참여'].mean()  # 정서적 수업참여 학급평균
    # 협력적 태도
    cooperative_attitude_item_no = [45,46,47,48,49,50,51]
    self_df['협력적태도'] = self_df.loc[:, cooperative_attitude_item_no].mean(axis=1)
    cooperative_attitude_mean = self_df['협력적태도'].mean()  # 협력적 태도 학급평균
    # 경쟁적 태도
    competitive_attitude_item_no = [52,53,54,55,56,57,58,59]
    self_df['경쟁적태도'] = self_df.loc[:, competitive_attitude_item_no].mean(axis=1)
    competitive_attitude_mean = self_df['경쟁적태도'].mean()  # 경쟁적 태도 학급평균
    # 정서적 양육태도
    emotional_parenting_attitude_item_no = [60,61,62,63,64,65,66,67,68]
    self_df['정서적양육태도'] = self_df.loc[:, emotional_parenting_attitude_item_no].mean(axis=1)
    emotional_parenting_attitude_mean = self_df['정서적양육태도'].mean()  # 정서적 양육태도 학급평균
    # 강압적 양육태도
    coercive_parenting_attitude_item_no = [69,70,71,72,73,74,75]
    self_df['강압적양육태도'] = self_df.loc[:, coercive_parenting_attitude_item_no].mean(axis=1)
    coercive_parenting_attitude_mean = self_df['강압적양육태도'].mean()  # 강압적 양육태도 학급평균
    # 내재화
    internalization_item_no = [21,22,23,24,25,26,27,28,29,30]
    self_df['내재화'] = self_df.loc[:, internalization_item_no].mean(axis=1)
    internalization_mean = self_df['내재화'].mean()  # 내재화 학급평균
    
    return pd.DataFrame({
        '학생 이름': self_df['학생 이름'],
        '학번': self_df['학번'],
        '성별': self_df['성별'],
        '인지적공감' : self_df['인지적공감'],
        '정서적공감' : self_df['정서적공감'],
        '행동적수업참여' : self_df['행동적수업참여'],
        '정서적수업참여' : self_df['정서적수업참여'],
        '협력적태도' : self_df['협력적태도'],
        '경쟁적태도' : self_df['경쟁적태도'],
        '정서적양육태도' : self_df['정서적양육태도'],
        '강압적양육태도' : self_df['강압적양육태도'],
        '내재화' : self_df['내재화']
    })

In [5]:
df = extract_detail_features(self_df)

In [6]:
pd.set_option('display.float_format', '{:.5f}'.format)

In [7]:
df

,학생 이름,학번,성별,인지적공감,정서적공감,행동적수업참여,정서적수업참여,협력적태도,경쟁적태도,정서적양육태도,강압적양육태도,내재화
0,김하윤,1,여,2.71429,3.14286,3.60000,2.20000,3.14286,4.37500,4.66667,3.00000,2.20000
1,이준서,2,남,2.57143,3.71429,4.00000,1.40000,4.00000,3.00000,2.77778,3.85714,3.90000
2,박서연,3,여,3.42857,2.14286,1.00000,3.80000,4.57143,3.25000,3.11111,4.42857,3.50000
3,최민준,4,남,3.28571,4.57143,3.80000,4.00000,1.57143,4.00000,4.22222,4.14286,4.00000
4,정예은,5,여,3.28571,1.85714,3.20000,2.80000,2.14286,3.75000,1.88889,1.85714,2.80000
5,강도윤,6,남,3.00000,2.42857,3.00000,2.60000,1.71429,4.12500,2.66667,3.14286,3.50000
6,오서준,7,남,3.28571,3.42857,2.80000,1.20000,3.28571,2.25000,3.66667,4.28571,2.50000
7,윤지우,8,여,4.00000,3.71429,4.20000,4.60000,3.71429,3.87500,4.00000,1.71429,3.40000
8,한예진,9,여,3.00000,2.00000,1.60000,3.80000,3.57143,2.50000,4.00000,2.85714,1.80000
9,장하람,10,여,3.00000,3.85714,4.20000,4.00000,3.85714,4.62500,3.00000,1.57143,3.70000
10,조하린,11,여,4.14286,3.71429,4.60000,4.20000,4.42857,3.62500,4.11111,4.42857,3.80000
11,배수아,12,여,2.57143,2.00000,3.60000,3.80000,3.14286,3.12500,3.88889,4.28571,4.00000
12,남윤후,13,남,2.85714,3.14286,3.40000,1.80000,2.71429,3.50000,1.66667,1.28571,3.60000
13,서채은,14,여,2.71429,2.71429,1.20000,2.20000,3.14286,3.12500,4.22222,3.85714,2.40000
14,문지아,16,여,3.42857,3.42857,4.60000,3.20000,3.42857,3.25000,2.33333,2.85714,2.70000
15,류하진,17,남,3.14286,2.14286,1.20000,1.80000,3.00000,4.62500,4.11111,2.00000,3.60000
16,신도현,18,남,2.85714,3.42857,3.80000,2.60000,3.28571,3.75000,2.11111,3.28571,2.10000
17,홍지우,19,남,3.14286,2.71429,2.00000,4.00000,4.00000,4.25000,3.66667,3.28571,2.80000
18,유하늘,20,남,2.85714,3.28571,2.60000,2.60000,4.14286,2.00000,1.66667,4.42857,3.70000
19,노지아,21,여,2.42857,2.85714,3.40000,3.40000,4.14286,3.00000,3.44444,3.71429,1.70000
20,권민서,22,여,3.14286,3.00000,4.40000,1.60000,3.85714,2.37500,4.33333,3.85714,3.60000

In [24]:
'''
일부 학생 내재화값이 맞지 않음
'''
'''
교사 본인 평가는 과거 본인꺼 불러오는건 선택
학생 또래지명이랑 정서평가는 매번하면 좋겠다.
'''

'\n교사 본인 평가는 과거 본인꺼 불러오는건 선택\n학생 또래지명이랑 정서평가는 매번하면 좋겠다.\n'

## 개인 특성_방사형 채점

In [8]:
def extract_detail_features_radial(self_df) :
    # 자기보고 JSON 전처리
    response_arr = None
    for i in range(len(self_df['응답값'])):
        json_data = self_df['응답값'][i]
        json_data = json.loads(json_data)
        response_json_data = json_data['questionChoiceList']
        response_data = []

        for item in response_json_data:
            response_data.append(item['choiceScore'])
        if response_arr is None:
            response_arr = np.array(response_data)
        else:
            response_arr = np.vstack([response_arr, response_data])
    self_df = pd.concat([self_df[['학생 이름', '학번', '성별']], pd.DataFrame(response_arr)], axis=1)
    self_df.columns = ['학생 이름', '학번', '성별'] + [i for i in range(1, 76)]
    self_df[[i for i in range(1,76)]] = self_df[[i for i in range(1,76)]].apply(pd.to_numeric, errors='coerce')

    # 공감
    empathy_item_no = [7,8,9,10,11,12,13,14,15,16,17,18,19,20]
    self_df['방사형_공감'] = self_df.loc[:, empathy_item_no].mean(axis=1)
    empathy_mean = self_df['방사형_공감'].mean()  # 공감 학급평균
    # 수업참여
    participation_item_no = [35,36,37,38,39,40,41,42,43,44]
    self_df['방사형_수업참여'] = self_df.loc[:, participation_item_no].mean(axis=1)
    participation_mean = self_df['방사형_수업참여'].mean()  # 수업참여 학급평균

    # 사회적 태도
        # 협력적 태도
    cooperative_attitude_item_no = [45,46,47,48,49,50,51]
    self_df['협력적태도'] = self_df.loc[:, cooperative_attitude_item_no].mean(axis=1)
    cooperative_attitude_mean = self_df['협력적태도'].mean()  # 협력적 태도 학급평균
        # 경쟁적 태도
    competitive_attitude_item_no = [52,53,54,55,56,57,58,59]
    self_df['경쟁적태도'] = self_df.loc[:, competitive_attitude_item_no].mean(axis=1)
    competitive_attitude_mean = self_df['경쟁적태도'].mean()  # 경쟁적 태도 학급평균
    self_df['방사형_사회적태도'] = 3 + ((self_df['협력적태도'] - self_df['경쟁적태도']) / 2)

    # 양육태도
        # 정서적 양육태도
    emotional_parenting_attitude_item_no = [60,61,62,63,64,65,66,67,68]
    self_df['정서적양육태도'] = self_df.loc[:, emotional_parenting_attitude_item_no].mean(axis=1)
    emotional_parenting_attitude_mean = self_df['정서적양육태도'].mean()  # 정서적 양육태도 학급평균
        # 강압적 양육태도
    coercive_parenting_attitude_item_no = [69,70,71,72,73,74,75]
    self_df['강압적양육태도'] = self_df.loc[:, coercive_parenting_attitude_item_no].mean(axis=1)
    coercive_parenting_attitude_mean = self_df['강압적양육태도'].mean()  # 강압적 양육태도 학급평균
    self_df['방사형_양육태도'] = 3 + ((self_df['정서적양육태도'] - self_df['강압적양육태도']) / 2)

    # 내재화
    internalization_item_no = [21,22,23,24,25,26,27,28,29,30]
    self_df['방사형_내재화'] = self_df.loc[:, internalization_item_no].mean(axis=1)
    internalization_mean = self_df['방사형_내재화'].mean()  # 내재화 학급평균

    return pd.DataFrame({
        '학생 이름': self_df['학생 이름'],
        '학번': self_df['학번'],
        '성별': self_df['성별'],
        '방사형_공감': self_df['방사형_공감'],
        '방사형_수업참여': self_df['방사형_수업참여'],
        '방사형_사회적태도': self_df['방사형_사회적태도'],
        '방사형_양육태도' : self_df['방사형_양육태도'],
        '방사형_내재화' : self_df['방사형_내재화']
    })

In [9]:
df = extract_detail_features_radial(self_df)

In [10]:
df

   학생 이름  학번 성별  방사형_공감  방사형_수업참여  방사형_사회적태도  방사형_양육태도  방사형_내재화
0    김하윤   1  여 2.92857   2.90000    2.38393   3.83333  2.20000
1    이준서   2  남 3.14286   2.70000    3.50000   2.46032  3.90000
2    박서연   3  여 2.78571   2.40000    3.66071   2.34127  3.50000
3    최민준   4  남 3.92857   3.90000    1.78571   3.03968  4.00000
4    정예은   5  여 2.57143   3.00000    2.19643   3.01587  2.80000
5    강도윤   6  남 2.71429   2.80000    1.79464   2.76190  3.50000
6    오서준   7  남 3.35714   2.00000    3.51786   2.69048  2.50000
7    윤지우   8  여 3.85714   4.40000    2.91964   4.14286  3.40000
8    한예진   9  여 2.50000   2.70000    3.53571   3.57143  1.80000
9    장하람  10  여 3.42857   4.10000    2.61607   3.71429  3.70000
10   조하린  11  여 3.92857   4.40000    3.40179   2.84127  3.80000
11   배수아  12  여 2.28571   3.70000    3.00893   2.80159  4.00000
12   남윤후  13  남 3.00000   2.60000    2.60714   3.19048  3.60000
13   서채은  14  여 2.71429   1.70000    3.00893   3.18254  2.40000
14   문지아  16  여 3.42857   3.90000    3.08929   2.73810  2.70000
15   류하진  17  남 2.64286   1.50000    2.18750   4.05556  3.60000
16   신도현  18  남 3.14286   3.20000    2.76786   2.41270  2.10000
17   홍지우  19  남 2.92857   3.00000    2.87500   3.19048  2.80000
18   유하늘  20  남 3.07143   2.60000    4.07143   1.61905  3.70000
19   노지아  21  여 2.64286   3.40000    3.57143   2.86508  1.70000
20   권민서  22  여 3.07143   3.00000    3.74107   3.23810  3.60000

In [28]:
'''
방사형_내재화 값이 맞지 않음.
'''

'\n방사형_내재화 값이 맞지 않음.\n'