## 학급 분위기

### 공동체 의식 채점

In [161]:
import pandas as pd

df = pd.read_excel('AC000120253047CE9_자기보고_응답.xlsx')
print(df)

   학생 이름  학번 성별                                                응답값
0    윤지후   1  남  {"questionChoiceList":[{"questionNo":1,"choice...
1    신채원   2  여  {"questionChoiceList":[{"questionNo":1,"choice...
2    이민준   3  남  {"questionChoiceList":[{"questionNo":1,"choice...
3    양지호   4  남  {"questionChoiceList":[{"questionNo":1,"choice...
4    정도윤   5  남  {"questionChoiceList":[{"questionNo":1,"choice...
5    오채원   6  여  {"questionChoiceList":[{"questionNo":1,"choice...
6    조수아   7  여  {"questionChoiceList":[{"questionNo":1,"choice...
7    이우진   8  남  {"questionChoiceList":[{"questionNo":1,"choice...
8    임유나   9  여  {"questionChoiceList":[{"questionNo":1,"choice...
9    홍하은  10  여  {"questionChoiceList":[{"questionNo":1,"choice...
10   김채린  11  여  {"questionChoiceList":[{"questionNo":1,"choice...
11   이지호  12  남  {"questionChoiceList":[{"questionNo":1,"choice...
12   양지아  13  여  {"questionChoiceList":[{"questionNo":1,"choice...
13   장지호  14  남  {"questionChoiceList":[{"questionNo":1,"choice...
14   류지후  15  남  {"questionChoiceList":[{"questionNo":1,"choice...
15   서지호  16  남  {"questionChoiceList":[{"questionNo":1,"choice...
16   박민준  17  남  {"questionChoiceList":[{"questionNo":1,"choice...
17   홍지호  18  남  {"questionChoiceList":[{"questionNo":1,"choice...
18   조서윤  19  여  {"questionChoiceList":[{"questionNo":1,"choice...
19   정채원  20  여  {"questionChoiceList":[{"questionNo":1,"choice...
20   장예린  21  여  {"questionChoiceList":[{"questionNo":1,"choice...

In [162]:
import json
json_data = df['응답값'][0]
json_data = json.loads(json_data)
print(json_data)
response_json_data = json_data['questionChoiceList']
print(response_json_data)

for item in response_json_data:
    if item['questionNo'] in [31,32,33,34] :
        print(item['choiceScore'])

{'questionChoiceList': [{'questionNo': 1, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 2, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 3, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 4, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 5, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 6, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 7, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 8, 'choiceNo': '2', 'choiceScore': '4'}, {'questionNo': 9, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 10, 'choiceNo': '2', 'choiceScore': '4'}, {'questionNo': 11, 'choiceNo': '4', 'choiceScore': '2'}, {'questionNo': 12, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 13, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 14, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 15, 'choiceNo': '2', 'choiceScore': '4'}, {'questionNo': 16, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 17, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 18, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 19, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 20, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 21, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 22, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 23, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 24, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 25, 'choiceNo': '4', 'choiceScore': '2'}, {'questionNo': 26, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 27, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 28, 'choiceNo': '4', 'choiceScore': '2'}, {'questionNo': 29, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 30, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 31, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 32, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 33, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 34, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 35, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 36, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 37, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 38, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 39, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 40, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 41, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 42, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 43, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 44, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 45, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 46, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 47, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 48, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 49, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 50, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 51, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 52, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 53, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 54, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 55, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 56, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 57, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 58, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 59, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 60, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 61, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 62, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 63, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 64, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 65, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 66, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 67, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 68, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 69, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 70, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 71, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 72, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 73, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 74, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 75, 'choiceNo': '2', 'choiceScore': '2'}]}
[{'questionNo': 1, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 2, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 3, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 4, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 5, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 6, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 7, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 8, 'choiceNo': '2', 'choiceScore': '4'}, {'questionNo': 9, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 10, 'choiceNo': '2', 'choiceScore': '4'}, {'questionNo': 11, 'choiceNo': '4', 'choiceScore': '2'}, {'questionNo': 12, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 13, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 14, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 15, 'choiceNo': '2', 'choiceScore': '4'}, {'questionNo': 16, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 17, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 18, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 19, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 20, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 21, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 22, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 23, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 24, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 25, 'choiceNo': '4', 'choiceScore': '2'}, {'questionNo': 26, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 27, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 28, 'choiceNo': '4', 'choiceScore': '2'}, {'questionNo': 29, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 30, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 31, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 32, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 33, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 34, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 35, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 36, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 37, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 38, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 39, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 40, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 41, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 42, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 43, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 44, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 45, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 46, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 47, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 48, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 49, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 50, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 51, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 52, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 53, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 54, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 55, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 56, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 57, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 58, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 59, 'choiceNo': '3', 'choiceScore': '3'}, {'questionNo': 60, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 61, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 62, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 63, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 64, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 65, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 66, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 67, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 68, 'choiceNo': '4', 'choiceScore': '4'}, {'questionNo': 69, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 70, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 71, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 72, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 73, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 74, 'choiceNo': '2', 'choiceScore': '2'}, {'questionNo': 75, 'choiceNo': '2', 'choiceScore': '2'}]
4
4
4
4

In [163]:
import numpy as np

response_arr = None
for i in range(len(df['응답값'])) :
    print(i+1)
    json_data = df['응답값'][i]
    json_data = json.loads(json_data)
    response_json_data = json_data['questionChoiceList']
    response_data = []

    for item in response_json_data:
        response_data.append(item['choiceScore'])
    if response_arr is None:
        response_arr = np.array(response_data)
    else:
        response_arr = np.vstack([response_arr, response_data])
        
print(response_arr)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
[['4' '4' '3' ... '2' '2' '2']
 ['3' '3' '3' ... '1' '1' '1']
 ['3' '3' '3' ... '1' '1' '1']
 ...
 ['4' '4' '4' ... '1' '1' '1']
 ['5' '4' '4' ... '2' '2' '2']
 ['4' '4' '5' ... '2' '1' '1']]

In [ ]:
df = pd.concat([df[['학생 이름', '학번', '성별']], pd.DataFrame(response_arr)], axis=1)
test = df[[31, 32, 33, 34]].mean(axis=1)
print(test)
# ??? 값이 문자열로 되어있나 ???

0      1111.0
1     1111.25
2      833.25
3       303.0
4      860.75
5      1083.5
6      1108.5
7      1111.0
8      1111.0
9      1113.5
10    1111.25
11     1083.0
12    1363.25
13     1111.0
14      833.5
15     303.25
16     833.25
17     1111.0
18     1111.0
19     1111.0
20    1136.25
dtype: object
Object `? 값이 문자열로 되어있나 ???` not found.

In [165]:
print(df[[31, 32, 33, 34]].dtypes)

31    object
32    object
33    object
34    object
dtype: object

In [166]:
df[[i for i in range(0, 75)]] = df[[i for i in range(0, 75)]].apply(pd.to_numeric, errors='coerce')

In [167]:
print(df[[31, 32, 33, 34]].dtypes)

31    int64
32    int64
33    int64
34    int64
dtype: object

In [168]:
df['공동체_의식'] = df[[30, 31, 32, 33]].mean(axis=1)
print(df)

sense_of_community = round(df['공동체_의식'].mean(axis=0),2)
print(f'학급 분위기_공동체 의식 : {sense_of_community}')

   학생 이름  학번 성별  0  1  2  3  4  5  6  ...  66  67  68  69  70  71  72  73  74  \
0    윤지후   1  남  4  4  3  3  4  4  3  ...   4   4   2   2   2   2   2   2   2
1    신채원   2  여  3  3  3  4  4  4  4  ...   5   5   1   1   1   1   1   1   1
2    이민준   3  남  3  3  3  3  3  3  3  ...   3   3   1   1   1   1   1   1   1
3    양지호   4  남  5  4  4  2  2  3  4  ...   1   2   4   5   4   4   3   3   4
4    정도윤   5  남  4  3  4  4  4  4  3  ...   4   3   2   2   2   2   2   2   2
5    오채원   6  여  4  3  4  3  4  4  2  ...   4   2   4   3   4   4   3   4   4
6    조수아   7  여  4  3  4  3  3  4  4  ...   5   4   2   1   3   2   1   1   2
7    이우진   8  남  4  3  3  3  3  3  4  ...   4   4   2   2   2   3   1   1   1
8    임유나   9  여  4  4  4  4  4  4  2  ...   5   4   1   1   1   1   1   1   1
9    홍하은  10  여  4  3  4  5  5  5  2  ...   3   3   2   2   2   2   3   1   2
10   김채린  11  여  5  5  5  5  5  5  2  ...   3   2   3   2   4   4   3   2   3
11   이지호  12  남  5  5  5  5  5  5  1  ...   3   1   4   4   4   4   4   5   5
12   양지아  13  여  4  5  4  4  4  5  4  ...   3   5   3   5   3   5   3   3   3
13   장지호  14  남  4  4  4  4  4  4  2  ...   2   2   4   4   2   4   4   4   4
14   류지후  15  남  3  3  4  3  4  3  4  ...   4   4   2   2   3   2   2   1   1
15   서지호  16  남  2  2  2  2  2  2  2  ...   1   3   2   3   2   3   3   3   3
16   박민준  17  남  4  4  4  4  4  4  3  ...   4   4   2   2   3   2   2   2   2
17   홍지호  18  남  5  5  5  5  5  5  4  ...   3   4   2   2   3   2   3   2   2
18   조서윤  19  여  4  4  4  3  3  3  4  ...   4   4   2   2   2   2   1   1   1
19   정채원  20  여  5  4  4  2  2  4  4  ...   4   4   2   2   2   2   2   2   2
20   장예린  21  여  4  4  5  4  5  5  5  ...   4   5   2   1   4   2   2   1   1

    공동체_의식
0     4.00
1     4.00
2     3.00
3     1.25
4     3.75
5     3.25
6     3.75
7     4.00
8     4.25
9     4.25
10    4.00
11    3.25
12    4.50
13    4.00
14    3.00
15    1.75
16    3.00
17    4.00
18    4.00
19    4.00
20    4.50

[21 rows x 79 columns]
학급 분위기_공동체 의식 : 3.6

In [169]:
'''
--- !!! ---
25.06.30 오후 2시
공동체 의식은 학생 개별 응답과 산출값 간 불일치로 인해
학급 분위기 결과 역시 정확한 검증이 어려움.
이에 따라 해당 항목의 결과값 검수는 보류함.

25.06.30 오후 2시 20분
문항값을 잘못가지고 와서 수정 반영함.
확인해보니 일치함.
'''

'\n--- !!! ---\n25.06.30 오후 2시\n공동체 의식은 학생 개별 응답과 산출값 간 불일치로 인해\n학급 분위기 결과 역시 정확한 검증이 어려움.\n이에 따라 해당 항목의 결과값 검수는 보류함.\n\n25.06.30 오후 2시 20분\n문항값을 잘못가지고 와서 수정 반영함.\n확인해보니 일치함.\n'

### 공격성 규범

In [170]:
import pandas as pd

df = pd.read_excel('AC000120253047CE9_또래지명_응답.xlsx')
print(df)

    지명한 학생  학번 성별  문항번호 지명받은 학생
0      정도윤   5  남     2     윤지후
1      정도윤   5  남     8     윤지후
2      정도윤   5  남     9     윤지후
3      정도윤   5  남    14     윤지후
4      정도윤   5  남    15     윤지후
..     ...  .. ..   ...     ...
515    정채원  20  여     1     장예린
516    정채원  20  여     2     장예린
517    정채원  20  여     9     장예린
518    정채원  20  여    17     장예린
519    정채원  20  여    18     장예린

[520 rows x 5 columns]

In [171]:
# 학생 명단 먼저 확보

student_df = pd.read_excel('AC000120253047CE9_학생 이름단.xlsx')
student_list = student_df['학생 이름'].to_list()
print(student_list)

['윤지후', '신채원', '이민준', '양지호', '정도윤', '오채원', '조수아', '이우진', '임유나', '홍하은', '김채린', '이지호', '양지아', '장지호', '류지후', '서지호', '박민준', '홍지호', '조서윤', '정채원', '장예린']

In [172]:
df.dtypes

지명한 학생     object
학번          int64
성별         object
문항번호        int64
지명받은 학생    object
dtype: object

In [173]:
df['문항번호'].isin([4,5,6,7])

0      False
1      False
2      False
3      False
4      False
       ...
515    False
516    False
517    False
518    False
519    False
Name: 문항번호, Length: 520, dtype: bool

In [174]:
aggression_item_no = [4,5,6,7]
temp_df=df[df['문항번호'].isin(aggression_item_no)]
print(temp_df)

    지명한 학생  학번 성별  문항번호 지명받은 학생
7      홍하은  10  여     5     윤지후
39     윤지후   1  남     4     양지호
49     정도윤   5  남     5     양지호
63     홍하은  10  여     4     양지호
82     서지호  16  남     4     양지호
..     ...  .. ..   ...     ...
431    류지후  15  남     4     박민준
435    김채린  11  여     4     홍지호
436    김채린  11  여     5     홍지호
438    이지호  12  남     5     홍지호
449    정도윤   5  남     7     정채원

[97 rows x 5 columns]

In [175]:
# 지명수 구하는 함수
def count_point(df, student_list, item_no) :
    temp_df = df[df['문항번호'].isin(item_no)]
    count_list = []
    for student in student_list :
        if len(temp_df[temp_df['지명받은 학생']==student]) >= 1 :
            freq = len(temp_df[temp_df['지명받은 학생']==student])
        elif len(temp_df[temp_df['지명받은 학생']==student]) == 0 :
            freq = 0
        count_list.append(freq)
    count_point_df = pd.DataFrame({'학생 이름': student_list, '지명수': count_list})
    return count_point_df

In [176]:
count_point_df = count_point(df, student_list, aggression_item_no)
print(count_point_df)

    학생 이름  지명수
0   윤지후    1
1   신채원    0
2   이민준    0
3   양지호    5
4   정도윤    0
5   오채원    0
6   조수아    1
7   이우진    0
8   임유나    0
9   홍하은    4
10  김채린    5
11  이지호   67
12  양지아    4
13  장지호    0
14  류지후    0
15  서지호    5
16  박민준    1
17  홍지호    3
18  조서윤    0
19  정채원    1
20  장예린    0

In [177]:
'''
--- !!! ---
25.06.30 오후 3시 37분
공격성 규범은 학생(윤지후, 양지호, 조수아, 조서윤) 개별 응답과 산출값 간 불일치로 인해
학급 분위기 결과 역시 정확한 검증이 어려움.
이에 따라 해당 항목의 결과값 검수는 보류함.
'''

'\n--- !!! ---\n25.06.30 오후 3시 37분\n공격성 규범은 학생(윤지후, 양지호, 조수아, 조서윤) 개별 응답과 산출값 간 불일치로 인해\n학급 분위기 결과 역시 정확한 검증이 어려움.\n이에 따라 해당 항목의 결과값 검수는 보류함.\n'

In [178]:
# 함수는 만들어 놓고
aggression_item_no = [4,5,6,7]
item_no14 = [14]
aggression_count_point_df = count_point(df, student_list, aggression_item_no)
no14_count_point_df = count_point(df, student_list, item_no14)
print(aggression_count_point_df)
print(no14_count_point_df)
multiply_df = aggression_count_point_df.merge(no14_count_point_df, on='학생 이름')
multiply_df.columns = ['학생 이름', '공격지명수', '친구지명수']
multiply_df['공격지명*친구 지명'] = multiply_df['공격지명수'] * multiply_df['친구지명수']
print(multiply_df)
multiply_df.sort_values(by='공격지명*친구 지명', ascending=False, inplace=True)
print(multiply_df)
top5_df = multiply_df.head(5)
top5_mean = top5_df['공격지명*친구 지명'].mean()
total_mean = multiply_df['공격지명*친구 지명'].mean()
weighted_mean = 0.4 * (top5_mean) + 0.6 * (total_mean)
weighted_mean = 4 * ((min(max(weighted_mean, 0), 67)-0)/67)+1
print(f'공격성 규범 : {weighted_mean}')

    학생 이름  지명수
0   윤지후    1
1   신채원    0
2   이민준    0
3   양지호    5
4   정도윤    0
5   오채원    0
6   조수아    1
7   이우진    0
8   임유나    0
9   홍하은    4
10  김채린    5
11  이지호   67
12  양지아    4
13  장지호    0
14  류지후    0
15  서지호    5
16  박민준    1
17  홍지호    3
18  조서윤    0
19  정채원    1
20  장예린    0
    학생 이름  지명수
0   윤지후    2
1   신채원    1
2   이민준    3
3   양지호    0
4   정도윤    1
5   오채원    2
6   조수아    0
7   이우진    3
8   임유나    2
9   홍하은    1
10  김채린    0
11  이지호    1
12  양지아    1
13  장지호    1
14  류지후    2
15  서지호    1
16  박민준    1
17  홍지호    1
18  조서윤    1
19  정채원    0
20  장예린    2
    학생 이름  공격지명수  친구지명수  공격지명*친구 지명
0   윤지후      1      2           2
1   신채원      0      1           0
2   이민준      0      3           0
3   양지호      5      0           0
4   정도윤      0      1           0
5   오채원      0      2           0
6   조수아      1      0           0
7   이우진      0      3           0
8   임유나      0      2           0
9   홍하은      4      1           4
10  김채린      5      0           0
11  이지호     67      1          67
12  양지아      4      1           4
13  장지호      0      1           0
14  류지후      0      2           0
15  서지호      5      1           5
16  박민준      1      1           1
17  홍지호      3      1           3
18  조서윤      0      1           0
19  정채원      1      0           0
20  장예린      0      2           0
    학생 이름  공격지명수  친구지명수  공격지명*친구 지명
11  이지호     67      1          67
15  서지호      5      1           5
9   홍하은      4      1           4
12  양지아      4      1           4
17  홍지호      3      1           3
0   윤지후      1      2           2
16  박민준      1      1           1
19  정채원      1      0           0
18  조서윤      0      1           0
14  류지후      0      2           0
13  장지호      0      1           0
10  김채린      5      0           0
1   신채원      0      1           0
8   임유나      0      2           0
7   이우진      0      3           0
6   조수아      1      0           0
5   오채원      0      2           0
4   정도윤      0      1           0
3   양지호      5      0           0
2   이민준      0      3           0
20  장예린      0      2           0
공격성 규범 : 1.5431130063965885

In [179]:
'''
--- !!! ---
25.06.30 오후 5시 00분
공격성 규범은 학생(윤지후, 양지호, 조수아, 조서윤) 개별 응답과 산출값 간 불일치인데
학급 분위기 결과는 일치함.
'''

'\n--- !!! ---\n25.06.30 오후 5시 00분\n공격성 규범은 학생(윤지후, 양지호, 조수아, 조서윤) 개별 응답과 산출값 간 불일치인데\n학급 분위기 결과는 일치함.\n'

### 사회성 규범

In [180]:
import pandas as pd

df = pd.read_excel('AC000120253047CE9_또래지명_응답.xlsx')
print(df)

    지명한 학생  학번 성별  문항번호 지명받은 학생
0      정도윤   5  남     2     윤지후
1      정도윤   5  남     8     윤지후
2      정도윤   5  남     9     윤지후
3      정도윤   5  남    14     윤지후
4      정도윤   5  남    15     윤지후
..     ...  .. ..   ...     ...
515    정채원  20  여     1     장예린
516    정채원  20  여     2     장예린
517    정채원  20  여     9     장예린
518    정채원  20  여    17     장예린
519    정채원  20  여    18     장예린

[520 rows x 5 columns]

In [181]:
# 학생 명단 먼저 확보

student_df = pd.read_excel('AC000120253047CE9_학생 이름단.xlsx')
student_list = student_df['학생 이름'].to_list()
print(student_list)

['윤지후', '신채원', '이민준', '양지호', '정도윤', '오채원', '조수아', '이우진', '임유나', '홍하은', '김채린', '이지호', '양지아', '장지호', '류지후', '서지호', '박민준', '홍지호', '조서윤', '정채원', '장예린']

In [182]:
df.dtypes

지명한 학생     object
학번          int64
성별         object
문항번호        int64
지명받은 학생    object
dtype: object

In [183]:
item_no = [8,9]
temp_df=df[df['문항번호'].isin(item_no)]
print(temp_df)

    지명한 학생  학번 성별  문항번호 지명받은 학생
1      정도윤   5  남     8     윤지후
2      정도윤   5  남     9     윤지후
14     장예린  21  여     9     윤지후
24     정도윤   5  남     8     이민준
25     정도윤   5  남     9     이민준
..     ...  .. ..   ...     ...
485    이지호  12  남     9     장예린
493    장지호  14  남     9     장예린
504    박민준  17  남     9     장예린
513    조서윤  19  여     9     장예린
517    정채원  20  여     9     장예린

[61 rows x 5 columns]

In [184]:
# 지명수 구하는 함수
def count_point(df, student_list, item_no) :
    temp_df = df[df['문항번호'].isin(item_no)]
    count_list = []
    for student in student_list :
        if len(temp_df[temp_df['지명받은 학생']==student]) >= 1 :
            freq = len(temp_df[temp_df['지명받은 학생']==student])
        elif len(temp_df[temp_df['지명받은 학생']==student]) == 0 :
            freq = 0
        count_list.append(freq)
    count_point_df = pd.DataFrame({'학생 이름': student_list, '지명수': count_list})
    return count_point_df

In [185]:
count_point_df = count_point(df, student_list, item_no)
print(count_point_df)

    학생 이름  지명수
0   윤지후    3
1   신채원    0
2   이민준    2
3   양지호    0
4   정도윤    1
5   오채원    2
6   조수아    3
7   이우진    0
8   임유나   34
9   홍하은    1
10  김채린    0
11  이지호    0
12  양지아    2
13  장지호    0
14  류지후    0
15  서지호    0
16  박민준    0
17  홍지호    0
18  조서윤    2
19  정채원    0
20  장예린   11

In [186]:
'''
--- !!! ---
25.06.30 오후 3시 41분
사회성 규범은 학생(윤지후, 이민준, 오채원, 조수아, 임유나, 장예린) 개별 응답과 산출값 간 불일치로 인해
학급 분위기 결과 역시 정확한 검증이 어려움.
이에 따라 해당 항목의 결과값 검수는 보류함.
'''

'\n--- !!! ---\n25.06.30 오후 3시 41분\n사회성 규범은 학생(윤지후, 이민준, 오채원, 조수아, 임유나, 장예린) 개별 응답과 산출값 간 불일치로 인해\n학급 분위기 결과 역시 정확한 검증이 어려움.\n이에 따라 해당 항목의 결과값 검수는 보류함.\n'

In [187]:
# 함수는 만들어 놓고
community_item_no = [8,9]
item_no14 = [14]
community_count_point_df = count_point(df, student_list, community_item_no)
no14_count_point_df = count_point(df, student_list, item_no14)
print(community_count_point_df)
print(no14_count_point_df)
multiply_df = community_count_point_df.merge(no14_count_point_df, on='학생 이름')
multiply_df.columns = ['학생 이름', '사회성지명수', '친구지명수']
multiply_df['사회성지명수*친구지명수'] = multiply_df['사회성지명수'] * multiply_df['친구지명수']
print(multiply_df)
multiply_df.sort_values(by='사회성지명수*친구지명수', ascending=False, inplace=True)
print(multiply_df)
top5_df = multiply_df.head(5)
top5_mean = top5_df['사회성지명수*친구지명수'].mean()
total_mean = multiply_df['사회성지명수*친구지명수'].mean()
weighted_mean = 0.4 * (top5_mean) + 0.6 * (total_mean)
weighted_mean = 4 * ((min(max(weighted_mean, 0), 67)-0)/67)+1
print(f'사회성 규범 : {weighted_mean}')

    학생 이름  지명수
0   윤지후    3
1   신채원    0
2   이민준    2
3   양지호    0
4   정도윤    1
5   오채원    2
6   조수아    3
7   이우진    0
8   임유나   34
9   홍하은    1
10  김채린    0
11  이지호    0
12  양지아    2
13  장지호    0
14  류지후    0
15  서지호    0
16  박민준    0
17  홍지호    0
18  조서윤    2
19  정채원    0
20  장예린   11
    학생 이름  지명수
0   윤지후    2
1   신채원    1
2   이민준    3
3   양지호    0
4   정도윤    1
5   오채원    2
6   조수아    0
7   이우진    3
8   임유나    2
9   홍하은    1
10  김채린    0
11  이지호    1
12  양지아    1
13  장지호    1
14  류지후    2
15  서지호    1
16  박민준    1
17  홍지호    1
18  조서윤    1
19  정채원    0
20  장예린    2
    학생 이름  사회성지명수  친구지명수  사회성지명수*친구지명수
0   윤지후       3      2             6
1   신채원       0      1             0
2   이민준       2      3             6
3   양지호       0      0             0
4   정도윤       1      1             1
5   오채원       2      2             4
6   조수아       3      0             0
7   이우진       0      3             0
8   임유나      34      2            68
9   홍하은       1      1             1
10  김채린       0      0             0
11  이지호       0      1             0
12  양지아       2      1             2
13  장지호       0      1             0
14  류지후       0      2             0
15  서지호       0      1             0
16  박민준       0      1             0
17  홍지호       0      1             0
18  조서윤       2      1             2
19  정채원       0      0             0
20  장예린      11      2            22
    학생 이름  사회성지명수  친구지명수  사회성지명수*친구지명수
8   임유나      34      2            68
20  장예린      11      2            22
0   윤지후       3      2             6
2   이민준       2      3             6
5   오채원       2      2             4
12  양지아       2      1             2
18  조서윤       2      1             2
9   홍하은       1      1             1
4   정도윤       1      1             1
14  류지후       0      2             0
19  정채원       0      0             0
17  홍지호       0      1             0
16  박민준       0      1             0
15  서지호       0      1             0
3   양지호       0      0             0
13  장지호       0      1             0
11  이지호       0      1             0
1   신채원       0      1             0
7   이우진       0      3             0
6   조수아       3      0             0
10  김채린       0      0             0
사회성 규범 : 1.6973134328358208

In [188]:
'''
--- !!! ---
25.06.30 오후 5시 00분
사회성 규범은 학생(윤지후, 이민준, 오채원, 조수아, 임유나, 장예린) 개별 응답과 산출값 간 불일치인데
학급 분위기 결과는 일치함.
'''

'\n--- !!! ---\n25.06.30 오후 5시 00분\n사회성 규범은 학생(윤지후, 이민준, 오채원, 조수아, 임유나, 장예린) 개별 응답과 산출값 간 불일치인데\n학급 분위기 결과는 일치함.\n'

### 지위위계

In [189]:
import pandas as pd

df = pd.read_excel('AC000120253047CE9_또래지명_응답.xlsx')
print(df)

    지명한 학생  학번 성별  문항번호 지명받은 학생
0      정도윤   5  남     2     윤지후
1      정도윤   5  남     8     윤지후
2      정도윤   5  남     9     윤지후
3      정도윤   5  남    14     윤지후
4      정도윤   5  남    15     윤지후
..     ...  .. ..   ...     ...
515    정채원  20  여     1     장예린
516    정채원  20  여     2     장예린
517    정채원  20  여     9     장예린
518    정채원  20  여    17     장예린
519    정채원  20  여    18     장예린

[520 rows x 5 columns]

In [190]:
# 학생 명단 먼저 확보

student_df = pd.read_excel('AC000120253047CE9_학생 이름단.xlsx')
student_list = student_df['학생 이름'].to_list()
print(student_list)

['윤지후', '신채원', '이민준', '양지호', '정도윤', '오채원', '조수아', '이우진', '임유나', '홍하은', '김채린', '이지호', '양지아', '장지호', '류지후', '서지호', '박민준', '홍지호', '조서윤', '정채원', '장예린']

In [191]:
df.dtypes

지명한 학생     object
학번          int64
성별         object
문항번호        int64
지명받은 학생    object
dtype: object

In [192]:
item_no = [1]
temp_df=df[df['문항번호'].isin(item_no)]
print(temp_df)

    지명한 학생  학번 성별  문항번호 지명받은 학생
13     장예린  21  여     1     윤지후
30     오채원   6  여     1     이민준
134    김채린  11  여     1     이우진
144    신채원   2  여     1     임유나
151    정도윤   5  남     1     임유나
157    오채원   6  여     1     임유나
169    이우진   8  남     1     임유나
174    홍하은  10  여     1     임유나
180    이지호  12  남     1     임유나
199    박민준  17  남     1     임유나
212    정채원  20  여     1     임유나
217    장예린  21  여     1     임유나
243    홍하은  10  여     1     김채린
378    임유나   9  여     1     양지아
404    정도윤   5  남     1     류지후
407    임유나   9  여     1     류지후
437    이지호  12  남     1     홍지호
453    윤지후   1  남     1     장예린
457    신채원   2  여     1     장예린
459    이민준   3  남     1     장예린
461    양지호   4  남     1     장예린
465    정도윤   5  남     1     장예린
468    오채원   6  여     1     장예린
472    조수아   7  여     1     장예린
475    이우진   8  남     1     장예린
476    임유나   9  여     1     장예린
478    홍하은  10  여     1     장예린
480    김채린  11  여     1     장예린
483    이지호  12  남     1     장예린
487    양지아  13  여     1     장예린
491    장지호  14  남     1     장예린
495    류지후  15  남     1     장예린
499    서지호  16  남     1     장예린
502    박민준  17  남     1     장예린
509    홍지호  18  남     1     장예린
512    조서윤  19  여     1     장예린
515    정채원  20  여     1     장예린

In [193]:
# 지명수 구하는 함수
def count_point(df, student_list, item_no) :
    temp_df = df[df['문항번호'].isin(item_no)]
    count_list = []
    for student in student_list :
        if len(temp_df[temp_df['지명받은 학생']==student]) >= 1 :
            freq = len(temp_df[temp_df['지명받은 학생']==student])
        elif len(temp_df[temp_df['지명받은 학생']==student]) == 0 :
            freq = 0
        count_list.append(freq)
    count_point_df = pd.DataFrame({'학생 이름': student_list, '지명수': count_list})
    return count_point_df

In [194]:
count_point_df = count_point(df, student_list, item_no)
print(count_point_df)

    학생 이름  지명수
0   윤지후    1
1   신채원    0
2   이민준    1
3   양지호    0
4   정도윤    0
5   오채원    0
6   조수아    0
7   이우진    1
8   임유나    9
9   홍하은    0
10  김채린    1
11  이지호    0
12  양지아    1
13  장지호    0
14  류지후    2
15  서지호    0
16  박민준    0
17  홍지호    1
18  조서윤    0
19  정채원    0
20  장예린   20

In [195]:
'''
--- !!! ---
25.06.30 오후 3시 41분
지위위계는 학생 개별 응답과 산출값 일치하여
학급 분위기 결과 검증 진행중.
'''

'\n--- !!! ---\n25.06.30 오후 3시 41분\n지위위계는 학생 개별 응답과 산출값 일치하여\n학급 분위기 결과 검증 진행중.\n'

In [196]:
def gini(count_point_df) :
    point_mean = count_point_df['지명수'].mean()
    n = len(count_point_df)
    abs_diff_list = []
    for point in count_point_df['지명수'] :
        abs_diff = abs(point - point_mean)
        abs_diff_list.append(abs_diff)
    abs_diff_sum = sum(abs_diff_list)
    gini = abs_diff_sum / 2 * n * point_mean
    gini_normalization = 4 * ((min(max(gini, 0), 0.6) - 0)/ 0.6) +1
    return gini_normalization

gini_normalization = gini(count_point_df)
print(f'학급 분위기_지위위계 : {gini_normalization}')

학급 분위기_지위위계 : 5.0

In [197]:
'''
--- !!! ---
25.06.30 오후 4시 08분
학급 분위기 결과 검증 완료.
'''

'\n--- !!! ---\n25.06.30 오후 4시 08분\n학급 분위기 결과 검증 완료.\n'