# 학급 내 특정 학생의 교사용 리포트 채점 함수

## 사회적 관계

### 또래 맥락

In [1]:
# 라이브러리
import pandas as pd
import numpy as np
import json

In [2]:
# 학생 명단 먼저 확보

student_df = pd.read_excel('AC000120253047CE9_학생명단.xlsx')
student_list = student_df['학생명'].to_list()
print(student_list)

['윤지후', '신채원', '이민준', '양지호', '정도윤', '오채원', '조수아', '이우진', '임유나', '홍하은', '김채린', '이지호', '양지아', '장지호', '류지후', '서지호', '박민준', '홍지호', '조서윤', '정채원', '장예린']

In [3]:
df = pd.read_excel('AC000120253047CE9_또래지명_응답.xlsx')
print(df)

    지명한 학생  학번 성별  문항번호 지명받은 학생
0      정도윤   5  남     2     윤지후
1      정도윤   5  남     8     윤지후
2      정도윤   5  남     9     윤지후
3      정도윤   5  남    14     윤지후
4      정도윤   5  남    15     윤지후
..     ...  .. ..   ...     ...
515    정채원  20  여     1     장예린
516    정채원  20  여     2     장예린
517    정채원  20  여     9     장예린
518    정채원  20  여    17     장예린
519    정채원  20  여    18     장예린

[520 rows x 5 columns]

In [4]:
# 지명수 구하는 함수
def count_point(df, student_list, item_no) :
    temp_df = df[df['문항번호'].isin(item_no)]
    count_list = []
    for student in student_list :
        if len(temp_df[temp_df['지명받은 학생']==student]) >= 1 :
            freq = len(temp_df[temp_df['지명받은 학생']==student])
        elif len(temp_df[temp_df['지명받은 학생']==student]) == 0 :
            freq = 0
        count_list.append(freq)
    count_point_df = pd.DataFrame({'학생명': student_list, '지명수': count_list})
    return count_point_df

In [5]:
# 친한친구 14번
fri_item_no = [14]
count_point_df = count_point(df, student_list, fri_item_no)
print(count_point_df)

    학생명  지명수
0   윤지후    2
1   신채원    1
2   이민준    3
3   양지호    0
4   정도윤    1
5   오채원    2
6   조수아    0
7   이우진    3
8   임유나    2
9   홍하은    1
10  김채린    0
11  이지호    1
12  양지아    1
13  장지호    1
14  류지후    2
15  서지호    1
16  박민준    1
17  홍지호    1
18  조서윤    1
19  정채원    0
20  장예린    2

In [6]:
# 공부친구 15번
stu_item_no = [15]
count_point_df = count_point(df, student_list, stu_item_no)
print(count_point_df)

    학생명  지명수
0   윤지후    2
1   신채원    1
2   이민준    3
3   양지호    0
4   정도윤    1
5   오채원    2
6   조수아    1
7   이우진    3
8   임유나    3
9   홍하은    1
10  김채린    0
11  이지호    0
12  양지아    1
13  장지호    1
14  류지후    2
15  서지호    1
16  박민준    1
17  홍지호    0
18  조서윤    0
19  정채원    1
20  장예린    1

In [7]:
# 협동친구 16번
collabo_item_no = [16]
count_point_df = count_point(df, student_list, collabo_item_no)
print(count_point_df)

    학생명  지명수
0   윤지후    2
1   신채원    1
2   이민준    3
3   양지호    0
4   정도윤    0
5   오채원    2
6   조수아    2
7   이우진    3
8   임유나   11
9   홍하은    1
10  김채린    0
11  이지호    0
12  양지아    2
13  장지호    0
14  류지후    1
15  서지호    0
16  박민준    1
17  홍지호    1
18  조서윤    1
19  정채원    1
20  장예린    2

In [8]:
# 선망친구 17번
envy_item_no = [17]
count_point_df = count_point(df, student_list, envy_item_no)
print(count_point_df)

    학생명  지명수
0   윤지후    2
1   신채원    0
2   이민준    2
3   양지호    0
4   정도윤    0
5   오채원    0
6   조수아    2
7   이우진    1
8   임유나    6
9   홍하은    0
10  김채린    1
11  이지호    0
12  양지아    0
13  장지호    0
14  류지후    3
15  서지호    0
16  박민준    1
17  홍지호    0
18  조서윤    0
19  정채원    0
20  장예린   12

### 교사관계

In [9]:
# 교사 선호
prefer_item_no = [18]
count_point_df = count_point(df, student_list, prefer_item_no)
print(count_point_df)

    학생명  지명수
0   윤지후    2
1   신채원    1
2   이민준    1
3   양지호    0
4   정도윤    0
5   오채원    0
6   조수아    1
7   이우진    0
8   임유나   13
9   홍하은    4
10  김채린    0
11  이지호    0
12  양지아    1
13  장지호    0
14  류지후    0
15  서지호    0
16  박민준    1
17  홍지호    0
18  조서윤    3
19  정채원    1
20  장예린    5

In [10]:
# 교사 비선호
notprefer_item_no = [19]
count_point_df = count_point(df, student_list, notprefer_item_no)
print(count_point_df)

    학생명  지명수
0   윤지후    0
1   신채원    0
2   이민준    0
3   양지호    6
4   정도윤    1
5   오채원    0
6   조수아    0
7   이우진    0
8   임유나    0
9   홍하은    0
10  김채린    1
11  이지호   14
12  양지아    0
13  장지호    0
14  류지후    0
15  서지호    1
16  박민준    0
17  홍지호    1
18  조서윤    0
19  정채원    0
20  장예린    0

### 부모 관계

In [11]:
df = pd.read_excel('AC000120253047CE9_자기보고_응답.xlsx')
print(df)

   학생 이름  학번 성별                                                응답값
0    윤지후   1  남  {"questionChoiceList":[{"questionNo":1,"choice...
1    신채원   2  여  {"questionChoiceList":[{"questionNo":1,"choice...
2    이민준   3  남  {"questionChoiceList":[{"questionNo":1,"choice...
3    양지호   4  남  {"questionChoiceList":[{"questionNo":1,"choice...
4    정도윤   5  남  {"questionChoiceList":[{"questionNo":1,"choice...
5    오채원   6  여  {"questionChoiceList":[{"questionNo":1,"choice...
6    조수아   7  여  {"questionChoiceList":[{"questionNo":1,"choice...
7    이우진   8  남  {"questionChoiceList":[{"questionNo":1,"choice...
8    임유나   9  여  {"questionChoiceList":[{"questionNo":1,"choice...
9    홍하은  10  여  {"questionChoiceList":[{"questionNo":1,"choice...
10   김채린  11  여  {"questionChoiceList":[{"questionNo":1,"choice...
11   이지호  12  남  {"questionChoiceList":[{"questionNo":1,"choice...
12   양지아  13  여  {"questionChoiceList":[{"questionNo":1,"choice...
13   장지호  14  남  {"questionChoiceList":[{"questionNo":1,"choice...
14   류지후  15  남  {"questionChoiceList":[{"questionNo":1,"choice...
15   서지호  16  남  {"questionChoiceList":[{"questionNo":1,"choice...
16   박민준  17  남  {"questionChoiceList":[{"questionNo":1,"choice...
17   홍지호  18  남  {"questionChoiceList":[{"questionNo":1,"choice...
18   조서윤  19  여  {"questionChoiceList":[{"questionNo":1,"choice...
19   정채원  20  여  {"questionChoiceList":[{"questionNo":1,"choice...
20   장예린  21  여  {"questionChoiceList":[{"questionNo":1,"choice...

In [12]:
response_arr = None
for i in range(len(df['응답값'])) :
    print(i+1)
    json_data = df['응답값'][i]
    json_data = json.loads(json_data)
    response_json_data = json_data['questionChoiceList']
    response_data = []

    for item in response_json_data:
        response_data.append(item['choiceScore'])
    if response_arr is None:
        response_arr = np.array(response_data)
    else:
        response_arr = np.vstack([response_arr, response_data])
        
print(response_arr)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
[['4' '4' '3' ... '2' '2' '2']
 ['3' '3' '3' ... '1' '1' '1']
 ['3' '3' '3' ... '1' '1' '1']
 ...
 ['4' '4' '4' ... '1' '1' '1']
 ['5' '4' '4' ... '2' '2' '2']
 ['4' '4' '5' ... '2' '1' '1']]

In [13]:
df = pd.concat([df[['학생 이름', '학번', '성별']], pd.DataFrame(response_arr)], axis=1)
print(df)

   학생 이름  학번 성별  0  1  2  3  4  5  6  ... 65 66 67 68 69 70 71 72 73 74
0    윤지후   1  남  4  4  3  3  4  4  3  ...  4  4  4  2  2  2  2  2  2  2
1    신채원   2  여  3  3  3  4  4  4  4  ...  5  5  5  1  1  1  1  1  1  1
2    이민준   3  남  3  3  3  3  3  3  3  ...  3  3  3  1  1  1  1  1  1  1
3    양지호   4  남  5  4  4  2  2  3  4  ...  1  1  2  4  5  4  4  3  3  4
4    정도윤   5  남  4  3  4  4  4  4  3  ...  4  4  3  2  2  2  2  2  2  2
5    오채원   6  여  4  3  4  3  4  4  2  ...  3  4  2  4  3  4  4  3  4  4
6    조수아   7  여  4  3  4  3  3  4  4  ...  4  5  4  2  1  3  2  1  1  2
7    이우진   8  남  4  3  3  3  3  3  4  ...  4  4  4  2  2  2  3  1  1  1
8    임유나   9  여  4  4  4  4  4  4  2  ...  5  5  4  1  1  1  1  1  1  1
9    홍하은  10  여  4  3  4  5  5  5  2  ...  3  3  3  2  2  2  2  3  1  2
10   김채린  11  여  5  5  5  5  5  5  2  ...  4  3  2  3  2  4  4  3  2  3
11   이지호  12  남  5  5  5  5  5  5  1  ...  2  3  1  4  4  4  4  4  5  5
12   양지아  13  여  4  5  4  4  4  5  4  ...  5  3  5  3  5  3  5  3  3  3
13   장지호  14  남  4  4  4  4  4  4  2  ...  2  2  2  4  4  2  4  4  4  4
14   류지후  15  남  3  3  4  3  4  3  4  ...  3  4  4  2  2  3  2  2  1  1
15   서지호  16  남  2  2  2  2  2  2  2  ...  2  1  3  2  3  2  3  3  3  3
16   박민준  17  남  4  4  4  4  4  4  3  ...  4  4  4  2  2  3  2  2  2  2
17   홍지호  18  남  5  5  5  5  5  5  4  ...  4  3  4  2  2  3  2  3  2  2
18   조서윤  19  여  4  4  4  3  3  3  4  ...  4  4  4  2  2  2  2  1  1  1
19   정채원  20  여  5  4  4  2  2  4  4  ...  4  4  4  2  2  2  2  2  2  2
20   장예린  21  여  4  4  5  4  5  5  5  ...  4  4  5  2  1  4  2  2  1  1

[21 rows x 78 columns]

In [14]:
print(len(df.columns[3:]))
col = []
for i in range(1,76) :
    col.append(i)
print(len(col))

df.columns = ['학생 이름', '학번', '성별'] + col

75
75

In [15]:
df

   학생 이름  학번 성별  1  2  3  4  5  6  7  ... 66 67 68 69 70 71 72 73 74 75
0    윤지후   1  남  4  4  3  3  4  4  3  ...  4  4  4  2  2  2  2  2  2  2
1    신채원   2  여  3  3  3  4  4  4  4  ...  5  5  5  1  1  1  1  1  1  1
2    이민준   3  남  3  3  3  3  3  3  3  ...  3  3  3  1  1  1  1  1  1  1
3    양지호   4  남  5  4  4  2  2  3  4  ...  1  1  2  4  5  4  4  3  3  4
4    정도윤   5  남  4  3  4  4  4  4  3  ...  4  4  3  2  2  2  2  2  2  2
5    오채원   6  여  4  3  4  3  4  4  2  ...  3  4  2  4  3  4  4  3  4  4
6    조수아   7  여  4  3  4  3  3  4  4  ...  4  5  4  2  1  3  2  1  1  2
7    이우진   8  남  4  3  3  3  3  3  4  ...  4  4  4  2  2  2  3  1  1  1
8    임유나   9  여  4  4  4  4  4  4  2  ...  5  5  4  1  1  1  1  1  1  1
9    홍하은  10  여  4  3  4  5  5  5  2  ...  3  3  3  2  2  2  2  3  1  2
10   김채린  11  여  5  5  5  5  5  5  2  ...  4  3  2  3  2  4  4  3  2  3
11   이지호  12  남  5  5  5  5  5  5  1  ...  2  3  1  4  4  4  4  4  5  5
12   양지아  13  여  4  5  4  4  4  5  4  ...  5  3  5  3  5  3  5  3  3  3
13   장지호  14  남  4  4  4  4  4  4  2  ...  2  2  2  4  4  2  4  4  4  4
14   류지후  15  남  3  3  4  3  4  3  4  ...  3  4  4  2  2  3  2  2  1  1
15   서지호  16  남  2  2  2  2  2  2  2  ...  2  1  3  2  3  2  3  3  3  3
16   박민준  17  남  4  4  4  4  4  4  3  ...  4  4  4  2  2  3  2  2  2  2
17   홍지호  18  남  5  5  5  5  5  5  4  ...  4  3  4  2  2  3  2  3  2  2
18   조서윤  19  여  4  4  4  3  3  3  4  ...  4  4  4  2  2  2  2  1  1  1
19   정채원  20  여  5  4  4  2  2  4  4  ...  4  4  4  2  2  2  2  2  2  2
20   장예린  21  여  4  4  5  4  5  5  5  ...  4  4  5  2  1  4  2  2  1  1

[21 rows x 78 columns]

In [16]:
df['정서적양육태도'] = df.loc[:, [i for i in range(60,69)]].mean(axis=1)

In [17]:
df['강압적양육태도'] = df.loc[:, [i for i in range(69,76)]].mean(axis=1)

In [18]:
df

,학생 이름,학번,성별,1,2,3,4,5,6,7,...,68,69,70,71,72,73,74,75,정서적양육태도,강압적양육태도
0,윤지후,1,남,4,4,3,3,4,4,3,...,4,2,2,2,2,2,2,2,49382716.0,317460.285714
1,신채원,2,여,3,3,3,4,4,4,4,...,5,1,1,1,1,1,1,1,61728395.0,158730.142857
2,이민준,3,남,3,3,3,3,3,3,3,...,3,1,1,1,1,1,1,1,37037037.0,158730.142857
3,양지호,4,남,5,4,4,2,2,3,4,...,2,4,5,4,4,3,3,4,13681345.777778,649190.571429
4,정도윤,5,남,4,3,4,4,4,4,3,...,3,2,2,2,2,2,2,2,49382715.888889,317460.285714
5,오채원,6,여,4,3,4,3,4,4,2,...,2,4,3,4,4,3,4,4,46937038.0,620620.571429
6,조수아,7,여,4,3,4,3,3,4,4,...,4,2,1,3,2,1,1,2,49271606.0,304587.428571
7,이우진,8,남,4,3,3,3,3,3,4,...,4,2,2,2,3,1,1,1,49160493.777778,317587.285714
8,임유나,9,여,4,4,4,4,4,4,2,...,4,1,1,1,1,1,1,1,50617283.777778,158730.142857
9,홍하은,10,여,4,3,4,5,5,5,2,...,3,2,2,2,2,3,1,2,49371592.555556,317473.142857
10,김채린,11,여,5,5,5,5,5,5,2,...,2,3,2,4,4,3,2,3,38259270.222222,463474.714286
11,이지호,12,남,5,5,5,5,5,5,1,...,1,4,4,4,4,4,5,5,25925803.444444,634922.142857
12,양지아,13,여,4,5,4,4,4,5,4,...,5,3,5,3,5,3,3,3,59483726.111111,505047.571429
13,장지호,14,남,4,4,4,4,4,4,2,...,2,4,4,2,4,4,4,4,35913580.222222,632063.428571
14,류지후,15,남,3,3,4,3,4,3,4,...,4,2,2,3,2,2,1,1,38271593.777778,318887.285714
15,서지호,16,남,2,2,2,2,2,2,2,...,3,2,3,2,3,3,3,3,14680357.0,331904.714286
16,박민준,17,남,4,4,4,4,4,4,3,...,4,2,2,3,2,2,2,2,49382716.0,318888.857143
17,홍지호,18,남,5,5,5,5,5,5,4,...,4,2,2,3,2,3,2,2,47038159.333333,318903.142857
18,조서윤,19,여,4,4,4,3,3,3,4,...,4,2,2,2,2,1,1,1,49382716.0,317444.428571
19,정채원,20,여,5,4,4,2,2,4,4,...,4,2,2,2,2,2,2,2,49382716.0,317460.285714
20,장예린,21,여,4,4,5,4,5,5,5,...,5,2,1,4,2,2,1,1,50616049.444444,306030.142857

In [19]:
### 응답값 문자열인가?? 왜케 높게 나오지
df.dtypes

학생 이름      object
학번          int64
성별         object
1          object
2          object
            ...
73         object
74         object
75         object
정서적양육태도    object
강압적양육태도    object
Length: 80, dtype: object

In [20]:
df[[i for i in range(1,76)]] = df[[i for i in range(1,76)]].apply(pd.to_numeric, errors='coerce')

In [21]:
df.dtypes

학생 이름      object
학번          int64
성별         object
1           int64
2           int64
            ...
73          int64
74          int64
75          int64
정서적양육태도    object
강압적양육태도    object
Length: 80, dtype: object

In [22]:
df['정서적양육태도'] = df.loc[:, [i for i in range(60,69)]].mean(axis=1)
df['강압적양육태도'] = df.loc[:, [i for i in range(69,76)]].mean(axis=1)
print(df)

   학생 이름  학번 성별  1  2  3  4  5  6  7  ...  68  69  70  71  72  73  74  75  \
0    윤지후   1  남  4  4  3  3  4  4  3  ...   4   2   2   2   2   2   2   2
1    신채원   2  여  3  3  3  4  4  4  4  ...   5   1   1   1   1   1   1   1
2    이민준   3  남  3  3  3  3  3  3  3  ...   3   1   1   1   1   1   1   1
3    양지호   4  남  5  4  4  2  2  3  4  ...   2   4   5   4   4   3   3   4
4    정도윤   5  남  4  3  4  4  4  4  3  ...   3   2   2   2   2   2   2   2
5    오채원   6  여  4  3  4  3  4  4  2  ...   2   4   3   4   4   3   4   4
6    조수아   7  여  4  3  4  3  3  4  4  ...   4   2   1   3   2   1   1   2
7    이우진   8  남  4  3  3  3  3  3  4  ...   4   2   2   2   3   1   1   1
8    임유나   9  여  4  4  4  4  4  4  2  ...   4   1   1   1   1   1   1   1
9    홍하은  10  여  4  3  4  5  5  5  2  ...   3   2   2   2   2   3   1   2
10   김채린  11  여  5  5  5  5  5  5  2  ...   2   3   2   4   4   3   2   3
11   이지호  12  남  5  5  5  5  5  5  1  ...   1   4   4   4   4   4   5   5
12   양지아  13  여  4  5  4  4  4  5  4  ...   5   3   5   3   5   3   3   3
13   장지호  14  남  4  4  4  4  4  4  2  ...   2   4   4   2   4   4   4   4
14   류지후  15  남  3  3  4  3  4  3  4  ...   4   2   2   3   2   2   1   1
15   서지호  16  남  2  2  2  2  2  2  2  ...   3   2   3   2   3   3   3   3
16   박민준  17  남  4  4  4  4  4  4  3  ...   4   2   2   3   2   2   2   2
17   홍지호  18  남  5  5  5  5  5  5  4  ...   4   2   2   3   2   3   2   2
18   조서윤  19  여  4  4  4  3  3  3  4  ...   4   2   2   2   2   1   1   1
19   정채원  20  여  5  4  4  2  2  4  4  ...   4   2   2   2   2   2   2   2
20   장예린  21  여  4  4  5  4  5  5  5  ...   5   2   1   4   2   2   1   1

     정서적양육태도   강압적양육태도
0   4.000000  2.000000
1   5.000000  1.000000
2   3.000000  1.000000
3   1.777778  3.857143
4   3.888889  2.000000
5   3.000000  3.714286
6   4.000000  1.714286
7   3.777778  1.714286
8   4.777778  1.000000
9   3.555556  2.000000
10  3.222222  3.000000
11  2.444444  4.285714
12  4.111111  3.571429
13  2.222222  3.714286
14  3.777778  1.857143
15  2.000000  2.714286
16  4.000000  2.142857
17  3.333333  2.285714
18  4.000000  1.571429
19  4.000000  2.000000
20  4.444444  1.857143

[21 rows x 80 columns]

In [23]:
### !!! 사회적 관계 채점 함수

student_df = pd.read_excel('AC000120253047CE9_학생명단.xlsx')
student_list = student_df['학생명'].to_list()

point_df = pd.read_excel('AC000120253047CE9_또래지명_응답.xlsx')

self_df = pd.read_excel('AC000120253047CE9_자기보고_응답.xlsx')

def social_relation_score(student_list, point_df, self_df):
    # 친한친구
    fri_item_no = [14]
    fri_count_df = count_point(point_df, student_list, fri_item_no)
    # 공부친구
    stu_item_no = [15]
    stu_count_df = count_point(point_df, student_list, stu_item_no)
    # 협동친구
    collabo_item_no = [16]
    collabo_count_df = count_point(point_df, student_list, collabo_item_no)
    # 선망친구
    envy_item_no = [17]
    envy_count_df = count_point(point_df, student_list, envy_item_no)
    # 교사 선호
    prefer_item_no = [18]
    prefer_count_df = count_point(point_df, student_list, prefer_item_no)
    # 교사 비선호
    notprefer_item_no = [19]
    notprefer_count_df = count_point(point_df, student_list, notprefer_item_no)
    
    # 자기보고 응답값
    response_arr = None
    for i in range(len(self_df['응답값'])):
        json_data = self_df['응답값'][i]
        json_data = json.loads(json_data)
        response_json_data = json_data['questionChoiceList']
        response_data = []

        for item in response_json_data:
            response_data.append(item['choiceScore'])
        if response_arr is None:
            response_arr = np.array(response_data)
        else:
            response_arr = np.vstack([response_arr, response_data])
    self_df = pd.concat([self_df[['학생 이름', '학번', '성별']], pd.DataFrame(response_arr)], axis=1)
    self_df.columns = ['학생 이름', '학번', '성별'] + [i for i in range(1, 76)]
    self_df[[i for i in range(1,76)]] = self_df[[i for i in range(1,76)]].apply(pd.to_numeric, errors='coerce')
    self_df['정서적양육태도'] = self_df.loc[:, [i for i in range(60, 69)]].mean(axis=1)
    self_df['강압적양육태도'] = self_df.loc[:, [i for i in range(69, 76)]].mean(axis=1)
    social_relation_score_df = pd.DataFrame({
        '학생 이름': self_df['학생 이름'],
        '학번': self_df['학번'],
        '성별': self_df['성별'],
        '친한친구': fri_count_df['지명수'],
        '공부친구': stu_count_df['지명수'],
        '협동친구': collabo_count_df['지명수'],
        '선망친구': envy_count_df['지명수'],
        '교사 선호': prefer_count_df['지명수'],
        '교사 비선호': notprefer_count_df['지명수'],
        '정서적양육태도': self_df['정서적양육태도'],
        '강압적양육태도': self_df['강압적양육태도']
    })
    return social_relation_score_df

In [24]:
social_relation_score_df = social_relation_score(student_list, point_df, self_df)
print(social_relation_score_df)

   학생 이름  학번 성별  친한친구  공부친구  협동친구  선망친구  교사 선호  교사 비선호   정서적양육태도   강압적양육태도
0    윤지후   1  남     2     2     2     2      2       0  4.000000  2.000000
1    신채원   2  여     1     1     1     0      1       0  5.000000  1.000000
2    이민준   3  남     3     3     3     2      1       0  3.000000  1.000000
3    양지호   4  남     0     0     0     0      0       6  1.777778  3.857143
4    정도윤   5  남     1     1     0     0      0       1  3.888889  2.000000
5    오채원   6  여     2     2     2     0      0       0  3.000000  3.714286
6    조수아   7  여     0     1     2     2      1       0  4.000000  1.714286
7    이우진   8  남     3     3     3     1      0       0  3.777778  1.714286
8    임유나   9  여     2     3    11     6     13       0  4.777778  1.000000
9    홍하은  10  여     1     1     1     0      4       0  3.555556  2.000000
10   김채린  11  여     0     0     0     1      0       1  3.222222  3.000000
11   이지호  12  남     1     0     0     0      0      14  2.444444  4.285714
12   양지아  13  여     1     1     2     0      1       0  4.111111  3.571429
13   장지호  14  남     1     1     0     0      0       0  2.222222  3.714286
14   류지후  15  남     2     2     1     3      0       0  3.777778  1.857143
15   서지호  16  남     1     1     0     0      0       1  2.000000  2.714286
16   박민준  17  남     1     1     1     1      1       0  4.000000  2.142857
17   홍지호  18  남     1     0     1     0      0       1  3.333333  2.285714
18   조서윤  19  여     1     0     1     0      3       0  4.000000  1.571429
19   정채원  20  여     0     1     1     0      1       0  4.000000  2.000000
20   장예린  21  여     2     1     2    12      5       0  4.444444  1.857143

In [25]:
'''
양육태도는 왜 정수 반올림이지?
정예린에서 보면, y축 라벨이랑 안 맞음 / 값은 일치함
'''

'\n양육태도는 왜 정수 반올림이지?\n정예린에서 보면, y축 라벨이랑 안 맞음 / 값은 일치함\n'

## 또래지위와 사회적 행동

In [37]:
student_df = pd.read_excel('AC000120253047CE9_학생명단.xlsx')
student_list = student_df['학생명'].to_list()

point_df = pd.read_excel('AC000120253047CE9_또래지명_응답.xlsx')

self_df = pd.read_excel('AC000120253047CE9_자기보고_응답.xlsx')

def peerstatus_socialbehavior(student_list, point_df, self_df) :
    # 정규화
    def normalize(z):
        if z >= 0.84:
            return 5
        elif z >= 0.25:
            return 4
        elif z >= -0.25:
            return 3
        elif z >= -0.84:
            return 2
        else:
            return 1
        
    # 인기
    popularity_item_no = [1]
    popularity_count_df = count_point(point_df, student_list, popularity_item_no) # 인기 지명수
    popularity_count_mean = popularity_count_df['지명수'].mean() # 인기 지명수 학급평균
    popularity_count_df['인기Z점수'] = (popularity_count_df['지명수'] - popularity_count_mean) / popularity_count_df['지명수'].std() # 인기 지명수 Z점수
    popularity_count_df['인기_정규화'] = popularity_count_df['인기Z점수'].apply(normalize)
    popularity_mean = popularity_count_df['인기_정규화'].mean()


    # 사회적 선호
    social_preference_item_no = [2]
    social_preference_count_df = count_point(point_df, student_list, social_preference_item_no) # 사회적 선호 지명수
    social_preference_count_mean = social_preference_count_df['지명수'].mean() # 사회적 선호 지명수 학급평균
    social_preference_count_df['사회적선호Z점수'] = (social_preference_count_df['지명수'] - social_preference_count_mean) / social_preference_count_df['지명수'].std() # 사회적 선호 지명수 Z점수
    social_preference_count_df['사회적선호_정규화'] = social_preference_count_df['사회적선호Z점수'].apply(normalize)
    social_preference_mean = social_preference_count_df['사회적선호_정규화'].mean()

    # 외현적 공격성
    overt_aggression_item_no = [4,5]
    overt_aggression_count_df = count_point(point_df, student_list, overt_aggression_item_no) # 외현적 공격성 지명수
    overt_aggression_count_mean = overt_aggression_count_df['지명수'].mean() # 외현적 공격성 지명수 학급평균
    overt_aggression_count_df['외현적공격성Z점수'] = (overt_aggression_count_df['지명수'] - overt_aggression_count_mean) / overt_aggression_count_df['지명수'].std() # 외현적 공격성 지명수 Z점수
    overt_aggression_count_df['외현적공격성_정규화'] = overt_aggression_count_df['외현적공격성Z점수'].apply(normalize)
    overt_aggression_mean = overt_aggression_count_df['외현적공격성_정규화'].mean()

    # 관계적 공격성
    relational_aggression_item_no = [6,7]
    relational_aggression_count_df = count_point(point_df, student_list, relational_aggression_item_no) # 관계적 공격성 지명수
    relational_aggression_count_mean = relational_aggression_count_df['지명수'].mean() # 관계적 공격성 지명수 학급평균
    relational_aggression_count_df['관계적공격성Z점수'] = (relational_aggression_count_df['지명수'] - relational_aggression_count_mean) / relational_aggression_count_df['지명수'].std() # 관계적 공격성 지명수 Z점수
    relational_aggression_count_df['관계적공격성_정규화'] = relational_aggression_count_df['관계적공격성Z점수'].apply(normalize)
    relational_aggression_mean = relational_aggression_count_df['관계적공격성_정규화'].mean()

    # 친사회성
    prosocial_item_no = [8,9]
    prosocial_count_df = count_point(point_df, student_list, prosocial_item_no) # 친사회성 지명수
    prosocial_count_mean = prosocial_count_df['지명수'].mean() # 친사회성 지명수 학급평균
    prosocial_count_df['친사회성Z점수'] = (prosocial_count_df['지명수'] - prosocial_count_mean) / prosocial_count_df['지명수'].std() # 친사회성 지명수 Z점수
    prosocial_count_df['친사회성_정규화'] = prosocial_count_df['친사회성Z점수'].apply(normalize)
    prosocial_mean = prosocial_count_df['친사회성_정규화'].mean()

    # 자기보고 JSON 전처리
    response_arr = None
    for i in range(len(self_df['응답값'])):
        json_data = self_df['응답값'][i]
        json_data = json.loads(json_data)
        response_json_data = json_data['questionChoiceList']
        response_data = []

        for item in response_json_data:
            response_data.append(item['choiceScore'])
        if response_arr is None:
            response_arr = np.array(response_data)
        else:
            response_arr = np.vstack([response_arr, response_data])
    self_df = pd.concat([self_df[['학생 이름', '학번', '성별']], pd.DataFrame(response_arr)], axis=1)
    self_df.columns = ['학생 이름', '학번', '성별'] + [i for i in range(1, 76)]
    self_df[[i for i in range(1,76)]] = self_df[[i for i in range(1,76)]].apply(pd.to_numeric, errors='coerce')
    
    # 인기추구 동기
    popularity_motivation_item_no = [1,2,3]
    self_df['인기추구동기'] = self_df.loc[:, popularity_motivation_item_no].mean(axis=1)
    popularity_motivation_mean = self_df['인기추구동기'].mean()  # 인기추구 동기 학급평균
    # 인기상실 불안
    popularity_loss_anxiety_item_no = [4,5,6]
    self_df['인기상실불안'] = self_df.loc[:, popularity_loss_anxiety_item_no].mean(axis=1)
    popularity_loss_anxiety_mean = self_df['인기상실불안'].mean()  # 인기상실 불안 학급평균

    return pd.DataFrame({
        '학생 이름': self_df['학생 이름'],
        '학번': self_df['학번'],
        '성별': self_df['성별'],
        '인기': popularity_count_df['인기_정규화'],
        '사회적선호': social_preference_count_df['사회적선호_정규화'],
        '외현적공격성': overt_aggression_count_df['외현적공격성_정규화'],
        '관계적공격성': relational_aggression_count_df['관계적공격성_정규화'],
        '친사회성': prosocial_count_df['친사회성_정규화'],
        '인기추구동기': self_df['인기추구동기'],
        '인기상실불안': self_df['인기상실불안']
    }), popularity_mean, social_preference_mean, overt_aggression_mean, relational_aggression_mean, prosocial_mean, popularity_motivation_mean, popularity_loss_anxiety_mean

In [38]:
df, popularity_mean, social_preference_mean, overt_aggression_mean, relational_aggression_mean, prosocial_mean, popularity_motivation_mean, popularity_loss_anxiety_mean = peerstatus_socialbehavior(student_list, point_df, self_df)

In [39]:
print(df)
print("============================================")
print("인기 지명수 학급평균:", popularity_mean)
print("사회적 선호 지명수 학급평균:", social_preference_mean)
print("외현적 공격성 지명수 학급평균:", overt_aggression_mean)
print("관계적 공격성 지명수 학급평균:", relational_aggression_mean)
print("친사회성 지명수 학급평균:", prosocial_mean)
print("인기추구 동기 학급평균:", popularity_motivation_mean)
print("인기상실 불안 학급평균:", popularity_loss_anxiety_mean)

   학생 이름  학번 성별  인기  사회적선호  외현적공격성  관계적공격성  친사회성    인기추구동기    인기상실불안
0    윤지후   1  남   3      3       3       2     3  3.666667  3.666667
1    신채원   2  여   2      2       2       2     2  3.000000  4.000000
2    이민준   3  남   3      4       2       2     3  3.000000  3.000000
3    양지호   4  남   2      2       4       2     2  4.333333  2.333333
4    정도윤   5  남   2      3       2       2     2  3.666667  4.000000
5    오채원   6  여   2      3       2       2     3  3.666667  3.666667
6    조수아   7  여   2      2       2       3     3  3.666667  3.333333
7    이우진   8  남   3      3       2       2     2  3.333333  3.000000
8    임유나   9  여   5      5       2       2     5  4.000000  4.000000
9    홍하은  10  여   2      2       2       4     2  3.666667  5.000000
10   김채린  11  여   3      2       3       4     2  5.000000  5.000000
11   이지호  12  남   2      2       5       5     2  5.000000  5.000000
12   양지아  13  여   3      3       2       4     3  4.333333  4.333333
13   장지호  14  남   2      4       2       2     2  4.000000  4.000000
14   류지후  15  남   3      3       2       2     2  3.333333  3.333333
15   서지호  16  남   2      3       3       3     2  2.000000  2.000000
16   박민준  17  남   2      3       3       2     2  4.000000  4.000000
17   홍지호  18  남   3      2       3       2     2  5.000000  5.000000
18   조서윤  19  여   2      2       2       2     3  4.000000  3.000000
19   정채원  20  여   2      2       2       3     2  4.333333  2.666667
20   장예린  21  여   5      5       2       2     5  4.333333  4.666667
============================================
인기 지명수 학급평균: 2.619047619047619
사회적 선호 지명수 학급평균: 2.857142857142857
외현적 공격성 지명수 학급평균: 2.4761904761904763
관계적 공격성 지명수 학급평균: 2.5714285714285716
친사회성 지명수 학급평균: 2.5714285714285716
인기추구 동기 학급평균: 3.873015873015872
인기상실 불안 학급평균: 3.761904761904762

In [29]:
'''
인기추구 동기와 불안은 왜 정수 반올림이지?

인기 지명수 학급평균: 1.7619047619047619
사회적 선호 지명수 학급평균: 1.7142857142857142
외현적 공격성 지명수 학급평균: 2.4285714285714284
관계적 공격성 지명수 학급평균: 2.1904761904761907
친사회성 지명수 학급평균: 2.9047619047619047
평균값이 안맞는데 z점수 정규화 결과는 일차되게 나오네...? 정규화 때문인가?
'''

'\n인기추구 동기와 불안은 왜 정수 반올림이지?\n\n인기 지명수 학급평균: 1.7619047619047619\n사회적 선호 지명수 학급평균: 1.7142857142857142\n외현적 공격성 지명수 학급평균: 2.4285714285714284\n관계적 공격성 지명수 학급평균: 2.1904761904761907\n친사회성 지명수 학급평균: 2.9047619047619047\n평균값이 안맞는데 z점수 정규화 결과는 일차되게 나오네...? 정규화 때문인가?\n'

## 또래 괴롭힘과 심리적 특성

In [40]:
student_df = pd.read_excel('AC000120253047CE9_학생명단.xlsx')
student_list = student_df['학생명'].to_list()

point_df = pd.read_excel('AC000120253047CE9_또래지명_응답.xlsx')

self_df = pd.read_excel('AC000120253047CE9_자기보고_응답.xlsx')

def peer_bullying_psychological_traits(student_list, point_df, self_df):
    # 정규화
    def normalize(z):
        if z >= 0.84:
            return 5
        elif z >= 0.25:
            return 4
        elif z >= -0.25:
            return 3
        elif z >= -0.84:
            return 2
        else:
            return 1

    # 가해
    perpetrator_item_no = [10, 11]
    perpetrator_count_df = count_point(point_df, student_list, perpetrator_item_no)  # 가해 지명수
    perpetrator_count_mean = perpetrator_count_df['지명수'].mean()  # 가해 지명수 학급평균
    perpetrator_count_df['가해Z점수'] = (perpetrator_count_df['지명수'] - perpetrator_count_mean) / perpetrator_count_df['지명수'].std()  # 가해 지명수 Z점수
    perpetrator_count_df['가해_정규화'] = perpetrator_count_df['가해Z점수'].apply(normalize)
    perpetrator_mean = perpetrator_count_df['가해_정규화'].mean()
    # 피해
    victim_item_no = [12, 13]
    victim_count_df = count_point(point_df, student_list, victim_item_no)  # 피해 지명수
    victim_count_mean = victim_count_df['지명수'].mean()  # 피해 지명수 학급평균
    victim_count_df['피해Z점수'] = (victim_count_df['지명수'] - victim_count_mean) / victim_count_df['지명수'].std()  # 피해 지명수 Z점수
    victim_count_df['피해_정규화'] = victim_count_df['피해Z점수'].apply(normalize)
    victim_mean = victim_count_df['피해_정규화'].mean()
    
    # 자기보고 JSON 전처리
    response_arr = None
    for i in range(len(self_df['응답값'])):
        json_data = self_df['응답값'][i]
        json_data = json.loads(json_data)
        response_json_data = json_data['questionChoiceList']
        response_data = []

        for item in response_json_data:
            response_data.append(item['choiceScore'])
        if response_arr is None:
            response_arr = np.array(response_data)
        else:
            response_arr = np.vstack([response_arr, response_data])
    self_df = pd.concat([self_df[['학생 이름', '학번', '성별']], pd.DataFrame(response_arr)], axis=1)
    self_df.columns = ['학생 이름', '학번', '성별'] + [i for i in range(1, 76)]
    self_df[[i for i in range(1,76)]] = self_df[[i for i in range(1,76)]].apply(pd.to_numeric, errors='coerce')
    
    # 인지적 공감
    cognitive_empathy_item_no = [7,8,9,10,11,12,13]
    self_df['인지적공감'] = self_df.loc[:, cognitive_empathy_item_no].mean(axis=1)
    cognitive_empathy_mean = self_df['인지적공감'].mean()  # 인지적공감 학급평균
    # 정서적 공감
    emotional_empathy_item_no = [14,15,16,17,18,19,20]
    self_df['정서적공감'] = self_df.loc[:, emotional_empathy_item_no].mean(axis=1)
    emotional_empathy_mean = self_df['정서적공감'].mean()  # 정서적곰감 학급평균
    # 내재화
    internalization_item_no = [21,22,23,24,25,26,27,28,29,30]
    self_df['내재화'] = self_df.loc[:, internalization_item_no].mean(axis=1)
    internalization_mean = self_df['내재화'].mean()  # 내재화 학급평균

    return pd.DataFrame({
        '학생 이름': self_df['학생 이름'],
        '학번': self_df['학번'],
        '성별': self_df['성별'],
        '가해': perpetrator_count_df['가해_정규화'],
        '피해': victim_count_df['피해_정규화'],
        '인지적공감': self_df['인지적공감'],
        '정서적공감': self_df['정서적공감'],
        '내재화': self_df['내재화']
    }), perpetrator_mean, victim_mean, cognitive_empathy_mean, emotional_empathy_mean, internalization_mean

In [42]:
df, perpetrator_mean, victim_mean, cognitive_empathy_mean, emotional_empathy_mean, internalization_mean = peer_bullying_psychological_traits(student_list, point_df, self_df)

print(df)
print("가해 학급평균:", perpetrator_mean)
print("피해 학급평균:", victim_mean)
print("인지적공감 학급평균:", cognitive_empathy_mean)
print("정서적공감 학급평균:", emotional_empathy_mean)
print("내재화 학급평균:", internalization_mean)

   학생 이름  학번 성별  가해  피해     인지적공감     정서적공감  내재화
0    윤지후   1  남   2   3  3.428571  3.571429  2.2
1    신채원   2  여   2   3  4.428571  4.571429  1.2
2    이민준   3  남   2   3  3.428571  3.000000  2.8
3    양지호   4  남   2   5  4.000000  3.000000  3.0
4    정도윤   5  남   2   3  3.571429  3.285714  2.7
5    오채원   6  여   2   3  3.000000  3.142857  2.4
6    조수아   7  여   2   3  4.000000  4.000000  2.0
7    이우진   8  남   2   3  3.714286  3.857143  1.8
8    임유나   9  여   2   3  4.000000  4.571429  1.6
9    홍하은  10  여   3   3  3.000000  3.428571  2.5
10   김채린  11  여   2   3  2.857143  2.714286  2.8
11   이지호  12  남   5   3  2.142857  2.000000  3.1
12   양지아  13  여   3   3  3.428571  3.571429  3.9
13   장지호  14  남   3   3  3.142857  3.428571  3.1
14   류지후  15  남   2   3  3.285714  3.142857  3.2
15   서지호  16  남   3   3  2.714286  2.428571  2.0
16   박민준  17  남   3   3  3.714286  3.285714  2.0
17   홍지호  18  남   3   3  3.000000  2.857143  2.9
18   조서윤  19  여   2   3  4.285714  4.285714  1.2
19   정채원  20  여   2   3  4.000000  4.000000  2.0
20   장예린  21  여   2   3  4.285714  4.285714  1.6
가해 학급평균: 2.4285714285714284
피해 학급평균: 3.0952380952380953
인지적공감 학급평균: 3.496598639455782
정서적공감 학급평균: 3.4489795918367347
내재화 학급평균: 2.380952380952381

In [ ]:
"""
피해와 인지적공감와 내재화는 왜 정수 반올림?

학급평균값 다 안맞음.
"""

'\n피해와 인지적공감와 내재화는 왜 정수 반올림?\n\n학급평균값 다 안맞음.\n'

## 학업적 적응

In [ ]:
student_df = pd.read_excel('AC000120253047CE9_학생명단.xlsx')
student_list = student_df['학생명'].to_list()

self_df = pd.read_excel('AC000120253047CE9_자기보고_응답.xlsx')

student_evaluation_df = pd.read_excel('AC000120253047CE9_학생평가_응답.xlsx')

def academic_adaptation(student_list, self_df, student_evaluation_df):
    
    # 자기보고 JSON 전처리
    response_arr = None
    for i in range(len(self_df['응답값'])):
        json_data = self_df['응답값'][i]
        json_data = json.loads(json_data)
        response_json_data = json_data['questionChoiceList']
        response_data = []

        for item in response_json_data:
            response_data.append(item['choiceScore'])
        if response_arr is None:
            response_arr = np.array(response_data)
        else:
            response_arr = np.vstack([response_arr, response_data])
    self_df = pd.concat([self_df[['학생 이름', '학번', '성별']], pd.DataFrame(response_arr)], axis=1)
    self_df.columns = ['학생 이름', '학번', '성별'] + [i for i in range(1, 76)]
    self_df[[i for i in range(1,76)]] = self_df[[i for i in range(1,76)]].apply(pd.to_numeric, errors='coerce')
    
    # 행동적 수업참여
    academic_participation_item_no = [35,36,37,38,39]
    self_df['행동적수업참여'] = self_df.loc[:, academic_participation_item_no].mean(axis=1)
    academic_participation_mean = self_df['행동적수업참여'].mean()  # 행동적 수업참여 학급평균
    # 정서적 수업참여
    academic_emotional_participation_item_no = [40,41,42,43,44]
    self_df['정서적수업참여'] = self_df.loc[:, academic_emotional_participation_item_no].mean(axis=1)
    academic_emotional_participation_mean = self_df['정서적수업참여'].mean()  # 정서적 수업참여 학급평균
    # 협력적 태도
    cooperative_attitude_item_no = [45,46,47,48,49,50,51]
    self_df['협력적태도'] = self_df.loc[:, cooperative_attitude_item_no].mean(axis=1)
    cooperative_attitude_mean = self_df['협력적태도'].mean()  # 협력적 태도 학급평균
    # 경쟁적 태도
    competitive_attitude_item_no = [52,53,54,55,56,57,58,59]
    self_df['경쟁적태도'] = self_df.loc[:, competitive_attitude_item_no].mean(axis=1)
    competitive_attitude_mean = self_df['경쟁적태도'].mean()  # 경쟁적 태도 학급평균
    
    # 교사평정 성취도
    student_evaluation_item_no = [1]
    student_evaluation_df = student_evaluation_df[student_evaluation_df['문항번호'].isin(student_evaluation_item_no)].reset_index(drop=True)
    student_evaluation_df['응답값'] = student_evaluation_df['응답값'].apply(pd.to_numeric, errors='coerce')
    student_evaluation_mean = student_evaluation_df['응답값'].mean()  # 교사평정 성취도 학급평균

    return pd.DataFrame({
        '학생 이름': self_df['학생 이름'],
        '학번': self_df['학번'],
        '성별': self_df['성별'],
        '행동적수업참여': self_df['행동적수업참여'],
        '정서적수업참여': self_df['정서적수업참여'],
        '협력적태도': self_df['협력적태도'],
        '경쟁적태도': self_df['경쟁적태도'],
        '교사평정성취도': student_evaluation_df['응답값']
    }), academic_participation_mean, academic_emotional_participation_mean, cooperative_attitude_mean, competitive_attitude_mean, student_evaluation_mean

In [ ]:
df, academic_participation_mean, academic_emotional_participation_mean, cooperative_attitude_mean, competitive_attitude_mean, student_evaluation_mean = academic_adaptation(student_list, self_df, student_evaluation_df)
print(df)
print("행동적 수업참여 학급평균:", academic_participation_mean)
print("정서적 수업참여 학급평균:", academic_emotional_participation_mean)
print("협력적 태도 학급평균:", cooperative_attitude_mean)
print("경쟁적 태도 학급평균:", competitive_attitude_mean)
print("교사평정 성취도 학급평균:", student_evaluation_mean)

   학생 이름  학번 성별  행동적수업참여  정서적수업참여     협력적태도  경쟁적태도  교사평정성취도
0    윤지후   1  남      4.0      3.8  3.142857  3.000        2
1    신채원   2  여      5.0      5.0  4.857143  3.000        3
2    이민준   3  남      3.0      3.0  3.000000  3.000        4
3    양지호   4  남      2.2      2.0  1.571429  1.500        3
4    정도윤   5  남      3.0      3.0  3.285714  3.250        3
5    오채원   6  여      4.0      3.2  3.285714  3.250        2
6    조수아   7  여      4.0      4.0  4.000000  2.750        3
7    이우진   8  남      4.0      3.8  3.428571  3.125        4
8    임유나   9  여      4.8      4.0  5.000000  1.750        3
9    홍하은  10  여      3.2      2.2  2.571429  4.250        4
10   김채린  11  여      4.0      3.6  3.428571  3.625        4
11   이지호  12  남      1.8      1.8  2.142857  3.875        5
12   양지아  13  여      3.4      4.2  3.857143  3.750        3
13   장지호  14  남      4.0      4.0  4.000000  3.125        4
14   류지후  15  남      4.0      4.0  4.000000  3.500        4
15   서지호  16  남      2.2      2.0  2.000000  2.375        3
16   박민준  17  남      3.6      3.6  3.714286  2.875        2
17   홍지호  18  남      3.2      3.0  3.000000  4.125        2
18   조서윤  19  여      4.0      4.0  4.000000  3.375        1
19   정채원  20  여      4.0      4.0  4.000000  4.000        2
20   장예린  21  여      4.2      4.6  4.142857  2.250        3
행동적 수업참여 학급평균: 3.6000000000000005
정서적 수업참여 학급평균: 3.4666666666666663
협력적 태도 학급평균: 3.4489795918367343
경쟁적 태도 학급평균: 3.130952380952381
교사평정 성취도 학급평균: 3.0476190476190474

In [ ]:
'''
왜 정수 반올림이 되어있지?
학급평균 다 이상함
'''

'\n왜 정수 반올림이 되어있지?\n학급평균 다 이상함\n'

In [ ]:
## 모든 데이터프레임을 하나로 합치기
def merge_dataframes(social_relation_df, peer_status_df, peer_bullying_df, academic_adaptation_df):
    return pd.merge(social_relation_df, peer_status_df, on=['학생 이름', '학번', '성별'], how='outer') \
        .merge(peer_bullying_df, on=['학생 이름', '학번', '성별'], how='outer') \
        .merge(academic_adaptation_df, on=['학생 이름', '학번', '성별'], how='outer')
social_relation_df = social_relation_score(student_list, point_df, self_df)
peer_status_df, popularity_count_mean, social_preference_count_mean, overt_aggression_count_mean, relational_aggression_count_mean, prosocial_count_mean, popularity_motivation_mean, popularity_loss_anxiety_mean = peerstatus_socialbehavior(student_list, point_df, self_df)
peer_bullying_df, perpetrator_count_mean, victim_count_mean, cognitive_empathy_mean, emotional_empathy_mean, internalization_mean = peer_bullying_psychological_traits(student_list, point_df, self_df)
academic_adaptation_df, academic_participation_mean, academic_emotional_participation_mean, cooperative_attitude_mean, competitive_attitude_mean, student_evaluation_mean = academic_adaptation(student_list, self_df, student_evaluation_df)
merged_df = merge_dataframes(social_relation_df, peer_status_df, peer_bullying_df, academic_adaptation_df)
print(merged_df)
# 엑셀로 저장
merged_df.to_excel('merged_student_data.xlsx', index=False)
print("모든 데이터프레임이 성공적으로 병합되어 'merged_student_data.xlsx'로 저장되었습니다.")

   학생 이름  학번 성별  친한친구  공부친구  협동친구  선망친구  교사 선호  교사 비선호   정서적양육태도  ...  가해  피해  \
0    윤지후   1  남     2     2     2     2      2       0  4.000000  ...   2   3
1    신채원   2  여     1     1     1     0      1       0  5.000000  ...   2   3
2    이민준   3  남     3     3     3     2      1       0  3.000000  ...   2   3
3    양지호   4  남     0     0     0     0      0       6  1.777778  ...   2   5
4    정도윤   5  남     1     1     0     0      0       1  3.888889  ...   2   3
5    오채원   6  여     2     2     2     0      0       0  3.000000  ...   2   3
6    조수아   7  여     0     1     2     2      1       0  4.000000  ...   2   3
7    이우진   8  남     3     3     3     1      0       0  3.777778  ...   2   3
8    임유나   9  여     2     3    11     6     13       0  4.777778  ...   2   3
9    홍하은  10  여     1     1     1     0      4       0  3.555556  ...   3   3
10   김채린  11  여     0     0     0     1      0       1  3.222222  ...   2   3
11   이지호  12  남     1     0     0     0      0      14  2.444444  ...   5   3
12   양지아  13  여     1     1     2     0      1       0  4.111111  ...   3   3
13   장지호  14  남     1     1     0     0      0       0  2.222222  ...   3   3
14   류지후  15  남     2     2     1     3      0       0  3.777778  ...   2   3
15   서지호  16  남     1     1     0     0      0       1  2.000000  ...   3   3
16   박민준  17  남     1     1     1     1      1       0  4.000000  ...   3   3
17   홍지호  18  남     1     0     1     0      0       1  3.333333  ...   3   3
18   조서윤  19  여     1     0     1     0      3       0  4.000000  ...   2   3
19   정채원  20  여     0     1     1     0      1       0  4.000000  ...   2   3
20   장예린  21  여     2     1     2    12      5       0  4.444444  ...   2   3

       인지적공감     정서적공감  내재화  행동적수업참여  정서적수업참여     협력적태도  경쟁적태도  교사평정성취도
0   3.428571  3.571429  2.2      4.0      3.8  3.142857  3.000        2
1   4.428571  4.571429  1.2      5.0      5.0  4.857143  3.000        3
2   3.428571  3.000000  2.8      3.0      3.0  3.000000  3.000        4
3   4.000000  3.000000  3.0      2.2      2.0  1.571429  1.500        3
4   3.571429  3.285714  2.7      3.0      3.0  3.285714  3.250        3
5   3.000000  3.142857  2.4      4.0      3.2  3.285714  3.250        2
6   4.000000  4.000000  2.0      4.0      4.0  4.000000  2.750        3
7   3.714286  3.857143  1.8      4.0      3.8  3.428571  3.125        4
8   4.000000  4.571429  1.6      4.8      4.0  5.000000  1.750        3
9   3.000000  3.428571  2.5      3.2      2.2  2.571429  4.250        4
10  2.857143  2.714286  2.8      4.0      3.6  3.428571  3.625        4
11  2.142857  2.000000  3.1      1.8      1.8  2.142857  3.875        5
12  3.428571  3.571429  3.9      3.4      4.2  3.857143  3.750        3
13  3.142857  3.428571  3.1      4.0      4.0  4.000000  3.125        4
14  3.285714  3.142857  3.2      4.0      4.0  4.000000  3.500        4
15  2.714286  2.428571  2.0      2.2      2.0  2.000000  2.375        3
16  3.714286  3.285714  2.0      3.6      3.6  3.714286  2.875        2
17  3.000000  2.857143  2.9      3.2      3.0  3.000000  4.125        2
18  4.285714  4.285714  1.2      4.0      4.0  4.000000  3.375        1
19  4.000000  4.000000  2.0      4.0      4.0  4.000000  4.000        2
20  4.285714  4.285714  1.6      4.2      4.6  4.142857  2.250        3

[21 rows x 28 columns]
모든 데이터프레임이 성공적으로 병합되어 'merged_student_data.xlsx'로 저장되었습니다.

In [ ]:
# 학급 모든 평균값 출력
print("인기 지명수 학급평균:", round(popularity_count_mean,2))
print("사회적 선호 지명수 학급평균:", round(social_preference_count_mean, 2))
print("외현적 공격성 지명수 학급평균:", round(overt_aggression_count_mean, 2))
print("관계적 공격성 지명수 학급평균:", round(relational_aggression_count_mean, 2))
print("친사회성 지명수 학급평균:", round(prosocial_count_mean, 2))
print("인기추구 동기 학급평균:", round(popularity_motivation_mean, 2))
print("인기상실 불안 학급평균:", round(popularity_loss_anxiety_mean, 2))
print("=========================")
print("가해 지명수 학급평균:", round(perpetrator_count_mean, 2))
print("피해 지명수 학급평균:", round(victim_count_mean, 2))
print("인지적 공감 학급평균:", round(cognitive_empathy_mean, 2))
print("정서적 공감 학급평균:", round(emotional_empathy_mean, 2))
print("내재화 학급평균:", round(internalization_mean, 2))
print("=========================")
print("행동적 수업참여 학급평균:", round(academic_participation_mean, 2))
print("정서적 수업참여 학급평균:", round(academic_emotional_participation_mean, 2))
print("협력적 태도 학급평균:", round(cooperative_attitude_mean, 2))
print("경쟁적 태도 학급평균:", round(competitive_attitude_mean, 2))
print("교사평정 성취도 학급평균:", round(student_evaluation_mean, 2))

인기 지명수 학급평균: 2.62
사회적 선호 지명수 학급평균: 1.71
외현적 공격성 지명수 학급평균: 2.43
관계적 공격성 지명수 학급평균: 2.19
친사회성 지명수 학급평균: 2.9
인기추구 동기 학급평균: 3.87
인기상실 불안 학급평균: 3.76
=========================
가해 지명수 학급평균: 2.1
피해 지명수 학급평균: 1.95
인지적 공감 학급평균: 3.5
정서적 공감 학급평균: 3.45
내재화 학급평균: 2.38
=========================
행동적 수업참여 학급평균: 3.6
정서적 수업참여 학급평균: 3.47
협력적 태도 학급평균: 3.45
경쟁적 태도 학급평균: 3.13
교사평정 성취도 학급평균: 3.05