# 학급 내 특정 학생의 교사용 리포트 채점 함수

## 사회적 관계

### 또래 맥락

In [99]:
# 라이브러리
import pandas as pd
import numpy as np
import json

In [100]:
# 학생 명단 먼저 확보

student_df = pd.read_excel('AC000120256042D2E_학생명단.xlsx')
student_list = student_df['학생명'].to_list()
print(student_list)

['김하윤', '이서준', '조하린', '박시우', '배수아', '정하늘', '윤지후', '최다인', '강예준', '한지아', '서준호', '노지민', '임유나', '오태양', '김소율', '홍지호', '장예림', '류도현', '신아린', '백승우']

In [101]:
df = pd.read_excel('AC000120256042D2E_또래지명_응답.xlsx')
print(df)

    지명한 학생  학번 성별  문항번호 지명받은 학생
0      이서준   2  남     1     김하윤
1      이서준   2  남    14     김하윤
2      이서준   2  남    17     김하윤
3      조하린   3  여     3     김하윤
4      조하린   3  여    17     김하윤
..     ...  .. ..   ...     ...
559    류도현  18  남    16     백승우
560    신아린  19  여     2     백승우
561    신아린  19  여     3     백승우
562    신아린  19  여     8     백승우
563    신아린  19  여    13     백승우

[564 rows x 5 columns]

In [102]:
# 지명수 구하는 함수
def count_point(df, student_list, item_no) :
    temp_df = df[df['문항번호'].isin(item_no)]
    count_list = []
    for student in student_list :
        if len(temp_df[temp_df['지명받은 학생']==student]) >= 1 :
            freq = len(temp_df[temp_df['지명받은 학생']==student])
        elif len(temp_df[temp_df['지명받은 학생']==student]) == 0 :
            freq = 0
        count_list.append(freq)
    count_point_df = pd.DataFrame({'학생명': student_list, '지명수': count_list})
    return count_point_df

In [103]:
# 친한친구 14번
fri_item_no = [14]
count_point_df = count_point(df, student_list, fri_item_no)
print(count_point_df)

    학생명  지명수
0   김하윤   11
1   이서준    0
2   조하린    0
3   박시우    7
4   배수아    4
5   정하늘    0
6   윤지후    0
7   최다인    0
8   강예준    0
9   한지아    0
10  서준호    0
11  노지민    0
12  임유나    0
13  오태양    3
14  김소율    5
15  홍지호    0
16  장예림    0
17  류도현    0
18  신아린    0
19  백승우    1

In [104]:
# 공부친구 15번
stu_item_no = [15]
count_point_df = count_point(df, student_list, stu_item_no)
print(count_point_df)

    학생명  지명수
0   김하윤    0
1   이서준    0
2   조하린    0
3   박시우   12
4   배수아    0
5   정하늘    2
6   윤지후    8
7   최다인    0
8   강예준    0
9   한지아    0
10  서준호    0
11  노지민    0
12  임유나    0
13  오태양    0
14  김소율    0
15  홍지호    4
16  장예림    0
17  류도현    0
18  신아린    0
19  백승우   10

In [105]:
# 협동친구 16번
collabo_item_no = [16]
count_point_df = count_point(df, student_list, collabo_item_no)
print(count_point_df)

    학생명  지명수
0   김하윤    0
1   이서준    0
2   조하린    0
3   박시우    5
4   배수아    1
5   정하늘    0
6   윤지후    9
7   최다인    0
8   강예준    0
9   한지아    0
10  서준호    0
11  노지민    0
12  임유나    0
13  오태양    0
14  김소율    0
15  홍지호    4
16  장예림    0
17  류도현    0
18  신아린    1
19  백승우   12

In [106]:
# 선망친구 17번
envy_item_no = [17]
count_point_df = count_point(df, student_list, envy_item_no)
print(count_point_df)

    학생명  지명수
0   김하윤   12
1   이서준    0
2   조하린    0
3   박시우    4
4   배수아    6
5   정하늘    0
6   윤지후    0
7   최다인    0
8   강예준    0
9   한지아    0
10  서준호    0
11  노지민    0
12  임유나    1
13  오태양    1
14  김소율    3
15  홍지호    0
16  장예림    0
17  류도현    0
18  신아린    7
19  백승우    2

### 교사관계

In [107]:
# 교사 선호
prefer_item_no = [18]
count_point_df = count_point(df, student_list, prefer_item_no)
print(count_point_df)

    학생명  지명수
0   김하윤    0
1   이서준    0
2   조하린    0
3   박시우    2
4   배수아    0
5   정하늘    0
6   윤지후    5
7   최다인   12
8   강예준    0
9   한지아    0
10  서준호    0
11  노지민    0
12  임유나    0
13  오태양    0
14  김소율    0
15  홍지호    1
16  장예림    0
17  류도현    4
18  신아린    0
19  백승우    2

In [108]:
# 교사 비선호
notprefer_item_no = [19]
count_point_df = count_point(df, student_list, notprefer_item_no)
print(count_point_df)

    학생명  지명수
0   김하윤    0
1   이서준    0
2   조하린    7
3   박시우    0
4   배수아    0
5   정하늘    0
6   윤지후    0
7   최다인    0
8   강예준   13
9   한지아    0
10  서준호    0
11  노지민    4
12  임유나    0
13  오태양    0
14  김소율    2
15  홍지호    0
16  장예림    0
17  류도현    0
18  신아린    0
19  백승우    0

### 부모 관계

In [109]:
df = pd.read_excel('AC000120256042D2E_학생_자기보고_응답.xlsx')
print(df)

    학생명  학번 성별                                                응답값
0   김하윤   1  남  {"questionChoiceList":[{"questionNo":1,"choice...
1   이서준   2  남  {"questionChoiceList":[{"questionNo":1,"choice...
2   조하린   3  여  {"questionChoiceList":[{"questionNo":1,"choice...
3   박시우   4  남  {"questionChoiceList":[{"questionNo":1,"choice...
4   배수아   5  여  {"questionChoiceList":[{"questionNo":1,"choice...
5   정하늘   6  남  {"questionChoiceList":[{"questionNo":1,"choice...
6   윤지후   7  남  {"questionChoiceList":[{"questionNo":1,"choice...
7   최다인   8  여  {"questionChoiceList":[{"questionNo":1,"choice...
8   강예준   9  여  {"questionChoiceList":[{"questionNo":1,"choice...
9   한지아  10  여  {"questionChoiceList":[{"questionNo":1,"choice...
10  서준호  11  남  {"questionChoiceList":[{"questionNo":1,"choice...
11  노지민  12  여  {"questionChoiceList":[{"questionNo":1,"choice...
12  임유나  13  여  {"questionChoiceList":[{"questionNo":1,"choice...
13  오태양  14  남  {"questionChoiceList":[{"questionNo":1,"choice...
14  김소율  15  여  {"questionChoiceList":[{"questionNo":1,"choice...
15  홍지호  16  남  {"questionChoiceList":[{"questionNo":1,"choice...
16  장예림  17  여  {"questionChoiceList":[{"questionNo":1,"choice...
17  류도현  18  남  {"questionChoiceList":[{"questionNo":1,"choice...
18  신아린  19  여  {"questionChoiceList":[{"questionNo":1,"choice...
19  백승우  20  남  {"questionChoiceList":[{"questionNo":1,"choice...

In [110]:
response_arr = None
for i in range(len(df['응답값'])) :
    print(i+1)
    json_data = df['응답값'][i]
    json_data = json.loads(json_data)
    response_json_data = json_data['questionChoiceList']
    response_data = []

    for item in response_json_data:
        response_data.append(item['choiceScore'])
    if response_arr is None:
        response_arr = np.array(response_data)
    else:
        response_arr = np.vstack([response_arr, response_data])
        
print(response_arr)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
[['5' '5' '5' ... '1' '2' '1']
 ['1' '1' '1' ... '2' '1' '2']
 ['1' '2' '2' ... '4' '4' '4']
 ...
 ['3' '3' '3' ... '1' '1' '1']
 ['4' '3' '3' ... '1' '2' '2']
 ['3' '4' '4' ... '1' '1' '1']]

In [111]:
df = pd.concat([df[['학생명', '학번', '성별']], pd.DataFrame(response_arr)], axis=1)
print(df)

    학생명  학번 성별  0  1  2  3  4  5  6  ... 65 66 67 68 69 70 71 72 73 74
0   김하윤   1  남  5  5  5  5  5  5  3  ...  4  3  3  1  1  1  1  1  2  1
1   이서준   2  남  1  1  1  1  1  1  2  ...  3  2  2  2  1  1  1  2  1  2
2   조하린   3  여  1  2  2  1  1  1  2  ...  2  2  2  4  4  4  4  4  4  4
3   박시우   4  남  4  3  4  4  3  3  5  ...  4  4  5  2  1  1  1  1  2  2
4   배수아   5  여  3  3  3  2  2  3  5  ...  4  4  4  1  1  1  1  1  1  2
5   정하늘   6  남  4  5  5  4  5  4  3  ...  3  4  4  2  1  2  1  2  2  2
6   윤지후   7  남  3  3  2  3  3  2  3  ...  5  5  5  1  1  1  1  1  1  2
7   최다인   8  여  3  2  3  3  3  3  4  ...  5  5  5  1  1  1  1  1  1  1
8   강예준   9  여  2  1  2  1  1  2  2  ...  1  1  1  5  5  5  5  5  5  5
9   한지아  10  여  2  2  1  2  1  2  1  ...  3  3  3  1  2  2  1  2  2  1
10  서준호  11  남  2  3  3  2  3  3  3  ...  4  4  4  2  1  2  1  1  2  1
11  노지민  12  여  1  2  2  1  1  3  2  ...  2  2  2  2  2  3  2  2  2  2
12  임유나  13  여  3  3  3  3  3  4  5  ...  4  3  3  2  1  2  1  1  1  1
13  오태양  14  남  3  3  2  3  3  3  5  ...  3  3  4  1  1  1  1  1  1  1
14  김소율  15  여  4  4  5  5  4  3  3  ...  3  3  4  2  2  2  2  2  2  2
15  홍지호  16  남  3  3  3  3  3  2  3  ...  4  3  3  1  1  1  1  1  1  1
16  장예림  17  여  2  2  2  2  2  2  3  ...  2  2  2  1  1  2  1  2  1  2
17  류도현  18  남  3  3  3  3  3  2  4  ...  5  4  4  1  1  1  2  1  1  1
18  신아린  19  여  4  3  3  3  4  3  5  ...  4  4  4  2  1  1  2  1  2  2
19  백승우  20  남  3  4  4  3  4  3  5  ...  4  4  4  2  2  1  2  1  1  1

[20 rows x 78 columns]

In [112]:
print(len(df.columns[3:]))
col = []
for i in range(1,76) :
    col.append(i)
print(len(col))

df.columns = ['학생명', '학번', '성별'] + col

75
75

In [113]:
df

    학생명  학번 성별  1  2  3  4  5  6  7  ... 66 67 68 69 70 71 72 73 74 75
0   김하윤   1  남  5  5  5  5  5  5  3  ...  4  3  3  1  1  1  1  1  2  1
1   이서준   2  남  1  1  1  1  1  1  2  ...  3  2  2  2  1  1  1  2  1  2
2   조하린   3  여  1  2  2  1  1  1  2  ...  2  2  2  4  4  4  4  4  4  4
3   박시우   4  남  4  3  4  4  3  3  5  ...  4  4  5  2  1  1  1  1  2  2
4   배수아   5  여  3  3  3  2  2  3  5  ...  4  4  4  1  1  1  1  1  1  2
5   정하늘   6  남  4  5  5  4  5  4  3  ...  3  4  4  2  1  2  1  2  2  2
6   윤지후   7  남  3  3  2  3  3  2  3  ...  5  5  5  1  1  1  1  1  1  2
7   최다인   8  여  3  2  3  3  3  3  4  ...  5  5  5  1  1  1  1  1  1  1
8   강예준   9  여  2  1  2  1  1  2  2  ...  1  1  1  5  5  5  5  5  5  5
9   한지아  10  여  2  2  1  2  1  2  1  ...  3  3  3  1  2  2  1  2  2  1
10  서준호  11  남  2  3  3  2  3  3  3  ...  4  4  4  2  1  2  1  1  2  1
11  노지민  12  여  1  2  2  1  1  3  2  ...  2  2  2  2  2  3  2  2  2  2
12  임유나  13  여  3  3  3  3  3  4  5  ...  4  3  3  2  1  2  1  1  1  1
13  오태양  14  남  3  3  2  3  3  3  5  ...  3  3  4  1  1  1  1  1  1  1
14  김소율  15  여  4  4  5  5  4  3  3  ...  3  3  4  2  2  2  2  2  2  2
15  홍지호  16  남  3  3  3  3  3  2  3  ...  4  3  3  1  1  1  1  1  1  1
16  장예림  17  여  2  2  2  2  2  2  3  ...  2  2  2  1  1  2  1  2  1  2
17  류도현  18  남  3  3  3  3  3  2  4  ...  5  4  4  1  1  1  2  1  1  1
18  신아린  19  여  4  3  3  3  4  3  5  ...  4  4  4  2  1  1  2  1  2  2
19  백승우  20  남  3  4  4  3  4  3  5  ...  4  4  4  2  2  1  2  1  1  1

[20 rows x 78 columns]

In [114]:
df['정서적양육태도'] = df.loc[:, [i for i in range(60,69)]].mean(axis=1)

In [115]:
df['강압적양육태도'] = df.loc[:, [i for i in range(69,76)]].mean(axis=1)

In [116]:
df

,학생명,학번,성별,1,2,3,4,5,6,7,...,68,69,70,71,72,73,74,75,정서적양육태도,강압적양육태도
0,김하윤,1,남,5,5,5,5,5,5,3,...,3,1,1,1,1,1,2,1,38149381.444444,158731.571429
1,이서준,2,남,1,1,1,1,1,1,2,...,2,2,1,1,1,2,1,2,25913591.333333,301601.714286
2,조하린,3,여,1,2,2,1,1,1,2,...,2,4,4,4,4,4,4,4,24691246.888889,634920.571429
3,박시우,4,남,4,3,4,4,3,3,5,...,5,2,1,1,1,1,2,2,49383827.222222,301588.857143
4,배수아,5,여,3,3,3,2,2,3,5,...,4,1,1,1,1,1,1,2,49393716.0,158730.285714
5,정하늘,6,남,4,5,5,4,5,4,3,...,4,2,1,2,1,2,2,2,49271593.777778,303031.714286
6,윤지후,7,남,3,3,2,3,3,2,3,...,5,1,1,1,1,1,1,2,49393839.444444,158730.285714
7,최다인,8,여,3,2,3,3,3,3,4,...,5,1,1,1,1,1,1,1,61728395.0,158730.142857
8,강예준,9,여,2,1,2,1,1,2,2,...,1,5,5,5,5,5,5,5,12345679.0,793650.714286
9,한지아,10,여,2,2,1,2,1,2,1,...,3,1,2,2,1,2,2,1,37035925.888889,174460.142857
10,서준호,11,남,2,3,3,2,3,3,3,...,4,2,1,2,1,1,2,1,48259382.666667,303017.285714
11,노지민,12,여,1,2,2,1,1,3,2,...,2,2,2,3,2,2,2,2,25802469.111111,318888.857143
12,임유나,13,여,3,3,3,3,3,4,5,...,3,2,1,2,1,1,1,1,38160492.555556,303015.857143
13,오태양,14,남,3,3,2,3,3,3,5,...,4,1,1,1,1,1,1,1,37048148.222222,158730.142857
14,김소율,15,여,4,4,5,5,4,3,3,...,4,2,2,2,2,2,2,2,25914814.888889,317460.285714
15,홍지호,16,남,3,3,3,3,3,2,3,...,3,1,1,1,1,1,1,1,61605048.111111,158730.142857
16,장예림,17,여,2,2,2,2,2,2,3,...,2,1,1,2,1,2,1,2,12580246.888889,160173.142857
17,류도현,18,남,3,3,3,3,3,2,4,...,4,1,1,1,2,1,1,1,61606171.555556,158873.0
18,신아린,19,여,4,3,3,3,4,3,5,...,4,2,1,1,2,1,2,2,49382604.888889,301731.714286
19,백승우,20,남,3,4,4,3,4,3,5,...,4,2,2,1,2,1,1,1,49493938.222222,316015.857143

In [117]:
### 응답값 문자열인가?? 왜케 높게 나오지
df.dtypes

학생명        object
학번          int64
성별         object
1          object
2          object
            ...
73         object
74         object
75         object
정서적양육태도    object
강압적양육태도    object
Length: 80, dtype: object

In [118]:
df[[i for i in range(1,76)]] = df[[i for i in range(1,76)]].apply(pd.to_numeric, errors='coerce')

In [119]:
df.dtypes

학생명        object
학번          int64
성별         object
1           int64
2           int64
            ...
73          int64
74          int64
75          int64
정서적양육태도    object
강압적양육태도    object
Length: 80, dtype: object

In [120]:
df['정서적양육태도'] = df.loc[:, [i for i in range(60,69)]].mean(axis=1)
df['강압적양육태도'] = df.loc[:, [i for i in range(69,76)]].mean(axis=1)
print(df)

    학생명  학번 성별  1  2  3  4  5  6  7  ...  68  69  70  71  72  73  74  75  \
0   김하윤   1  남  5  5  5  5  5  5  3  ...   3   1   1   1   1   1   2   1
1   이서준   2  남  1  1  1  1  1  1  2  ...   2   2   1   1   1   2   1   2
2   조하린   3  여  1  2  2  1  1  1  2  ...   2   4   4   4   4   4   4   4
3   박시우   4  남  4  3  4  4  3  3  5  ...   5   2   1   1   1   1   2   2
4   배수아   5  여  3  3  3  2  2  3  5  ...   4   1   1   1   1   1   1   2
5   정하늘   6  남  4  5  5  4  5  4  3  ...   4   2   1   2   1   2   2   2
6   윤지후   7  남  3  3  2  3  3  2  3  ...   5   1   1   1   1   1   1   2
7   최다인   8  여  3  2  3  3  3  3  4  ...   5   1   1   1   1   1   1   1
8   강예준   9  여  2  1  2  1  1  2  2  ...   1   5   5   5   5   5   5   5
9   한지아  10  여  2  2  1  2  1  2  1  ...   3   1   2   2   1   2   2   1
10  서준호  11  남  2  3  3  2  3  3  3  ...   4   2   1   2   1   1   2   1
11  노지민  12  여  1  2  2  1  1  3  2  ...   2   2   2   3   2   2   2   2
12  임유나  13  여  3  3  3  3  3  4  5  ...   3   2   1   2   1   1   1   1
13  오태양  14  남  3  3  2  3  3  3  5  ...   4   1   1   1   1   1   1   1
14  김소율  15  여  4  4  5  5  4  3  3  ...   4   2   2   2   2   2   2   2
15  홍지호  16  남  3  3  3  3  3  2  3  ...   3   1   1   1   1   1   1   1
16  장예림  17  여  2  2  2  2  2  2  3  ...   2   1   1   2   1   2   1   2
17  류도현  18  남  3  3  3  3  3  2  4  ...   4   1   1   1   2   1   1   1
18  신아린  19  여  4  3  3  3  4  3  5  ...   4   2   1   1   2   1   2   2
19  백승우  20  남  3  4  4  3  4  3  5  ...   4   2   2   1   2   1   1   1

     정서적양육태도   강압적양육태도
0   3.444444  1.142857
1   2.333333  1.428571
2   1.888889  4.000000
3   4.222222  1.428571
4   4.000000  1.142857
5   3.777778  1.714286
6   4.444444  1.142857
7   5.000000  1.000000
8   1.000000  5.000000
9   2.888889  1.571429
10  3.666667  1.428571
11  2.111111  2.142857
12  3.555556  1.285714
13  3.222222  1.000000
14  2.888889  2.000000
15  4.111111  1.000000
16  1.888889  1.428571
17  4.555556  1.142857
18  3.888889  1.571429
19  4.222222  1.428571

[20 rows x 80 columns]

In [121]:
### !!! 사회적 관계 채점 함수

student_df = pd.read_excel('AC000120256042D2E_학생명단.xlsx')
student_list = student_df['학생명'].to_list()

point_df = pd.read_excel('AC000120256042D2E_또래지명_응답.xlsx')

self_df = pd.read_excel('AC000120256042D2E_학생_자기보고_응답.xlsx')

def social_relation_score(student_list, point_df, self_df):
    # 친한친구
    fri_item_no = [14]
    fri_count_df = count_point(point_df, student_list, fri_item_no)
    # 공부친구
    stu_item_no = [15]
    stu_count_df = count_point(point_df, student_list, stu_item_no)
    # 협동친구
    collabo_item_no = [16]
    collabo_count_df = count_point(point_df, student_list, collabo_item_no)
    # 선망친구
    envy_item_no = [17]
    envy_count_df = count_point(point_df, student_list, envy_item_no)
    # 교사 선호
    prefer_item_no = [18]
    prefer_count_df = count_point(point_df, student_list, prefer_item_no)
    # 교사 비선호
    notprefer_item_no = [19]
    notprefer_count_df = count_point(point_df, student_list, notprefer_item_no)
    
    # 자기보고 응답값
    response_arr = None
    for i in range(len(self_df['응답값'])):
        json_data = self_df['응답값'][i]
        json_data = json.loads(json_data)
        response_json_data = json_data['questionChoiceList']
        response_data = []

        for item in response_json_data:
            response_data.append(item['choiceScore'])
        if response_arr is None:
            response_arr = np.array(response_data)
        else:
            response_arr = np.vstack([response_arr, response_data])
    self_df = pd.concat([self_df[['학생명', '학번', '성별']], pd.DataFrame(response_arr)], axis=1)
    self_df.columns = ['학생명', '학번', '성별'] + [i for i in range(1, 76)]
    self_df[[i for i in range(1,76)]] = self_df[[i for i in range(1,76)]].apply(pd.to_numeric, errors='coerce')
    self_df['정서적양육태도'] = self_df.loc[:, [i for i in range(60, 69)]].mean(axis=1)
    self_df['강압적양육태도'] = self_df.loc[:, [i for i in range(69, 76)]].mean(axis=1)
    social_relation_score_df = pd.DataFrame({
        '학생명': self_df['학생명'],
        '학번': self_df['학번'],
        '성별': self_df['성별'],
        '친한친구': fri_count_df['지명수'],
        '공부친구': stu_count_df['지명수'],
        '협동친구': collabo_count_df['지명수'],
        '선망친구': envy_count_df['지명수'],
        '교사 선호': prefer_count_df['지명수'],
        '교사 비선호': notprefer_count_df['지명수'],
        '정서적양육태도': self_df['정서적양육태도'],
        '강압적양육태도': self_df['강압적양육태도']
    })
    return social_relation_score_df

In [122]:
social_relation_score_df = social_relation_score(student_list, point_df, self_df)
print(social_relation_score_df)

    학생명  학번 성별  친한친구  공부친구  협동친구  선망친구  교사 선호  교사 비선호   정서적양육태도   강압적양육태도
0   김하윤   1  남    11     0     0    12      0       0  3.444444  1.142857
1   이서준   2  남     0     0     0     0      0       0  2.333333  1.428571
2   조하린   3  여     0     0     0     0      0       7  1.888889  4.000000
3   박시우   4  남     7    12     5     4      2       0  4.222222  1.428571
4   배수아   5  여     4     0     1     6      0       0  4.000000  1.142857
5   정하늘   6  남     0     2     0     0      0       0  3.777778  1.714286
6   윤지후   7  남     0     8     9     0      5       0  4.444444  1.142857
7   최다인   8  여     0     0     0     0     12       0  5.000000  1.000000
8   강예준   9  여     0     0     0     0      0      13  1.000000  5.000000
9   한지아  10  여     0     0     0     0      0       0  2.888889  1.571429
10  서준호  11  남     0     0     0     0      0       0  3.666667  1.428571
11  노지민  12  여     0     0     0     0      0       4  2.111111  2.142857
12  임유나  13  여     0     0     0     1      0       0  3.555556  1.285714
13  오태양  14  남     3     0     0     1      0       0  3.222222  1.000000
14  김소율  15  여     5     0     0     3      0       2  2.888889  2.000000
15  홍지호  16  남     0     4     4     0      1       0  4.111111  1.000000
16  장예림  17  여     0     0     0     0      0       0  1.888889  1.428571
17  류도현  18  남     0     0     0     0      4       0  4.555556  1.142857
18  신아린  19  여     0     0     1     7      0       0  3.888889  1.571429
19  백승우  20  남     1    10    12     2      2       0  4.222222  1.428571

In [123]:
'''
양육태도는 왜 정수 반올림이지?
정예린에서 보면, y축 라벨이랑 안 맞음 / 값은 일치함
'''

'\n양육태도는 왜 정수 반올림이지?\n정예린에서 보면, y축 라벨이랑 안 맞음 / 값은 일치함\n'

## 또래지위와 사회적 행동

In [149]:
student_df = pd.read_excel('AC000120256042D2E_학생명단.xlsx')
student_list = student_df['학생명'].to_list()

point_df = pd.read_excel('AC000120256042D2E_또래지명_응답.xlsx')

self_df = pd.read_excel('AC000120256042D2E_학생_자기보고_응답.xlsx')

def peerstatus_socialbehavior(student_list, point_df, self_df) :
    # 정규화
    def normalize(z):
        if z >= 0.84:
            return 5
        elif z >= 0.25:
            return 4
        elif z >= -0.25:
            return 3
        elif z >= -0.84:
            return 2
        else:
            return 1
        
    # 인기
    popularity_item_no = [1]
    popularity_count_df = count_point(point_df, student_list, popularity_item_no) # 인기 지명수
    popularity_count_mean = popularity_count_df['지명수'].mean() # 인기 지명수 학급평균
    popularity_count_df['인기Z점수'] = (popularity_count_df['지명수'] - popularity_count_mean) / popularity_count_df['지명수'].std() # 인기 지명수 Z점수
    popularity_count_df['인기_정규화'] = popularity_count_df['인기Z점수'].apply(normalize)
    popularity_mean = popularity_count_df['인기_정규화'].mean()


    # 사회적 선호
    social_preference_item_no = [2]
    social_preference_count_df = count_point(point_df, student_list, social_preference_item_no) # 사회적 선호 지명수
    social_preference_count_mean = social_preference_count_df['지명수'].mean() # 사회적 선호 지명수 학급평균
    social_preference_count_df['사회적선호Z점수'] = (social_preference_count_df['지명수'] - social_preference_count_mean) / social_preference_count_df['지명수'].std() # 사회적 선호 지명수 Z점수
    social_preference_count_df['사회적선호_정규화'] = social_preference_count_df['사회적선호Z점수'].apply(normalize)
    social_preference_mean = social_preference_count_df['사회적선호_정규화'].mean()

    # 외현적 공격성
    overt_aggression_item_no = [4,5]
    overt_aggression_count_df = count_point(point_df, student_list, overt_aggression_item_no) # 외현적 공격성 지명수
    overt_aggression_count_mean = overt_aggression_count_df['지명수'].mean() # 외현적 공격성 지명수 학급평균
    overt_aggression_count_df['외현적공격성Z점수'] = (overt_aggression_count_df['지명수'] - overt_aggression_count_mean) / overt_aggression_count_df['지명수'].std() # 외현적 공격성 지명수 Z점수
    overt_aggression_count_df['외현적공격성_정규화'] = overt_aggression_count_df['외현적공격성Z점수'].apply(normalize)
    overt_aggression_mean = overt_aggression_count_df['외현적공격성_정규화'].mean()

    # 관계적 공격성
    relational_aggression_item_no = [6,7]
    relational_aggression_count_df = count_point(point_df, student_list, relational_aggression_item_no) # 관계적 공격성 지명수
    relational_aggression_count_mean = relational_aggression_count_df['지명수'].mean() # 관계적 공격성 지명수 학급평균
    relational_aggression_count_df['관계적공격성Z점수'] = (relational_aggression_count_df['지명수'] - relational_aggression_count_mean) / relational_aggression_count_df['지명수'].std() # 관계적 공격성 지명수 Z점수
    relational_aggression_count_df['관계적공격성_정규화'] = relational_aggression_count_df['관계적공격성Z점수'].apply(normalize)
    relational_aggression_mean = relational_aggression_count_df['관계적공격성_정규화'].mean()

    # 친사회성
    prosocial_item_no = [8,9]
    prosocial_count_df = count_point(point_df, student_list, prosocial_item_no) # 친사회성 지명수
    prosocial_count_mean = prosocial_count_df['지명수'].mean() # 친사회성 지명수 학급평균
    prosocial_count_df['친사회성Z점수'] = (prosocial_count_df['지명수'] - prosocial_count_mean) / prosocial_count_df['지명수'].std() # 친사회성 지명수 Z점수
    prosocial_count_df['친사회성_정규화'] = prosocial_count_df['친사회성Z점수'].apply(normalize)
    prosocial_mean = prosocial_count_df['친사회성_정규화'].mean()

    # 자기보고 JSON 전처리
    response_arr = None
    for i in range(len(self_df['응답값'])):
        json_data = self_df['응답값'][i]
        json_data = json.loads(json_data)
        response_json_data = json_data['questionChoiceList']
        response_data = []

        for item in response_json_data:
            response_data.append(item['choiceScore'])
        if response_arr is None:
            response_arr = np.array(response_data)
        else:
            response_arr = np.vstack([response_arr, response_data])
    self_df = pd.concat([self_df[['학생명', '학번', '성별']], pd.DataFrame(response_arr)], axis=1)
    self_df.columns = ['학생명', '학번', '성별'] + [i for i in range(1, 76)]
    self_df[[i for i in range(1,76)]] = self_df[[i for i in range(1,76)]].apply(pd.to_numeric, errors='coerce')
    
    # 인기추구 동기
    popularity_motivation_item_no = [1,2,3]
    self_df['인기추구동기'] = self_df.loc[:, popularity_motivation_item_no].mean(axis=1)
    popularity_motivation_mean = self_df['인기추구동기'].mean()  # 인기추구 동기 학급평균
    # 인기상실 불안
    popularity_loss_anxiety_item_no = [4,5,6]
    self_df['인기상실불안'] = self_df.loc[:, popularity_loss_anxiety_item_no].mean(axis=1)
    popularity_loss_anxiety_mean = self_df['인기상실불안'].mean()  # 인기상실 불안 학급평균

    return pd.DataFrame({
        '학생명': self_df['학생명'],
        '학번': self_df['학번'],
        '성별': self_df['성별'],
        '인기': popularity_count_df['인기_정규화'],
        '사회적선호_지명횟수' : social_preference_count_df['지명수'],
        '사회적선호': social_preference_count_df['사회적선호_정규화'],
        '외현적공격성': overt_aggression_count_df['외현적공격성_정규화'],
        '관계적공격성': relational_aggression_count_df['관계적공격성_정규화'],
        '친사회성': prosocial_count_df['친사회성_정규화'],
        '인기추구동기': self_df['인기추구동기'],
        '인기상실불안': self_df['인기상실불안']
    }), popularity_mean, social_preference_mean, overt_aggression_mean, relational_aggression_mean, prosocial_mean, popularity_motivation_mean, popularity_loss_anxiety_mean

In [150]:
df, popularity_mean, social_preference_mean, overt_aggression_mean, relational_aggression_mean, prosocial_mean, popularity_motivation_mean, popularity_loss_anxiety_mean = peerstatus_socialbehavior(student_list, point_df, self_df)

In [151]:
print(df)
print("============================================")
print("인기 지명수 학급평균:", popularity_mean)
print("사회적 선호 지명수 학급평균:", social_preference_mean)
print("외현적 공격성 지명수 학급평균:", overt_aggression_mean)
print("관계적 공격성 지명수 학급평균:", relational_aggression_mean)
print("친사회성 지명수 학급평균:", prosocial_mean)
print("인기추구 동기 학급평균:", popularity_motivation_mean)
print("인기상실 불안 학급평균:", popularity_loss_anxiety_mean)

    학생명  학번 성별  인기  사회적선호_지명횟수  사회적선호  외현적공격성  관계적공격성  친사회성    인기추구동기  \
0   김하윤   1  남   5           7      5       2       2     2  5.000000
1   이서준   2  남   2           0      2       2       2     2  1.000000
2   조하린   3  여   2           0      2       5       5     2  1.666667
3   박시우   4  남   3           2      3       2       2     5  3.666667
4   배수아   5  여   2           1      3       2       2     5  3.000000
5   정하늘   6  남   5           3      4       2       2     2  4.666667
6   윤지후   7  남   2           0      2       2       2     2  2.666667
7   최다인   8  여   2           0      2       2       2     2  2.666667
8   강예준   9  여   2           0      2       4       5     2  1.666667
9   한지아  10  여   2           0      2       2       2     2  1.666667
10  서준호  11  남   2           0      2       2       2     2  2.666667
11  노지민  12  여   2           0      2       5       5     2  1.666667
12  임유나  13  여   2           0      2       2       2     5  3.000000
13  오태양  14  남   2           4      5       2       2     5  2.666667
14  김소율  15  여   3           5      5       3       2     2  4.333333
15  홍지호  16  남   2           0      2       2       2     2  3.000000
16  장예림  17  여   2           0      2       2       2     2  2.000000
17  류도현  18  남   2           0      2       2       2     2  3.000000
18  신아린  19  여   2           0      2       2       2     5  3.333333
19  백승우  20  남   3           7      5       2       2     4  3.666667

      인기상실불안
0   5.000000
1   1.000000
2   1.000000
3   3.333333
4   2.333333
5   4.333333
6   2.666667
7   3.000000
8   1.333333
9   1.666667
10  2.666667
11  1.666667
12  3.333333
13  3.000000
14  4.000000
15  2.666667
16  2.000000
17  2.666667
18  3.333333
19  3.333333
============================================
인기 지명수 학급평균: 2.45
사회적 선호 지명수 학급평균: 2.8
외현적 공격성 지명수 학급평균: 2.45
관계적 공격성 지명수 학급평균: 2.45
친사회성 지명수 학급평균: 2.85
인기추구 동기 학급평균: 2.85
인기상실 불안 학급평균: 2.716666666666667

In [127]:
'''
인기추구 동기와 불안은 왜 정수 반올림이지?

인기 지명수 학급평균: 1.7619047619047619
사회적 선호 지명수 학급평균: 1.7142857142857142
외현적 공격성 지명수 학급평균: 2.4285714285714284
관계적 공격성 지명수 학급평균: 2.1904761904761907
친사회성 지명수 학급평균: 2.9047619047619047
평균값이 안맞는데 z점수 정규화 결과는 일차되게 나오네...? 정규화 때문인가?
'''

'\n인기추구 동기와 불안은 왜 정수 반올림이지?\n\n인기 지명수 학급평균: 1.7619047619047619\n사회적 선호 지명수 학급평균: 1.7142857142857142\n외현적 공격성 지명수 학급평균: 2.4285714285714284\n관계적 공격성 지명수 학급평균: 2.1904761904761907\n친사회성 지명수 학급평균: 2.9047619047619047\n평균값이 안맞는데 z점수 정규화 결과는 일차되게 나오네...? 정규화 때문인가?\n'

## 또래 괴롭힘과 심리적 특성

In [140]:
student_df = pd.read_excel('AC000120256042D2E_학생명단.xlsx')
student_list = student_df['학생명'].to_list()

point_df = pd.read_excel('AC000120256042D2E_또래지명_응답.xlsx')

self_df = pd.read_excel('AC000120256042D2E_학생_자기보고_응답.xlsx')

def peer_bullying_psychological_traits(student_list, point_df, self_df):
    # 정규화
    def normalize(z):
        if z >= 0.84:
            return 5
        elif z >= 0.25:
            return 4
        elif z >= -0.25:
            return 3
        elif z >= -0.84:
            return 2
        else:
            return 1

    # 가해
    perpetrator_item_no = [10, 11]
    perpetrator_count_df = count_point(point_df, student_list, perpetrator_item_no)  # 가해 지명수
    perpetrator_count_mean = perpetrator_count_df['지명수'].mean()  # 가해 지명수 학급평균
    perpetrator_count_df['가해Z점수'] = (perpetrator_count_df['지명수'] - perpetrator_count_mean) / perpetrator_count_df['지명수'].std(ddof=0)  # 가해 지명수 Z점수
    perpetrator_count_df['가해_정규화'] = perpetrator_count_df['가해Z점수'].apply(normalize)
    perpetrator_mean = perpetrator_count_df['가해_정규화'].mean()
    # 피해
    victim_item_no = [12, 13]
    victim_count_df = count_point(point_df, student_list, victim_item_no)  # 피해 지명수
    victim_count_mean = victim_count_df['지명수'].mean()  # 피해 지명수 학급평균
    victim_count_df['피해Z점수'] = (victim_count_df['지명수'] - victim_count_mean) / victim_count_df['지명수'].std(ddof=0)  # 피해 지명수 Z점수
    victim_count_df['피해_정규화'] = victim_count_df['피해Z점수'].apply(normalize)
    victim_mean = victim_count_df['피해_정규화'].mean()
    
    # 자기보고 JSON 전처리
    response_arr = None
    for i in range(len(self_df['응답값'])):
        json_data = self_df['응답값'][i]
        json_data = json.loads(json_data)
        response_json_data = json_data['questionChoiceList']
        response_data = []

        for item in response_json_data:
            response_data.append(item['choiceScore'])
        if response_arr is None:
            response_arr = np.array(response_data)
        else:
            response_arr = np.vstack([response_arr, response_data])
    self_df = pd.concat([self_df[['학생명', '학번', '성별']], pd.DataFrame(response_arr)], axis=1)
    self_df.columns = ['학생명', '학번', '성별'] + [i for i in range(1, 76)]
    self_df[[i for i in range(1,76)]] = self_df[[i for i in range(1,76)]].apply(pd.to_numeric, errors='coerce')
    
    # 인지적 공감
    cognitive_empathy_item_no = [7,8,9,10,11,12,13]
    self_df['인지적공감'] = self_df.loc[:, cognitive_empathy_item_no].mean(axis=1)
    cognitive_empathy_mean = self_df['인지적공감'].mean()  # 인지적공감 학급평균
    # 정서적 공감
    emotional_empathy_item_no = [14,15,16,17,18,19,20]
    self_df['정서적공감'] = self_df.loc[:, emotional_empathy_item_no].mean(axis=1)
    emotional_empathy_mean = self_df['정서적공감'].mean()  # 정서적곰감 학급평균
    # 내재화
    internalization_item_no = [21,22,23,24,25,26,27,28,29,30]
    self_df['내재화'] = self_df.loc[:, internalization_item_no].mean(axis=1)
    internalization_mean = self_df['내재화'].mean()  # 내재화 학급평균

    return pd.DataFrame({
        '학생명': self_df['학생명'],
        '학번': self_df['학번'],
        '성별': self_df['성별'],
        '가해 지명횟수' : perpetrator_count_df['지명수'],
        '가해 Z점수' : perpetrator_count_df['가해Z점수'],
        '가해': perpetrator_count_df['가해_정규화'],
        '피해': victim_count_df['피해_정규화'],
        '인지적공감': self_df['인지적공감'],
        '정서적공감': self_df['정서적공감'],
        '내재화': self_df['내재화']
    }), perpetrator_mean, victim_mean, cognitive_empathy_mean, emotional_empathy_mean, internalization_mean

In [142]:
df, perpetrator_mean, victim_mean, cognitive_empathy_mean, emotional_empathy_mean, internalization_mean = peer_bullying_psychological_traits(student_list, point_df, self_df)

print(df)
print("가해 학급평균:", perpetrator_mean)
print("피해 학급평균:", victim_mean)
print("인지적공감 학급평균:", cognitive_empathy_mean)
print("정서적공감 학급평균:", emotional_empathy_mean)
print("내재화 학급평균:", internalization_mean)

    학생명  학번 성별  가해 지명횟수    가해 Z점수  가해  피해     인지적공감     정서적공감  내재화
0   김하윤   1  남        1 -0.255989   2   2  3.142857  3.142857  1.8
1   이서준   2  남        0 -0.394362   2   5  2.857143  2.428571  4.1
2   조하린   3  여       29  3.618446   5   2  2.857143  2.285714  1.8
3   박시우   4  남        0 -0.394362   2   2  3.285714  3.857143  1.7
4   배수아   5  여        0 -0.394362   2   3  3.428571  4.000000  2.3
5   정하늘   6  남        0 -0.394362   2   2  3.142857  3.714286  1.9
6   윤지후   7  남        0 -0.394362   2   2  3.142857  2.857143  1.7
7   최다인   8  여        0 -0.394362   2   2  3.000000  3.000000  1.8
8   강예준   9  여       13  1.404483   5   3  2.857143  2.571429  2.5
9   한지아  10  여        0 -0.394362   2   5  2.714286  2.571429  2.5
10  서준호  11  남        0 -0.394362   2   3  3.000000  2.857143  2.0
11  노지민  12  여       14  1.542855   5   3  2.857143  2.428571  2.2
12  임유나  13  여        0 -0.394362   2   2  3.428571  3.857143  1.8
13  오태양  14  남        0 -0.394362   2   2  3.285714  3.857143  2.0
14  김소율  15  여        0 -0.394362   2   2  3.000000  3.285714  2.0
15  홍지호  16  남        0 -0.394362   2   2  3.142857  3.000000  1.9
16  장예림  17  여        0 -0.394362   2   3  2.857143  2.285714  2.3
17  류도현  18  남        0 -0.394362   2   2  3.000000  3.142857  1.8
18  신아린  19  여        0 -0.394362   2   2  3.285714  3.857143  2.0
19  백승우  20  남        0 -0.394362   2   2  3.428571  4.000000  1.8
가해 학급평균: 2.45
피해 학급평균: 2.55
인지적공감 학급평균: 3.0857142857142854
정서적공감 학급평균: 3.1499999999999995
내재화 학급평균: 2.0949999999999998

In [ ]:
"""
피해와 인지적공감와 내재화는 왜 정수 반올림?

학급평균값 다 안맞음.

25.07.17
가해 평균값이 이상함
실제 2.5인제 2.45로 산출됨
"""
# ! : 꼭 확인해야함.! : 꼭 확인해야함.! : 꼭 확인해야함.! : 꼭 확인해야함.! : 꼭 확인해야함.! : 꼭 확인해야함.! : 꼭 확인해야함.! : 꼭 확인해야함.! : 꼭 확인해야함.! : 꼭 확인해야함.
# ! -> 내가 평균값을 잘못 뽑았음. / std()에서 ddof=0을 빼먹었음.

'\n피해와 인지적공감와 내재화는 왜 정수 반올림?\n\n학급평균값 다 안맞음.\n\n25.07.17\n가해 평균값이 이상함\n실제 2.5인제 2.45로 산출됨\n'

## 학업적 적응

In [131]:
student_df = pd.read_excel('AC000120256042D2E_학생명단.xlsx')
student_list = student_df['학생명'].to_list()

self_df = pd.read_excel('AC000120256042D2E_학생_자기보고_응답.xlsx')

student_evaluation_df = pd.read_excel('AC000120256042D2E_교사_학생평가_응답.xlsx')

def academic_adaptation(student_list, self_df, student_evaluation_df):
    
    # 자기보고 JSON 전처리
    response_arr = None
    for i in range(len(self_df['응답값'])):
        json_data = self_df['응답값'][i]
        json_data = json.loads(json_data)
        response_json_data = json_data['questionChoiceList']
        response_data = []

        for item in response_json_data:
            response_data.append(item['choiceScore'])
        if response_arr is None:
            response_arr = np.array(response_data)
        else:
            response_arr = np.vstack([response_arr, response_data])
    self_df = pd.concat([self_df[['학생명', '학번', '성별']], pd.DataFrame(response_arr)], axis=1)
    self_df.columns = ['학생명', '학번', '성별'] + [i for i in range(1, 76)]
    self_df[[i for i in range(1,76)]] = self_df[[i for i in range(1,76)]].apply(pd.to_numeric, errors='coerce')
    
    # 행동적 수업참여
    academic_participation_item_no = [35,36,37,38,39]
    self_df['행동적수업참여'] = self_df.loc[:, academic_participation_item_no].mean(axis=1)
    academic_participation_mean = self_df['행동적수업참여'].mean()  # 행동적 수업참여 학급평균
    # 정서적 수업참여
    academic_emotional_participation_item_no = [40,41,42,43,44]
    self_df['정서적수업참여'] = self_df.loc[:, academic_emotional_participation_item_no].mean(axis=1)
    academic_emotional_participation_mean = self_df['정서적수업참여'].mean()  # 정서적 수업참여 학급평균
    # 협력적 태도
    cooperative_attitude_item_no = [45,46,47,48,49,50,51]
    self_df['협력적태도'] = self_df.loc[:, cooperative_attitude_item_no].mean(axis=1)
    cooperative_attitude_mean = self_df['협력적태도'].mean()  # 협력적 태도 학급평균
    # 경쟁적 태도
    competitive_attitude_item_no = [52,53,54,55,56,57,58,59]
    self_df['경쟁적태도'] = self_df.loc[:, competitive_attitude_item_no].mean(axis=1)
    competitive_attitude_mean = self_df['경쟁적태도'].mean()  # 경쟁적 태도 학급평균
    
    # 교사평정 성취도
    student_evaluation_item_no = [1]
    student_evaluation_df = student_evaluation_df[student_evaluation_df['문항번호'].isin(student_evaluation_item_no)].reset_index(drop=True)
    student_evaluation_df['응답값'] = student_evaluation_df['응답값'].apply(pd.to_numeric, errors='coerce')
    student_evaluation_mean = student_evaluation_df['응답값'].mean()  # 교사평정 성취도 학급평균

    return pd.DataFrame({
        '학생명': self_df['학생명'],
        '학번': self_df['학번'],
        '성별': self_df['성별'],
        '행동적수업참여': self_df['행동적수업참여'],
        '정서적수업참여': self_df['정서적수업참여'],
        '협력적태도': self_df['협력적태도'],
        '경쟁적태도': self_df['경쟁적태도'],
        '교사평정성취도': student_evaluation_df['응답값']
    }), academic_participation_mean, academic_emotional_participation_mean, cooperative_attitude_mean, competitive_attitude_mean, student_evaluation_mean

In [132]:
df, academic_participation_mean, academic_emotional_participation_mean, cooperative_attitude_mean, competitive_attitude_mean, student_evaluation_mean = academic_adaptation(student_list, self_df, student_evaluation_df)
print(df)
print("행동적 수업참여 학급평균:", academic_participation_mean)
print("정서적 수업참여 학급평균:", academic_emotional_participation_mean)
print("협력적 태도 학급평균:", cooperative_attitude_mean)
print("경쟁적 태도 학급평균:", competitive_attitude_mean)
print("교사평정 성취도 학급평균:", student_evaluation_mean)

    학생명  학번 성별  행동적수업참여  정서적수업참여     협력적태도  경쟁적태도  교사평정성취도
0   김하윤   1  남      3.4      3.6  3.428571  1.625        5
1   이서준   2  남      1.2      1.6  1.714286  1.375        3
2   조하린   3  여      1.8      1.8  1.571429  3.750        2
3   박시우   4  남      5.0      5.0  4.857143  1.875        4
4   배수아   5  여      4.4      4.2  4.571429  1.625        3
5   정하늘   6  남      3.8      4.0  3.714286  2.375        4
6   윤지후   7  남      4.8      5.0  3.142857  1.500        5
7   최다인   8  여      3.4      3.8  3.571429  1.375        5
8   강예준   9  여      2.4      2.2  2.000000  3.500        3
9   한지아  10  여      2.4      2.6  2.000000  1.250        2
10  서준호  11  남      3.2      3.6  2.571429  2.000        2
11  노지민  12  여      2.2      2.2  1.714286  2.875        1
12  임유나  13  여      3.2      3.2  5.000000  1.750        3
13  오태양  14  남      4.0      4.0  5.000000  1.750        4
14  김소율  15  여      3.6      2.6  3.714286  2.125        3
15  홍지호  16  남      4.2      4.2  3.142857  1.375        5
16  장예림  17  여      2.8      3.0  2.000000  1.500        2
17  류도현  18  남      3.2      4.0  3.571429  1.250        3
18  신아린  19  여      3.8      4.0  4.857143  2.000        4
19  백승우  20  남      5.0      5.0  4.714286  2.000        2
행동적 수업참여 학급평균: 3.3899999999999997
정서적 수업참여 학급평균: 3.4799999999999995
협력적 태도 학급평균: 3.3428571428571425
경쟁적 태도 학급평균: 1.94375
교사평정 성취도 학급평균: 3.25

In [133]:
'''
왜 정수 반올림이 되어있지?
학급평균 다 이상함
'''

'\n왜 정수 반올림이 되어있지?\n학급평균 다 이상함\n'

In [134]:
## 모든 데이터프레임을 하나로 합치기
def merge_dataframes(social_relation_df, peer_status_df, peer_bullying_df, academic_adaptation_df):
    return pd.merge(social_relation_df, peer_status_df, on=['학생명', '학번', '성별'], how='outer') \
        .merge(peer_bullying_df, on=['학생명', '학번', '성별'], how='outer') \
        .merge(academic_adaptation_df, on=['학생명', '학번', '성별'], how='outer')
social_relation_df = social_relation_score(student_list, point_df, self_df)
peer_status_df, popularity_count_mean, social_preference_count_mean, overt_aggression_count_mean, relational_aggression_count_mean, prosocial_count_mean, popularity_motivation_mean, popularity_loss_anxiety_mean = peerstatus_socialbehavior(student_list, point_df, self_df)
peer_bullying_df, perpetrator_count_mean, victim_count_mean, cognitive_empathy_mean, emotional_empathy_mean, internalization_mean = peer_bullying_psychological_traits(student_list, point_df, self_df)
academic_adaptation_df, academic_participation_mean, academic_emotional_participation_mean, cooperative_attitude_mean, competitive_attitude_mean, student_evaluation_mean = academic_adaptation(student_list, self_df, student_evaluation_df)
merged_df = merge_dataframes(social_relation_df, peer_status_df, peer_bullying_df, academic_adaptation_df)
print(merged_df)
# 엑셀로 저장
merged_df.to_excel('merged_student_data.xlsx', index=False)
print("모든 데이터프레임이 성공적으로 병합되어 'merged_student_data.xlsx'로 저장되었습니다.")

    학생명  학번 성별  친한친구  공부친구  협동친구  선망친구  교사 선호  교사 비선호   정서적양육태도  ...  가해  피해  \
0   김하윤   1  남    11     0     0    12      0       0  3.444444  ...   3   2
1   이서준   2  남     0     0     0     0      0       0  2.333333  ...   2   5
2   조하린   3  여     0     0     0     0      0       7  1.888889  ...   5   2
3   박시우   4  남     7    12     5     4      2       0  4.222222  ...   2   2
4   배수아   5  여     4     0     1     6      0       0  4.000000  ...   2   3
5   정하늘   6  남     0     2     0     0      0       0  3.777778  ...   2   2
6   윤지후   7  남     0     8     9     0      5       0  4.444444  ...   2   2
7   최다인   8  여     0     0     0     0     12       0  5.000000  ...   2   2
8   강예준   9  여     0     0     0     0      0      13  1.000000  ...   5   3
9   한지아  10  여     0     0     0     0      0       0  2.888889  ...   2   5
10  서준호  11  남     0     0     0     0      0       0  3.666667  ...   2   3
11  노지민  12  여     0     0     0     0      0       4  2.111111  ...   5   3
12  임유나  13  여     0     0     0     1      0       0  3.555556  ...   2   2
13  오태양  14  남     3     0     0     1      0       0  3.222222  ...   2   2
14  김소율  15  여     5     0     0     3      0       2  2.888889  ...   2   2
15  홍지호  16  남     0     4     4     0      1       0  4.111111  ...   2   2
16  장예림  17  여     0     0     0     0      0       0  1.888889  ...   2   3
17  류도현  18  남     0     0     0     0      4       0  4.555556  ...   2   2
18  신아린  19  여     0     0     1     7      0       0  3.888889  ...   2   2
19  백승우  20  남     1    10    12     2      2       0  4.222222  ...   2   2

       인지적공감     정서적공감  내재화  행동적수업참여  정서적수업참여     협력적태도  경쟁적태도  교사평정성취도
0   3.142857  3.142857  1.8      3.4      3.6  3.428571  1.625        5
1   2.857143  2.428571  4.1      1.2      1.6  1.714286  1.375        3
2   2.857143  2.285714  1.8      1.8      1.8  1.571429  3.750        2
3   3.285714  3.857143  1.7      5.0      5.0  4.857143  1.875        4
4   3.428571  4.000000  2.3      4.4      4.2  4.571429  1.625        3
5   3.142857  3.714286  1.9      3.8      4.0  3.714286  2.375        4
6   3.142857  2.857143  1.7      4.8      5.0  3.142857  1.500        5
7   3.000000  3.000000  1.8      3.4      3.8  3.571429  1.375        5
8   2.857143  2.571429  2.5      2.4      2.2  2.000000  3.500        3
9   2.714286  2.571429  2.5      2.4      2.6  2.000000  1.250        2
10  3.000000  2.857143  2.0      3.2      3.6  2.571429  2.000        2
11  2.857143  2.428571  2.2      2.2      2.2  1.714286  2.875        1
12  3.428571  3.857143  1.8      3.2      3.2  5.000000  1.750        3
13  3.285714  3.857143  2.0      4.0      4.0  5.000000  1.750        4
14  3.000000  3.285714  2.0      3.6      2.6  3.714286  2.125        3
15  3.142857  3.000000  1.9      4.2      4.2  3.142857  1.375        5
16  2.857143  2.285714  2.3      2.8      3.0  2.000000  1.500        2
17  3.000000  3.142857  1.8      3.2      4.0  3.571429  1.250        3
18  3.285714  3.857143  2.0      3.8      4.0  4.857143  2.000        4
19  3.428571  4.000000  1.8      5.0      5.0  4.714286  2.000        2

[20 rows x 28 columns]
모든 데이터프레임이 성공적으로 병합되어 'merged_student_data.xlsx'로 저장되었습니다.

In [135]:
# 학급 모든 평균값 출력
print("인기 지명수 학급평균:", round(popularity_count_mean,2))
print("사회적 선호 지명수 학급평균:", round(social_preference_count_mean, 2))
print("외현적 공격성 지명수 학급평균:", round(overt_aggression_count_mean, 2))
print("관계적 공격성 지명수 학급평균:", round(relational_aggression_count_mean, 2))
print("친사회성 지명수 학급평균:", round(prosocial_count_mean, 2))
print("인기추구 동기 학급평균:", round(popularity_motivation_mean, 2))
print("인기상실 불안 학급평균:", round(popularity_loss_anxiety_mean, 2))
print("=========================")
print("가해 지명수 학급평균:", round(perpetrator_count_mean, 2))
print("피해 지명수 학급평균:", round(victim_count_mean, 2))
print("인지적 공감 학급평균:", round(cognitive_empathy_mean, 2))
print("정서적 공감 학급평균:", round(emotional_empathy_mean, 2))
print("내재화 학급평균:", round(internalization_mean, 2))
print("=========================")
print("행동적 수업참여 학급평균:", round(academic_participation_mean, 2))
print("정서적 수업참여 학급평균:", round(academic_emotional_participation_mean, 2))
print("협력적 태도 학급평균:", round(cooperative_attitude_mean, 2))
print("경쟁적 태도 학급평균:", round(competitive_attitude_mean, 2))
print("교사평정 성취도 학급평균:", round(student_evaluation_mean, 2))

인기 지명수 학급평균: 2.45
사회적 선호 지명수 학급평균: 2.8
외현적 공격성 지명수 학급평균: 2.45
관계적 공격성 지명수 학급평균: 2.45
친사회성 지명수 학급평균: 2.85
인기추구 동기 학급평균: 2.85
인기상실 불안 학급평균: 2.72
=========================
가해 지명수 학급평균: 2.5
피해 지명수 학급평균: 2.55
인지적 공감 학급평균: 3.09
정서적 공감 학급평균: 3.15
내재화 학급평균: 2.09
=========================
행동적 수업참여 학급평균: 3.39
정서적 수업참여 학급평균: 3.48
협력적 태도 학급평균: 3.34
경쟁적 태도 학급평균: 1.94
교사평정 성취도 학급평균: 3.25