In [1]:
import mysql.connector
import pandas as pd

In [2]:
# 스쿨 프렌즈 디비 접속
import mysql.connector

# 데이터베이스 연결
conn = mysql.connector.connect(
    host="211.43.14.38",
    user="dorothy_dev_group",
    password="smartdjemals12#$",
    database="Inpsyt_stl",
    port=3308,
    charset='utf8mb4',
    collation='utf8mb4_general_ci'
)

# 커서 생성
cursor = conn.cursor()

# 테이블 목록 조회 쿼리 실행
cursor.execute("SHOW TABLES")

# 결과 가져오기
tables = cursor.fetchall()

# 테이블 목록 출력
for table in tables:
    print(table[0])

# 연결 종료
cursor.close()
conn.close()

assessment
at_basic_inquiry_val
at_criterion
at_enable_subs_scale
at_explanation
at_file_history
at_formula_code
at_formula_object
at_inspection
at_low_criterion_val
at_low_scale
at_psy_item_ver
at_question
at_question_choice
at_question_extra
at_scale_code
at_sub_psy_item
at_synthetic_criterion_val
at_synthetic_scale
at_upper_criterion_val
at_upper_scale
at_user_formula_score
at_user_scale_score
at_user_testing_paper
at_user_testing_paper_pn
at_user_testing_paper_sct
at_user_testing_paper_tr
board
category
common_cd
common_group_cd
counseling
member
member_add_info
member_auth
program
psy_class
psy_class_detail
psy_item
psy_item_detail
psy_online_code
psy_ord
psy_ord_class
psy_target_detail
school_class
school_info
school_student
school_teacher
ui_image

In [14]:
# 스쿨 프렌즈 디비 접속
import mysql.connector

# 데이터베이스 연결
conn = mysql.connector.connect(
    host="211.43.14.38",
    user="dorothy_dev_group",
    password="smartdjemals12#$",
    database="Inpsyt_stl",
    port=3308,
    charset='utf8mb4',
    collation='utf8mb4_general_ci'
)

# 커서 생성
cursor = conn.cursor()

cursor.execute("SHOW FULL COLUMNS FROM school_student")
for col in cursor.fetchall():
    print(col)

# 연결 종료
cursor.close()
conn.close()

('CLASS_CODE', 'varchar(20)', 'utf8mb3_general_ci', 'NO', 'PRI', None, '', 'select,insert,update,references', '학급코드')
('STUDENT_CODE', 'varchar(30)', 'utf8mb3_general_ci', 'NO', 'PRI', None, '', 'select,insert,update,references', '학생코드')
('STUDENT_NAME', 'varchar(200)', 'utf8mb3_general_ci', 'NO', '', None, '', 'select,insert,update,references', '학생이름')
('STUDENT_SEX', 'varchar(1)', 'utf8mb3_general_ci', 'NO', '', None, '', 'select,insert,update,references', '학생성별')
('STUDENT_BIRTH', 'varchar(200)', 'utf8mb3_general_ci', 'YES', '', None, '', 'select,insert,update,references', '학생생년월일')
('STUDENT_NUM', 'varchar(20)', 'utf8mb3_general_ci', 'NO', '', None, '', 'select,insert,update,references', '학생번호')
('STUDENT_CELLPHONE_NUM', 'varchar(200)', 'utf8mb3_general_ci', 'YES', '', None, '', 'select,insert,update,references', '학생전화번호')
('STUDENT_EMAIL', 'varchar(200)', 'utf8mb3_general_ci', 'YES', '', None, '', 'select,insert,update,references', '학생이메일')
('USE_YN', 'varchar(1)', 'utf8mb3_general_ci', 'NO', '', None, '', 'select,insert,update,references', '사용구분')
('MEMO', 'varchar(1000)', 'utf8mb3_general_ci', 'YES', '', None, '', 'select,insert,update,references', '비고사항')
('REG_MEMBER_NO', 'varchar(50)', 'utf8mb3_general_ci', 'NO', '', None, '', 'select,insert,update,references', '등록회원번호')
('REG_DATE', 'datetime', None, 'NO', '', 'current_timestamp()', '', 'select,insert,update,references', '등록일자')
('MOD_MEMBER_NO', 'varchar(50)', 'utf8mb3_general_ci', 'YES', '', None, '', 'select,insert,update,references', '수정회원번호')
('MOD_DATE', 'datetime', None, 'YES', '', None, '', 'select,insert,update,references', '수정일자')

In [15]:
# 스쿨 프렌즈 디비 접속
import mysql.connector

# 데이터베이스 연결
conn = mysql.connector.connect(
    host="211.43.14.38",
    user="dorothy_dev_group",
    password="smartdjemals12#$",
    database="Inpsyt_stl",
    port=3308,
    charset='utf8mb4',
    collation='utf8mb4_general_ci'
)

# 커서 생성
cursor = conn.cursor()

cursor.execute("SELECT * FROM school_student LIMIT 10")
rows = cursor.fetchall()

for row in rows:
    print(row)

# 연결 종료
cursor.close()
conn.close()

('AC0001202530148A8', 'AC0001202530148A8001', '488FAFC243ACED510DA71AD7912182AF', '1', 'F74F234A4BB32ABFFCF8A4C7083A0A1B', '1', '4386C2219302E28FA4FBD2DF40B1E472', '21757273320A383D7D994237AB390080', 'N', '비고 내용 없습니다.', 'M10000001', datetime.datetime(2025, 5, 21, 14, 0, 45), None, None)
('AC0001202530148A8', 'AC0001202530148A8002', '64D1549CB971CA391E96201D87229051', '2', 'E6B221893AFFB09A6F47C792FDDCFB6E', '2', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'N', '', 'M10000001', datetime.datetime(2025, 5, 21, 14, 0, 45), None, None)
('AC0001202530148A8', 'AC0001202530148A8003', 'C2533C0188EB7A26CC709BE342B5401F', '1', 'F97E5844CA6662D660E310949EB3CCDA', '3', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'Y', '', 'M10000001', datetime.datetime(2025, 5, 21, 14, 0, 45), None, None)
('AC0001202530148A8', 'AC0001202530148A8004', '35B6B11E82717A78189519F280DF39AA', '2', '477A38222E3129A19BE8D2C77196D140', '4', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'Y', '', 'M10000001', datetime.datetime(2025, 5, 21, 14, 0, 45), None, None)
('AC0001202530148A8', 'AC0001202530148A8005', '1BEDD2A6165F8F302E4153B02FF30FB6', '1', '488E4CBF0E683D63C6B42D51001FFCE0', '5', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'Y', '', 'M10000001', datetime.datetime(2025, 5, 21, 14, 0, 45), None, None)
('AC0001202530148A8', 'AC0001202530148A8006', '6FFBE95C2FB972F02EF34BBFAE6F11EC', '2', 'B836E5181C5285B95897A20B0B69FE69', '6', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'Y', '', 'M10000001', datetime.datetime(2025, 5, 21, 14, 0, 45), None, None)
('AC0001202530148A8', 'AC0001202530148A8007', '843B4D0FE53320AE178F03798DFF34ED', '1', 'E84575A2A1415EED243D4FE209A4717E', '7', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'Y', '', 'M10000001', datetime.datetime(2025, 5, 21, 14, 0, 45), None, None)
('AC0001202530148A8', 'AC0001202530148A8008', '0B4BEE18B28C5DE89E79B5847332AECB', '2', '02DFE020BC53AAD385A65FD69F3959A8', '8', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'Y', '', 'M10000001', datetime.datetime(2025, 5, 21, 14, 0, 45), None, None)
('AC0001202530148A8', 'AC0001202530148A8009', '3F933492094A89C15F02971CC89AC9C6', '1', 'D479E8E323334D177ED6EFE7DF5C5D5A', '9', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'Y', '', 'M10000001', datetime.datetime(2025, 5, 21, 14, 0, 45), None, None)
('AC0001202530148A8', 'AC0001202530148A8010', '15ADD423F00FB349DA4846AC63B8BC2F', '2', '9C084047379025B7FD7B68768AEDDF1D', '10', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'A6276C8D66029FF43FBADDEAA33B4AF1', 'Y', '', 'M10000001', datetime.datetime(2025, 5, 21, 14, 0, 45), None, None)

In [3]:
# AC000120253047CE9
# 스쿨 프렌즈 디비 접속
import mysql.connector

# 데이터베이스 연결
conn = mysql.connector.connect(
    host="211.43.14.38",
    user="dorothy_dev_group",
    password="smartdjemals12#$",
    database="Inpsyt_stl",
    port=3308,
    charset='utf8mb4',
    collation='utf8mb4_general_ci'
)

# 커서 생성
cursor = conn.cursor()

query = """
SELECT CAST(AES_DECRYPT( UNHEX(STUDENT_NAME), 'ehfhtl2015') AS CHAR),
	STUDENT_NUM '학번',
	CASE WHEN STUDENT_SEX = 1 THEN '남' ELSE '여' END  '성별' 
FROM school_student
WHERE CLASS_CODE = 'AC000120256013327';
"""

cursor.execute(query)
rows = cursor.fetchall()

df = pd.DataFrame(rows, columns=['학생명', '학번', '성별'])

# 연결 종료
cursor.close()
conn.close()

# Display the DataFrame
print(df)
df.to_excel('AC000120253047CE9_학생명단.xlsx', index=False)

    학생명  학번 성별
0   임시우   1  남
1   문예준   2  남
2   양유나   3  여
3   김수아   4  여
4   오예준   5  남
5   양예린   6  여
6   유지후   7  남
7   임채린   8  여
8   홍지환   9  남
9   임하율  10  여
10  최유나  11  여
11  한수아  12  여
12  윤민준  13  남
13  장서준  14  남
14  윤채린  15  여
15  강지환  16  남
16  유지환  17  남
17  이지후  18  남
18  서하은  19  여
19  오도윤  20  남
20  문유나  21  여

In [9]:
# AC000120253047CE9
# 스쿨 프렌즈 디비 접속
## 학생 또래지명
import mysql.connector
import pandas as pd

# 데이터베이스 연결
conn = mysql.connector.connect(
    host="211.43.14.38",
    user="dorothy_dev_group",
    password="smartdjemals12#$",
    database="Inpsyt_stl",
    port=3308,
    charset='utf8mb4',
    collation='utf8mb4_general_ci'
)

# 커서 생성
cursor = conn.cursor()

query = """
SELECT 
	CAST(AES_DECRYPT( UNHEX(C.STUDENT_NAME), 'ehfhtl2015') AS CHAR) AS '지명한 학생',
	C.STUDENT_NUM '학번',
	CASE WHEN C.STUDENT_SEX = 1 THEN '남' ELSE '여' END  '성별',
	B.QUESTION_NO '문항번호',
	CAST(AES_DECRYPT( UNHEX(D.STUDENT_NAME), 'ehfhtl2015') AS CHAR) AS '지명받은 학생'
FROM psy_target_detail A, at_user_testing_paper_pn B, school_student C, school_student D
WHERE 
	A.USER_TESTING_NO = B.USER_TESTING_NO
	AND A.TARGET_CODE = C.STUDENT_CODE
	AND B.STUDENT_CODE = D.STUDENT_CODE
	AND A.PSY_CODE = 'P2025052995C9'
	AND A.CLASS_CODE = 'AC000120253047CE9'
	AND A.PSY_TARGET = 'STUDENT';
"""

cursor.execute(query)
rows = cursor.fetchall()

df = pd.DataFrame(rows, columns=['지명한 학생', '학번', '성별', '문항번호', '지명받은 학생'])

# 연결 종료
cursor.close()
conn.close()

# Display the DataFrame
print(df)
df.to_excel('AC000120253047CE9_또래지명_응답.xlsx', index=False)

    지명한 학생  학번 성별  문항번호 지명받은 학생
0      정도윤   5  남     2     윤지후
1      정도윤   5  남     8     윤지후
2      정도윤   5  남     9     윤지후
3      정도윤   5  남    14     윤지후
4      정도윤   5  남    15     윤지후
..     ...  .. ..   ...     ...
515    정채원  20  여     1     장예린
516    정채원  20  여     2     장예린
517    정채원  20  여     9     장예린
518    정채원  20  여    17     장예린
519    정채원  20  여    18     장예린

[520 rows x 5 columns]

In [10]:
## 학생 자기보고
# 데이터베이스 연결
conn = mysql.connector.connect(
    host="211.43.14.38",
    user="dorothy_dev_group",
    password="smartdjemals12#$",
    database="Inpsyt_stl",
    port=3308,
    charset='utf8mb4',
    collation='utf8mb4_general_ci'
)

# 커서 생성
cursor = conn.cursor()

query = """
SELECT 
	CAST(AES_DECRYPT( UNHEX(C.STUDENT_NAME), 'ehfhtl2015') AS CHAR) AS STUDENT_NAME,
	C.STUDENT_NUM '학번',
	CASE WHEN C.STUDENT_SEX = 1 THEN '남' ELSE '여' END  '성별',
	B.PAPER_JSON '응답값'
FROM psy_target_detail A, at_user_testing_paper B, school_student C
WHERE 
	A.USER_TESTING_NO = B.USER_TESTING_NO
	AND A.TARGET_CODE = C.STUDENT_CODE
	AND A.PSY_CODE = 'P2025052995C9'
	AND A.CLASS_CODE = 'AC000120253047CE9'
	AND A.PSY_TARGET = 'STUDENT';
"""

cursor.execute(query)
rows = cursor.fetchall()

df = pd.DataFrame(rows, columns=['학생 이름', '학번', '성별', '응답값'])

# 연결 종료
cursor.close()
conn.close()

# Display the DataFrame
print(df)
df.to_excel('AC000120253047CE9_자기보고_응답.xlsx', index=False)

   학생 이름  학번 성별                                                응답값
0    윤지후   1  남  {"questionChoiceList":[{"questionNo":1,"choice...
1    신채원   2  여  {"questionChoiceList":[{"questionNo":1,"choice...
2    이민준   3  남  {"questionChoiceList":[{"questionNo":1,"choice...
3    양지호   4  남  {"questionChoiceList":[{"questionNo":1,"choice...
4    정도윤   5  남  {"questionChoiceList":[{"questionNo":1,"choice...
5    오채원   6  여  {"questionChoiceList":[{"questionNo":1,"choice...
6    조수아   7  여  {"questionChoiceList":[{"questionNo":1,"choice...
7    이우진   8  남  {"questionChoiceList":[{"questionNo":1,"choice...
8    임유나   9  여  {"questionChoiceList":[{"questionNo":1,"choice...
9    홍하은  10  여  {"questionChoiceList":[{"questionNo":1,"choice...
10   김채린  11  여  {"questionChoiceList":[{"questionNo":1,"choice...
11   이지호  12  남  {"questionChoiceList":[{"questionNo":1,"choice...
12   양지아  13  여  {"questionChoiceList":[{"questionNo":1,"choice...
13   장지호  14  남  {"questionChoiceList":[{"questionNo":1,"choice...
14   류지후  15  남  {"questionChoiceList":[{"questionNo":1,"choice...
15   서지호  16  남  {"questionChoiceList":[{"questionNo":1,"choice...
16   박민준  17  남  {"questionChoiceList":[{"questionNo":1,"choice...
17   홍지호  18  남  {"questionChoiceList":[{"questionNo":1,"choice...
18   조서윤  19  여  {"questionChoiceList":[{"questionNo":1,"choice...
19   정채원  20  여  {"questionChoiceList":[{"questionNo":1,"choice...
20   장예린  21  여  {"questionChoiceList":[{"questionNo":1,"choice...

In [11]:
## 학생 문장완성
# 데이터베이스 연결
conn = mysql.connector.connect(
    host="211.43.14.38",
    user="dorothy_dev_group",
    password="smartdjemals12#$",
    database="Inpsyt_stl",
    port=3308,
    charset='utf8mb4',
    collation='utf8mb4_general_ci'
)

# 커서 생성
cursor = conn.cursor()

query = """
SELECT 
	CAST(AES_DECRYPT( UNHEX(C.STUDENT_NAME), 'ehfhtl2015') AS CHAR) AS '학생명',
	C.STUDENT_NUM '학번',
	CASE WHEN C.STUDENT_SEX = 1 THEN '남' ELSE '여' END  '성별',
	B.QUESTION_NO '문항번호',
	B.INPUT_DATA '응답값'
FROM psy_target_detail A, at_user_testing_paper_sct B, school_student C
WHERE 
	A.USER_TESTING_NO = B.USER_TESTING_NO
	AND A.TARGET_CODE = C.STUDENT_CODE
	AND A.PSY_CODE = 'P2025052995C9'
	AND A.CLASS_CODE = 'AC000120253047CE9'
	AND A.PSY_TARGET = 'STUDENT';
"""

cursor.execute(query)
rows = cursor.fetchall()

df = pd.DataFrame(rows, columns=['학생명', '학번', '성별', '문항번호', '응답값'])

# 연결 종료
cursor.close()
conn.close()

# Display the DataFrame
print(df)
df.to_excel('AC000120253047CE9_문장완성_응답.xlsx', index=False)

     학생명  학번 성별  문항번호               응답값
0    윤지후   1  남     1       친구 편을 들어준다.
1    윤지후   1  남     2             궁금하다.
2    윤지후   1  남     3        시간이 느리게 가는
3    윤지후   1  남     4     공부 안하고 놀게 된다.
4    윤지후   1  남     5          아무렇지 않다.
..   ...  .. ..   ...               ...
142  장예린  21  여     3  지루하지만 알루하지만 보람있는
143  장예린  21  여     4             재미있다.
144  장예린  21  여     5     열심히 했구나 생각한다.
145  장예린  21  여     6    그럴 수 있다고 생각한다.
146  장예린  21  여     7     맛있는 음식을 해주신다.

[147 rows x 5 columns]

In [12]:
## 학생평가
# 데이터베이스 연결
conn = mysql.connector.connect(
    host="211.43.14.38",
    user="dorothy_dev_group",
    password="smartdjemals12#$",
    database="Inpsyt_stl",
    port=3308,
    charset='utf8mb4',
    collation='utf8mb4_general_ci'
)

# 커서 생성
cursor = conn.cursor()

query = """
SELECT  
	CAST(AES_DECRYPT(UNHEX(C.STUDENT_NAME), 'ehfhtl2015') AS CHAR) AS '학생명',
	B.QUESTION_NO AS '문항번호',
	B.SELECT_DATA AS '응답값'
FROM psy_target_detail A, at_user_testing_paper_tr B, school_student C
WHERE 
	A.USER_TESTING_NO = B.USER_TESTING_NO
	AND B.STUDENT_CODE = C.STUDENT_CODE
	AND A.PSY_CODE = 'P2025052995C9'
	AND A.CLASS_CODE = 'AC000120253047CE9'
	AND A.PSY_TARGET = 'TEACHER';
"""

cursor.execute(query)
rows = cursor.fetchall()

df = pd.DataFrame(rows, columns=['학생명', '문항번호', '응답값'])

# 연결 종료
cursor.close()
conn.close()

# Display the DataFrame
print(df)
df.to_excel('AC000120253047CE9_학생평가_응답.xlsx', index=False)

     학생명  문항번호 응답값
0    윤지후     1   2
1    윤지후     2   1
2    윤지후     3   2
3    윤지후     4   2
4    윤지후     5   2
..   ...   ...  ..
247  장예린     8   5
248  장예린     9   3
249  장예린    10   2
250  장예린    11   3
251  장예린    12   5

[252 rows x 3 columns]

In [13]:
## 교사 및 학급 평가
# 데이터베이스 연결
conn = mysql.connector.connect(
    host="211.43.14.38",
    user="dorothy_dev_group",
    password="smartdjemals12#$",
    database="Inpsyt_stl",
    port=3308,
    charset='utf8mb4',
    collation='utf8mb4_general_ci'
)

# 커서 생성
cursor = conn.cursor()

query = """
SELECT 
	B.PAPER_JSON '응답값'
FROM psy_target_detail A, at_user_testing_paper B
WHERE 
	A.USER_TESTING_NO = B.USER_TESTING_NO
	AND A.PSY_CODE = 'P2025052995C9'
	AND A.CLASS_CODE = 'AC000120253047CE9'
	AND A.PSY_TARGET = 'TEACHER';
"""

cursor.execute(query)
rows = cursor.fetchall()

df = pd.DataFrame(rows, columns=['응답값'])

# 연결 종료
cursor.close()
conn.close()

# Display the DataFrame
print(df)
df.to_excel('AC000120253047CE9_교사 및 학급 평가_응답.xlsx', index=False)

                                                 응답값
0  {"questionChoiceList":[{"questionNo":1,"choice...